
<div>
	<p>
		<h2>Listed Building: Furnace Farmhouse</h2>	
		<br>
		<h>Notification obligations</h>
		<br>
			<li>
				The {{ FFHO }} has an obligation to comply with Listed Building regulations. 
		<br>
				Any failure to notify changes in compliance with the Act is a strict libility offence at law and when discoverable are enforceable by remedies available at the discress ion of the regulator by either remedy; 
				<ol type="a">  
					<br>
						<li>
						 	reinstatement of the unuauthorised change to original status
						</li>
						 or 
						 <li>
						 	regularisation of the unauthorised change
						 </li>
				</ol>
		<br>
				The regulations applicable to {{ FFH }} contain provisions binding the {{ FFHO }} to notify ;
		<br>
					<ol type="a">
						<li>
							unauthorised changes conducted prior to {{ NHBI }} ownership
						</li>
							<br>
						<li>
							unauthorised changes conducted during  {{ NHBI }} ownership
						</li>
							<br>
						<li>
							repairs to the scheduled building (or any part of the title) undertaken by {{ NHBI }} (and or any contractor) that are not compliant with regulations
						</li>
							<br>
						<li>
							proposed alterations to any part of the scheduled building and or title curtledge
						</li>
					</ol>
			</li>
		<br>
		<h> Breaches of Listed Building Regulations</h>
			<li>
				Multiple examples of Listed Building legislation Regulatory Breaches are exhibited at {{ FFH }}. 
					<br>
				Defective alterations to buiding fabric include;
				<br>
					<h> <bold> Timber frame </bold></h>
						<br>
							<ol type="i">
								<li>
									Multiple Timber frame beams:  cut away and replaced with inappropriate make-shift blocks.
									<br>
										<h>  Unauthorised damage and alterations to the Timber frame impacts notable and protected attributes of the listing building</h>
											<ol type="a">
												<li>
													Timbers form a principle component and character  feature of the principal facade of the building protected by the listing: severing and replacement with inappropriate methodology of repair and inappropriate materials undermine the historic integrity of the building 
												</li>
													<br>
												<li>
													Timbers form a key component of the facade main structure: alterations thereto compromise the stability and integrity of the structure
												</li>
													<br>
												<li>
													The effective integrity and utility of the timbers have been diminshed: the structure is exposed to structural risk and excellerated detertioration due to the unauthorised alteration of the building frame 
												</li>
											</ol>
								</li>
									<br>
								<li>
									Multiple Timber foundation beams and plates exhibiting extensive degredation resultant from rot / infestation;
									<br>
										<ol>
											<li>
												filled with concrete (breach of listed building regulations)
											</li>
												<br>
											<li>
												filled with foam (breach of listed building regulations)
											</li>
									<br>
								</li>
									<h>non compatible alterations to the structure using inappropriate materials and techniques</h>
									<br>
										<ol type="a">
											<li>
												use of cavity foam to damaged timbers creates a habitat space for invasive species
											</li>
												<br>
											<li>
												use of concrete infilled to damaged timbers traps damp and moisture and prevents the natural drying process of timbers promoting rot and decay
											</li>
										</ol>
									<br>
							</ol>
								<li>
									Multiple Timber frame beams: patched with inappropriate marine ply / softwood trapping in rotten / damp damaged beams
									<h>Risk arising from unauthorised alteration</h>
										<ol type="a">
											<li>
												alterations create additional cavities within the timber structure increasing the opportunity for infestations
											</li>
												<br>
											<li>
												alterations reduce the structural integrity of the building
											</li>
												<br>
											<li>
												alterations create new  and additional weathering risk exposure locations that will increase the number of entry points for water and damp ingress to the structure
											</li>
												<br>
											<li>
												panels applied to the exteriour of the timber frame will trap water and excellerate damp, rot and cavity spaces to host infestations that will excellerate damage to the protected structure
											</li>
										</ol>

				</li>
									<br>
								<li>
									Multiple Timber frames inappropriately filled with concrete and foam 
								</li>
									<h>non compatible alterations to the structure using inappropriate materials and techniques</h>
										<ol type="a">
											<li>
												use of cavity foam to damaged timbers creates a habitat space for invasive species
											</li>
												<br>
											<li>
												use of concrete infilled to damaged timbers traps damp and moisture and prevents the natural drying process of timbers promoting rot and decay
											</li>
										</ol>
							</ol>
								<br>
					<h> <bold> Timber roof structure </bold></h>
						<br>
							<ol>
								<li>
									Roof soffits and rafters patched with inappropriate concrete material
								</li>
									<br>
								<li>
									
								</li>
							</ol>
								<br>
					<h> <bold> Lathe & plaster and rendered surfaces </bold></h>
						<br>
							<ol>
								<li>
									Lathe and plaster 
								</li>
									<br>
								<li>
									Plasted surfaces
								</li>
							</ol>
								<br>
					<h> <bold> Masonry and stone structure</bold></h>
						<br>
							<ol>
								<li>
									
								</li>
									<br>
								<li>
									
								</li>
									<br>
								<li>
									
								</li>
							</ol>
						<br>
					<h> <bold> Roof and wall tiled surfaces </bold></h>
						<br>
							<ol>
								<li>
									Tiles of incorrect spacifications used to replace character facades
								</li>
									<br>
								<li>
									Tiles fixed to structure by unappropriate cementing methods
								</li>
									<br>
								<li>
									
								</li>
							</ol>
						<br>
					<h> <bold> External fixtures </bold></h>
						<br>
							<ol>
								<li>
									Television Aerial
								</li>
									<br>
								<li>
									Solar Panel
								</li>
									<br>
								<li>
									Cameras, brackets and cabling
								</li>
									<br>
								<li>
									Coms cables
								</li>
							</ol>
						<br>
					</li>
				<br>
					<h>Changes to Listed building subject to Regulation/s</h>
					<br>
						<h>Additions to Listed Building requiring listed building consent</h>
							<br>
								<li>
									<ol type="A">
										<h> Coms, Security Aerials and Brodcast infrastructure</h>
											<br>
												<ol type="a">
													<li>
														Brackets and cables for tele-communication infrastructure
													</li>
														<br>
													<li>
														Satellite dish/es,brackets, external cabling
													</li>
														<br>
													<li>
														Solar panel/s,brackets, external cabling
													</li>
														<br>
													<li>
														Television aerial/s,brackets, external cabling
													</li>
														<br>
													<li>
														External speaker/s,brackets, external cabling
													</li>
														<br>
													<li>
														CCTV/ Camera/s, brackets, external cabling
													</li>
														<br>
													<li>
														Flood Light lamps,  brackets, external cabling
													</li>
												</ol>
											<br>
										</li>
									<h>Building structures appended to the listed building</h>
										<br>
											<ol type="a">
												<br>
													<li>
														porches
													</li>
														<br>
													<li>
														conservatories / orangeries
													</li>
														<br>
													<li>
														extentions
													</li>
														<br>
													<li>
														roof lights / (velux type) 
													</li>
														<br>
													<li>
														chimneys
													</li>
											</ol>
										<br>
									<h>Building structures within the bounds of the listed building title plot</h>
										<br>
											<ol type="a">
												<br>
													<li>
														greenhouses
													</li>
														<br>
													<li>
														garden sheds
													</li>
														<br>
													<li>
														compounds and enclosures
													</li>
														<br>
													<li>
														tanks and fuel vessels above ground
													</li>
												<br>
											</ol>
									<h>Ground alterations, installation of ;paving, aggregate substrates</h>
										<br>
											<ol type="a">
												<br>
													<li>
														bunds
													</li>
														<br>
													<li>
														aggregate surfaces, drives, pathways, patios
													</li>
														<br>
													<li>
														ground stabalisation and drainage works
													</li>
												<br>
											</ol>
									<h>Excavation, trenching, or burying of infrstructure</h>
										<br>
											<ol type="a">
												<br>
													<li>
														foundation, underpinning 
													</li>
														<br>
													<li>
														cables
													</li>
														<br>
													<li>
														cables , pipes, conduits
													</li>
														<br>
													<li>
														sub-terrainian tanks
													</li>
												<br>
											</ol>
						<h2>Alterations to Listed Building requiring listed building consent</h2>
	</p>
</div>


