<!DOCTYPE html>
<html lang="en">
<p>
FAO: Mr Culley 
Planning Enforcement
Tunbride Wells Borough Council

Dear Mr Culley,

<h> Your Ref.: Furnace Farm complaints </h>

<p>
	<h> Schedule A : Correspondence <h>
		<ol type="1">
			<li>
				Acknowledge receipt of correspondence;
				<ol type="i">
					<li>
						dated;  12/12/2025
					</li>
					<li>
						ref.; {{ XXXX }}
					</li>
					<li>
						author; Culley
					</li>
				</ol>
			</li
			<li>
				Administrative status attributes
				<ol type="i">
					<li>
						requested reply-by;  01/01/2026
					</li>
					<li>
						standards; PACE, GOV, CPR, TCPA
					</li>
				</ol>
			</li>
			<li>
				Procedural factors 
				<ol type="i">
					<li>
						propogator; complaint/s, allegation/s
					</li>
					<li>
						juristiction procedure; planning , enforcement
					</li>
					<li>
						applicable mode/s; 
						investigate, resolve, regularise, enforcement
					</li>
					<li>
						change ; legislation, license, entitlement
					</li>
				</ol>
			</li>

			<li>
				Material Factors
				<ol type="i">
					<li>
						change in status; none
					</li>
					<li>
						change to operations or intensity
					</li>
					<li>
						change in environmental impact
					</li>
					<li>
						change in environmental impact
					</li>
					<li>
						relevant event 
					</li>
				</ol>

				Relevant Parties
				<ol type="i">
					<li>
						Respondent to TWBC Planning Enforcement: Furnace Farm
					</li>
					<li>
						prior relevant disclosure:
						<br>
						<p>
							Purgered statements to;
							<ol type="i">
								<li>
								 	Justice Keith High Court ; 1. Legal , 2. planning_&_Pamberi, legal_
								</li>
								<li>
									Justice High Crown Court Appeal; planning_Jarvis, legal_
								</li>
								<li>
									Magistrates  Sevenoaks Magistrates Court; planning_Jarvis, legal_
								</li>
								<li>
									Planning Inspectorate, planner- Bringloe
								</li>
								<li>
									Kent Police ACC Ainswoth etc
								</li>
								<li>
									English Heritage , 
								</li>
						</p>

						</li>
							<li>
						<h2> The Complainant/s </h2>
					<br>
							<h> {{ NHBI }} , {{ MMAM }} {{ NHB }} <h>
							<li>
								The owner of {{ FFH }} is speculative investor namely; {{ NHBI }} that appoints it's property management functions to {{ MMAM }} : Both companies {{ MMAM }} {{ NHBI }} are operated and owned by te same directors namely; {{  names of Directors }} 
							</li>
					<br>
						<h> Activity of {{ NHBI }} <h>
							<li>
								{{ NHBI }} is a speculative property investor which has garnered prolific unfavourable national press as a result of validated investigations in relation to it's conduct.
							</li>
					<br>
						<h> Conduct of {{ NHBI }} <h>
							<li>
								{{ NHBI }} Director convicted of Fraud and Deception following prosecution by Bighton & Hove Council (national press)
							</li>
							<li>
								Conduct; {{ NHBI }} have an extensive negative press "back-catalogue" regarding conduct related to it's contraveresial property speculation conduct
							</li>
							<li>
								Conduct: {{ NHBI }} has exhibited repetitive threatening an intimdating conduct intended to cause harm and necessarily applied as part of an aggressive strategic property acquistion tactic
							</li>
					<br>

							<ol type="i">
								<li>
									requested reply-by;  01/01/2026
								</li>
								<li>
									standards; PACE, GOV, CPR, TCPA
								</li>
						</ol>
					</li>
				</ol>
			</li>
		</ol>
	<h> Events logged relevant to correspondence Ref.; {{ XXXX }} </h>
		<br>
</P>
	<ol type="">
		<h2> conspiracy to commit theft : apprehended {{ FF }} </h2>
	<br>
			<ol type="A">
				<li>
					worm
					<ol type="1">
						<li>
							removal of wire fastening retainer hinge installed to secure pallet in place
						</li>
						<li>
							removal of pallet from surface drainage protection location
						</li>
						<li>
							removing pallet to a position and placing the pallet (an access track infrastructure management item) to another location that is;
							<ol type="i">
								<li>
									placed in an inappropriate location capable of inviting interference and causing a liability
								</li>
								<li>
									in a prominent unsecured position serving no beneficial purpose, 
								</li>
								<li>
									creating an unneccessary and implicitly avoidable hazard upon users of the {{ FF }} access track,
								</li>
								<li>
									in a dangerous position capable of causing injury to a class of personal chattel
								</li>
								<li>
									in an unsecured position that creates a legal liability to {{ FF }} and by consequence for undertaking the action of moving the chattel a tangible recoverable liability from NHB
								</li>
								<li>
									permitted a representative of {{ FFHO }} to undertake a hazardous manual task on {{ FF }} without permision from {{ FF }};
									<ol type="a">
										<li>
											without confirming to {{ FF }} that the designated  person was;
											<ol type="i">
											<h> personel duty of care </h>ol>
												<li>
													adequately trained to undertake the task
												</li>
												<li>
													provided with the appropriate equipment to lift a heavy item
												</li>
												<li>
													utilising  appropriate PPE for the task
												</li>
											</ol>
										</li>
											without undertaking competent administration tasks;
											<ol type=""> 
										<li>
											undertaking an appropriate risk assessment
										</li>
										<li>
											arranging appropriate  supervision during the task
										</li>
										<li>
											preserving a competent and adequate record of the task in relation to the handling and placement of a 3rd party asset / chattel on third party land
										</li>
										<li>
											challenging the adopted standard taken at {{ FF }} in relation to the Health & Safety at Work Regulations Act,
										</li>
									</ol>
									
								</li>

							</ol> inappropriate location, that is
						</li>
					</ol>
				</li>
				<li>
					interference containments and covers
				</li>
				<li>
					{{ FFHO }} representatives attended during period of interference
				</li>
			</ol>
		<h2> Entry onto Farm Workshop @ Farmhouse Postroom and Courier Drop-off shed </h>
			<ol type="i">
				<li>
					unauthorised access to private storage
				</li>
				<li>
					interference containments and covers
				</li>
				<li>
					{{ FFHO }} representatives attended during period of interference
				</li>
			</ol>
		</li>
		<li>
		<h> Loss of courier consignment </h>
		<li>
			<ol>
				<li>
					Tracking identified interception of parcel
				</li>
				<li>
					Loss of valuable parcel
				</li>
				<li>
					{{ FFHO | safe}} representatives attended during period of loss
				</li>
			</ol>

		</li>
	</ol>
<p>
</html>
</html>
