
<div>
	<p>
		<h2>Listed Building: Furnace Farmhouse</h2>	
		<br>
			<li>
				The {{ FFHO }} has an obligation to comply with Listed Building regulations. The regulations applicable to {{ FFH }} contain provisions binding the {{ FFHO }} to notify ;
				<br>
					<ol type="a">
						<li>
							unauthorised changes conducted to {{ NHBI }} prior ownership
						</li>
							<br>
						<li>
							unauthorised changes conducted by {{ NHBI }}
						</li>
							<br>
						<li>
							repairs to the scheduled building (or any part of the title) undertaken by {{ NHBI }} (and or any contractor) that are not compliant with regulations
						</li>
					</ol> 
			</li>
				<br>
			<li>
				
			</li>
					<h>Changes to Listed building subject to Regulation/s</h>
					<br>
						<h>Additions to Listed Building requiring listed building consent</h>
							<br>
								<li>
									<ol type="A">
										<h> Coms, Security Aerials and Brodcast infrastructure</h>
											<br>
												<ol type="a">
													<li>
														Brackets and cables for tele-communication infrastructure
													</li>
														<br>
													<li>
														Satellite dish/es,brackets, external cabling
													</li>
														<br>
													<li>
														Solar panel/s,brackets, external cabling
													</li>
														<br>
													<li>
														Television aerial/s,brackets, external cabling
													</li>
														<br>
													<li>
														External speaker/s,brackets, external cabling
													</li>
														<br>
													<li>
														CCTV/ Camera/s, brackets, external cabling
													</li>
														<br>
													<li>
														Flood Light lamps,  brackets, external cabling
													</li>
												</ol>
											<br>
										</li>
									<h>Building structures appended to the listed building</h>
										<br>
											<ol type="a">
												<br>
													<li>
														porches
													</li>
														<br>
													<li>
														conservatories / orangeries
													</li>
														<br>
													<li>
														extentions
													</li>
														<br>
													<li>
														roof lights / (velux type) 
													</li>
														<br>
													<li>
														chimneys
													</li>
											</ol>
										<br>
									<h>Building structures within the bounds of the listed building title plot</h>
										<br>
											<ol type="a">
												<br>
													<li>
														greenhouses
													</li>
														<br>
													<li>
														garden sheds
													</li>
														<br>
													<li>
														compounds and enclosures
													</li>
														<br>
													<li>
														tanks and fuel vessels above ground
													</li>
												<br>
											</ol>
									<h>Ground alterations, installation of ;paving, aggregate substrates</h>
										<br>
											<ol type="a">
												<br>
													<li>
														bunds
													</li>
														<br>
													<li>
														aggregate surfaces, drives, pathways, patios
													</li>
														<br>
													<li>
														ground stabalisation and drainage works
													</li>
												<br>
											</ol>
									<h>Excavation, trenching, or burying of infrstructure</h>
										<br>
											<ol type="a">
												<br>
													<li>
														foundation, underpinning 
													</li>
														<br>
													<li>
														cables
													</li>
														<br>
													<li>
														cables , pipes, conduits
													</li>
														<br>
													<li>
														sub-terrainian tanks
													</li>
												<br>
											</ol>
						<h2>Alterations to Listed Building requiring listed building consent</h2>
	</p>
</div>

