
<div>
	<p>
		<h2>Listed Building: Furnace Farmhouse</h2>	
		<br>
		<h>Notification obligations</h>
		<br>
			<li>
				The {{ FFHO }} has an obligation to comply with Listed Building regulations. 
		<br>
				A failure to notify changes in compliance with the Act is an offence at law and when discoverable are enforceable.  
		<br>
				The regulations applicable to {{ FFH }} contain provisions binding the {{ FFHO }} to notify ;
		<br>
					<ol type="a">
						<li>
							unauthorised changes conducted prior to {{ NHBI }} ownership
						</li>
							<br>
						<li>
							unauthorised changes conducted during  {{ NHBI }} ownership
						</li>
							<br>
						<li>
							repairs to the scheduled building (or any part of the title) undertaken by {{ NHBI }} (and or any contractor) that are not compliant with regulations
						</li>
							<br>
						<li>
							proposed alterations to any part of the scheduled building and or title curtledge
						</li>
					</ol>
			</li>
		<br>
		<h> Breaches of Listed Building Regulations</h>
			<li>
				Multiple examples of Listed Building legislation Regulatory Breaches are exhibited at {{ FFH }}. 
					<br>
				Defect alterations to buiding fabric include;
				<br>
					<h> <bold> Timber frame </bold></h>
						<br>
							<ol type="i">
								<li>
									Multiple Timber frame beams:  cut away and replaced with inappropriate make-shift blocks
								</li>
									<br>
								<li>
									Multiple Timber frame beams: patched with inappropriate marine ply / softwood trapping in rotten / damp damaged beams
								</li>
									<br>
								<li>
									Multiple Timber frames inappropriately filled with concrete and foam 
								</li>
							</ol>
								<br>
					<h> <bold> Timber roof structure </bold></h>
						<br>
							<ol>
								<li>
									Roof soffits and rafters patched with inappropriate concrete material
								</li>
									<br>
								<li>
									
								</li>
							</ol>
								<br>
					<h> <bold> Roof and wall tiled surfaces </bold></h>
						<br>
							<ol>
								<li>
									Tiles of incorrect spacifications used to replace character facades
								</li>
									<br>
								<li>
									Tiles fixed to structure by unappropriate cementing methods
								</li>
									<br>
								<li>
									
								</li>
							</ol>
						<br>
					<h> <bold> External fixtures </bold></h>
						<br>
							<ol>
								<li>
									Television Aerial
								</li>
									<br>
								<li>
									Solar Panel
								</li>
									<br>
								<li>
									Cameras, brackets and cabling
								</li>
									<br>
								<li>
									Coms cables
								</li>
							</ol>
						<br>

					
			</li>
				<br>
			<li>
				
			</li>
					<h>Changes to Listed building subject to Regulation/s</h>
					<br>
						<h>Additions to Listed Building requiring listed building consent</h>
							<br>
								<li>
									<ol type="A">
										<h> Coms, Security Aerials and Brodcast infrastructure</h>
											<br>
												<ol type="a">
													<li>
														Brackets and cables for tele-communication infrastructure
													</li>
														<br>
													<li>
														Satellite dish/es,brackets, external cabling
													</li>
														<br>
													<li>
														Solar panel/s,brackets, external cabling
													</li>
														<br>
													<li>
														Television aerial/s,brackets, external cabling
													</li>
														<br>
													<li>
														External speaker/s,brackets, external cabling
													</li>
														<br>
													<li>
														CCTV/ Camera/s, brackets, external cabling
													</li>
														<br>
													<li>
														Flood Light lamps,  brackets, external cabling
													</li>
												</ol>
											<br>
										</li>
									<h>Building structures appended to the listed building</h>
										<br>
											<ol type="a">
												<br>
													<li>
														porches
													</li>
														<br>
													<li>
														conservatories / orangeries
													</li>
														<br>
													<li>
														extentions
													</li>
														<br>
													<li>
														roof lights / (velux type) 
													</li>
														<br>
													<li>
														chimneys
													</li>
											</ol>
										<br>
									<h>Building structures within the bounds of the listed building title plot</h>
										<br>
											<ol type="a">
												<br>
													<li>
														greenhouses
													</li>
														<br>
													<li>
														garden sheds
													</li>
														<br>
													<li>
														compounds and enclosures
													</li>
														<br>
													<li>
														tanks and fuel vessels above ground
													</li>
												<br>
											</ol>
									<h>Ground alterations, installation of ;paving, aggregate substrates</h>
										<br>
											<ol type="a">
												<br>
													<li>
														bunds
													</li>
														<br>
													<li>
														aggregate surfaces, drives, pathways, patios
													</li>
														<br>
													<li>
														ground stabalisation and drainage works
													</li>
												<br>
											</ol>
									<h>Excavation, trenching, or burying of infrstructure</h>
										<br>
											<ol type="a">
												<br>
													<li>
														foundation, underpinning 
													</li>
														<br>
													<li>
														cables
													</li>
														<br>
													<li>
														cables , pipes, conduits
													</li>
														<br>
													<li>
														sub-terrainian tanks
													</li>
												<br>
											</ol>
						<h2>Alterations to Listed Building requiring listed building consent</h2>
	</p>
</div>

