<!DOCTYPE html>
<html lang="en">
FAO: NHB

Dear Sir / Madam,

<h> Your Ref.: Furnace Farmhouse complaints </h>

<p>
	Correspondence further to correspondence issued to you;  DATE/11/2025 in response to correspondence ref. {{ XXXX }}. 
	<h> Events logged subsequent to correspondence Ref.; {{ XXXX }} </h>
</P>
	<ol type="">
		<h2> track access management pallet at western access gate to {{ FF }} </h2>
			<ol type="A">
				<li>
					interference with {{ FF }} track access management infrastructure
					<ol type="1">
						<li>
							removal of wire fastening retainer hinge installed to secure pallet in place
						</li>
						<li>
							removal of pallet from surface drainage protection location
						</li>
						<li>
							removing pallet to a position and placing the pallet (an access track infrastructure management item) to another location that is;
							<ol type="i">
								<li>
									placed in an inappropriate location capable of inviting interference and causing a liability
								</li>
								<li>
									in a prominent unsecured position serving no beneficial purpose, 
								</li>
								<li>
									creating an unneccessary and implicitly avoidable hazard upon users of the {{ FF }} access track,
								</li>
								<li>
									in a dangerous position capable of causing injury to a class of personal chattel
								</li>
								<li>
									in an unsecured position that creates a legal liability to {{ FF }} and by consequence for undertaking the action of moving the chattel a tangible recoverable liability from NHB
								</li>
								<li>
									permitted a representative of {{ FFHO }} to undertake a hazardous manual task on {{ FF }} without permision from {{ FF }};
									<ol type="a">
										<li>
											without confirming to {{ FF }} that the designated  person was;
											<ol type="i">
											<h> personel duty of care </h>ol>
												<li>
													adequately trained to undertake the task
												</li>
												<li>
													provided with the appropriate equipment to lift a heavy item
												</li>
												<li>
													utilising  appropriate PPE for the task
												</li>
											</ol>
										</li>
											without undertaking competent administration tasks;
											<ol type=""> 
										<li>
											undertaking an appropriate risk assessment
										</li>
										<li>
											arranging appropriate  supervision during the task
										</li>
										<li>
											preserving a competent and adequate record of the task in relation to the handling and placement of a 3rd party asset / chattel on third party land
										</li>
										<li>
											challenging the adopted standard taken at {{ FF }} in relation to the Health & Safety at Work Regulations Act,
										</li>
									</ol>
									
								</li>

							</ol> inappropriate location, that is
						</li>
					</ol>
				</li>
				<li>
					interference containments and covers
				</li>
				<li>
					{{ FFHO }} representatives attended during period of interference
				</li>
			</ol>
		<h2> Entry onto Farm Workshop Postroom and Courier Drop-off area </h>
			<ol type="i">
				<li>
					unauthorised access to private storage
				</li>
				<li>
					interference containments and covers
				</li>
				<li>
					{{ FFHO }} representatives attended during period of interference
				</li>
			</ol>
		</li>
		<li>
		<h> Loss of courier consignment </h>
			<ol>
				<li>
					Tracking identified interception of parcel
				</li>
				<li>
					Loss of valuable parcel
				</li>
				<li>
					{{ FFHO | safe}} representatives attended during period of loss
				</li>
			</ol>

		</li>
	</ol>
<p>
</html>
</html>
