<h2>Disclosure Notice</h2>
<p>
	published material has been dsicovered that is deemed to hurt and offfend thee seevertity of which is sufficient to insight violence and instill fear of attack.
	<li>
		Th content is defined as defamation under the "Defamation Act 2013" has been identified published on digital media servers
	</li>
		Reason to believe that {{ XX }} is the author and publisher of the defamatory content identified
	</li>
	<li>
		The defamatory content has been widely shared between large numbers of readers
	</li>
	<li>
		The proliferation of the content has been substantial and widespread saturating not only local community publications in the localit of {{ injured party }} but also national publications and rsults on international search engines 
	<li>
		The content contains allegation of perpetration of the most serious class of criminal conduct
	</li>
	<li>
		The content has insighted an escallation of further defamation
	</li>
	<li>
		
	</li>
	<li>
		
	</li>
		, community publications, national and search results and as being authored by {{ XX }} and published.
</p>