<h2>Disclosure Notice</h2>
<p>
	<li>
		Content defined as defamation under the "Defamation Act 2013" has been identified published on digital media servers.
	</li>

	<li>
		The defamatory content has been shared between large numbers of readers
	</li>
	<li>
		Reason to believe that {{ XX }} of the 
	</li>
	<li>
		
	</li>
	<li>
		
	</li>
	<li>
		
	</li>
	<li>
		
	</li>
		, community publications, national and search results and as being authored by {{ XX }} and published.
</p>