

One or more statement components bear the distinct and discernable characteristics defeined under the {{ Defamation Act }} to bee determined as defeamatory.

<p>
	Publishing statements that;
	<b>
		<ol type="1">
			<li>
				were known by you to be untrue when published
			</li>
			<li>
				you knew had no reasonable basis or credible notion to be true 
			<li>
			<li>
				you had no honestly held belief of the veracity or truth of the statements
			</li>
				you made with the intent to cause severe and irrepairable reputational injury
			</li>
			<li>
				were so derogatory and injurous as to cause immeasurable harm and pain and fear to the persons implicated by the statements
			</li>
			<li>
				were knowingly and intentionaly widely proliferated using a social media platform with extensive sharing user-practices and republishing tool-sets as to reach a huge audience
			</li>
			<li>
				leveraged specific local social media page with the effect of proliferating across multiple community pages with large audiences surrounding the injured parties
			</li>
		</ol>
	<li>
		The Statements identified;
	<li>
		<ol>
			<li>
				think he buried his wife in the woods ....
			</li>
			<li>
				disgusting .... 
			</li>
			<li>
				
			</li>
		</ol>
