
<p>
	<li>
		One or more statements bear the distinct and discernable characteristics defined under the {{ Defamation Act 2013 }} to be determined as defamatory
	</li>
<p>
	<h> The Defamation identified consists of published statements; </h>
		<br>
			<ol type="1">
				<li>
				 	known by you to be untrue
				</li>
		<br>	
				<li>
					known by you to have no reasonable basis or credible notion to be true 
				<li>
		<br>	
				<li>
					you had no honestly held belief to be true 
				</li>
		<br>	
					you issued with the intent to cause reputational injury as defined by; 
					<br>
						The Defamation Act 2013 ; 1 S. 1 
				</li>
		<br>	
				<li>
					so derogatory and injurous as to cause substantial harm  pain and fear to the persons implicated by the statements
				</li>
		<br>	
				<li>
					you intended to display and prolifrate to a wide audience using the largest longest established social media platform with global reach knowing the use of extensive "sharing" as a user-practice and "re-publishing" tool-sets would extend thee reach to a huge audience
				</li>
		<br>	
				<li>
					containing emotive and provocative content that you knew would increase the likelihood of generating new statements you intended to further proliferate via; re-posting, sharing, tagging and or following , private messaging, search engine permatags 
				</li>
		<br>	
				<li>
					you were either  to proliferate and display to a widee audience knowingly and intentionaly widely proliferated 
				</li>
		<br>	
				<li>
					you leveraged specific local social media page with the effect of proliferating across multiple community pages with large audiences surrounding the injured parties
				</li>
		<br>	
				<li>
					have been ......
				</li>
			</ol>
		<br>	
	<li>
		The Statements identified;
	<li>
		<ol>
			<li>
				think he buried his wife in the woods ....
			</li>
			<li>
				disgusting .... 
			</li>
			<li>
				
			</li>
		</ol>
