
<p>
	<li>
		One or more statements bear the distinct and discernable characteristics defined under the {{ Defamation Act 2013 }} to be determined as defamatory
	</li>
<p>
	<h> The Defamation identified consists of published statements; </h>
		<br>
			<ol type="1">
				<li>
				 	known by you to be untrue
				</li>
		<br>	
				<li>
					known by you to have no reasonable basis or credible notion to be true 
				<li>
		<br>	
				<li>
					you had no honestly held belief to be true 
				</li>
		<br>	
					you issued with the intent to cause reputational injury as defined by; 
					<br>
						The Defamation Act 2013 ; 1 S. 1 
				</li>
		<br>	
				<li>
					so derogatory and injurous as to cause substantial harm  pain and fear to the persons implicated by the statements
				</li>
		<br>	
				<li>
					you intended to display and prolifrate to a wide audience using the largest longest established social media platform with global reach knowing the use of extensive "sharing" as a user-practice and "re-publishing" tool-sets would extend thee reach to a huge audience
				</li>
		<br>	
				<li>
					containing emotive and provocative content that you knew would increase the likelihood of generating new statements you intended to further proliferate via; re-posting, sharing, tagging and or following , private messaging, search engine permatags 
				</li>
		<br>	
				<li>
					you were either  to proliferate and display to a wide audience knowingly and intentionaly widely proliferated 
				</li>
		<br>	
				<li>
					you targeted at a community Facebook social media page with the intent and effect of targeting and influncing and provoking the communities surrunding the identified property to insight illwill towards thee injured subjects identified in statements
				</li>
		<br>	
				<li>
					you were wrecklass and indifferent to both the emergent and chrystalisd harm that manifested on the Facebook page as successive contributors further compounded harm and inflamed others with more untue and threatening statements
				</li>
		<br>	
				<li>
					that you knew to be harmful and unfounded and contributing to an escalating harm fcused on the injured persons and neveeer-the-less failed to mitigate the harm by either withdrawing or hiding the comments or notifiying the Facebook website moderator
				</li>
		<br>	
</p>
<p>
	<h> Statements deemed to be Defamation  </h>
		<li>
			The following statements are deemed to meet the test of defamation.
		</li>
			<br>
				<ol type="a">
					<li>
						"statement_maker_identifier": "jo_humphrey"",
					</li>
				<br>	
					<li>	
	            		"website": "true",
					</li>
				<br>	
					<li>
	           			 "url": ""
					</li>
				<br>	
					<li>
	            		"page_name": "{{ FBAG }}, Anything Goudhurst. Information, Buy & Sell, Jobs. - Facebook",
					</li>
				<br>	
		<li>
	        "question_title":  Can the claimant 
	    </li>
						think he buried his wife in the woods ....
					</li>
					<li>
						disgusting .... 
					</li>
					<li>
						
					</li>
				</ol>
</p>
				<li>
					have been ......
				</li>
			</ol>
		<br>	
	<li>
		
	<li>
		<ol type="1">
			<li>
				think he buried his wife in the woods ....
			</li>
			<li>
				disgusting .... 
			</li>
			<li>
				
			</li>
		</ol>
