
<p>
	<h2>Publication hosting; untrue statements and content, defamation, threats insightment to harm, reputational harm</h2>
		<li>
			A Facebook group publication has hosted a series of blogs that are systemically targeting individuals with untrue and defamatory invective.
		</li>
		<li>
			The Posts published onto the blogs are fictional manifestations bearing no relation to fact.  The comments are;  
			<ol> 
				<li>
					agressive hate speech
				</li>  
				<li>
					defamatory damaging reputation
				</li>  
				<li>
					contrary to HRA Article 9
				</li>  
				<li>
					insight violence
				</li>  
				<li>
					untrue
				</li>  
				<li>
					invade the privacy of persons not in the public domain : unjustified
				</li>  
				<li>
					agressive
				</li>  
				 progressively layer defamatory comments intended to demean reputation allied by language that insights threatening conduct and may reasonably be considered to be fostering an environment to encourage and direct violence towards another.
		</li>
		<li>
			Many of the participants in the blog have concealed true ideentities either through use of an "anonymous participant" setting or a "nom de plume" or "handle": the concealment of identities frustrates the ability to;
			<ol type="A">
				<li>
					serve "cease and desist" notices
				</li>
				<li>
					serve court summons upon the authors and re-publishers of defamatory content
				</li>
			</ol>
		</li>
		<li>
			A right is claimed to abate the publication of defamatory comments by the authors and to prohibit further re-publishing of the statements to addiitonal readers or copying links to the material now subject to notification and complaint.
		</li>
		<li>
			Disclosure is sought from Facebook of the full identity list of natural persons and non natural persons (body corporate) responsible for;
			<ol>
				<li>
					creating and posting the notified content
				</li>
				<li>
					re-posting and or re-publishing the notified content
				</li>
				<li>
					forwarding the notified content by PM
				</li>
				<li>
					commenting upon the notified content in blogs
				</li>
				<li>
					placing "reactions" eg "liked" and or "emojies" next to notified content
				</li>
			</ol>
		</li>
	<br>
</p>
<p>
	<h2> Disclosure </h2>
		<li>
			Disclosure is sought from Facebook of the full identity list of natural persons and non natural persons (body corporate) responsible for;
			<ol>
				<li>
					creating and posting the notified content
				</li><li>
			Disclosure is sought from Facebook in relation to the Facebook site known as {{ FBAG }} of:
			<ol>
				<li>
					 the full identity list of natural persons and non natural persons (body corporate) ;that are registered with Facebook as the owners of the {{ FBAG }} site;
				</li>
				<li>
					responsible for operating the Facebook site
				</li>
				<li>
					the person/s with legal responsibility to moderate content published upon the {{ FBAG }} site on behalf of {{ FBAG }} 
				</li>
				<li>
					the person/s responsble for posting the Topic with legal responsibility to moderate the TOPIC's content published upon the {{ FBAG }} site on behalf of the Topic page owner
				</li>
				<li>
					the person with legal responsibility to notify persons identified within a blog that may reasonably be considered (within the Juriustiction of English Law) to have been placed resulting from a published threat or excallation of hate speech
				</li>
				<li>
					the person with legal responsibility duty to ensure; defamatory, harmful, threatening and unlawful insightment contentare removed from the site
				</li>
				<li>
					the person with legal responsibilty to notify regulatory and or legal enforcement authorities when hate speech and or threats are detected
				</li>
			</ol>
		</li>
	<br>
</p>
<p>
	<h2>Conduct of Publishers Causing Harm  </h2>
		<li>
			Publishers using Faceboove has allowed harmful and defamatory content to be published and re-published repetitively and failed to intervene by way of;
			<ol>
				<li>
					moderating and removing harmful content
				</li>
				<li>
					moderating thee conduct of site members and or participants posting harmful content
				</li>
				<li>
					moderating or managing members posting harmful content by restricting publishing priviledges
				</li>
				<li>
					notifying persons placed at risk by harmful content
				</li>
				<li>
					notifying reegulatory or legal enforcement of thee posting of harmful content and origin of authors thereto
				</li>
			</ol>
		</li>
</p>

<p>
	<h2>Action sought from Facebook</h2>
	<li>	
		Action is sought to apprehend the harm and risk that is now occuring as a result of the defamatory and threatening comments that have been posted on; {{ FBAG }}, other Facebook pages, and messages between Facebook users. 
	</li>
	<li>
		There is an URGENTY neccessity to remove the harmful content  which has now been collected and displayed on search engines and reeetained in "permalink" form by third parties greatly  increasing the harm and risk caused by the pulished comments.
	</li>
	<li>
		The measures sought from Faceboook to apprehend the harm resulting from the notified content are;
		<ol>
			<li>
				Removal of all notified content deemed harmful and defamatory now published on Facebook pages including {{ FBAG }}  
			</li>
			<li>
				Disclosure of each author identity of notified content published on {{ FBAG }} deemed defamatory and or harmful and or posing a risk
			</li>
			<li>
				Censure the Editor of the {{ FBAG }} responsible for posting the Topic on the site and thereon failing to maintain a competent moderating standard of the content posted on the Topic
			</li>
			<li>
				Restrict the {{ FBAG }} author member's access to utilise blog features on Topics posted until a professional moderator has been retained by the author
			</li>
		</ol>
	</li>
</p>
<p>
	<h2>Purpose and Use of Disclosed material</h2>
		<h1>Purpose of disclosed material</h1>
			<li>
				The identity of the authors and publishers and mderators of the notified content is required to enable the service of;
				<ol type="a">
					<li>
						Cease and Desist Notices to;
						<ol type="i">
							<li>
								authors of notified content
							</li>
							<li>
								owners of Topics posted on Facebook pages that have incorporated blogs hosting notified content
							</li>
							<li>
								owners of Facebook pages hosting Topic posts incorporating blogs hosting notified content
							</li>
							<li>
								moderators of Facebook page/s Topic Posts incorporating blogs hosting notified content
							</li>
							<li>
								moderators of owners of Facebook pages hosting Topic posts incorporating blogs hosting notified content
							</li>
						</ol>
					</li>
					<li>
						Notice of Part 8 Injunctive application
					</li>
					<li>
						Notice of Claim in Damages
					</li>
				</ol>
			</li>
		<h1>Use of Disclosed material</h1>
			<li>
				The Disclosed material sought is to be used solely for the purposes of;
				<ol> 
					<li> 
						apprehending harm being caused by;  the publication and re-publication of notified content 
					</li>
					<li>
						apprehend the creation of permalink and search reference data that can identify the notified content and or aid it's re-publishing via search engines and other online resources
					</li>
					<li>
						secure injunctive relief to prohibit identified parties from publish notified content and or further harmful and or defamatory content about the data subjects in future;
					</li>
					<li>
						service of legal communication and summons as required
					</li>
					<li>
						pursue legal measures to recover attributable costs and damages
					</li>
			</li>
</p>
<p>
	<h2>Identifiable and Anonymous Parties </h2>
		<li>
			Identiies of the Actors responsible for publishing the  notified cannot be adequately identified due to anonymity settings operated by the Facebook platform. It is necessary for the array of actors responsible for the creation , authoring, publication , moderating,  management of content associated with the Publishing Activity to be revealed to effect action.
		</li>
</p>
<p>
	<h2>Identifiable and Anonymous Parties </h2>
		<li>
			Identiies of the Actors responsible for publishing the  notified cannot be adequately identified due to anonymity settings operated by the Facebook platform. It is necessary for the array of actors responsible for the creation , authoring, publication , moderating,  management of content associated with the Publishing Activity to be revealed to effect action.
		</li>
</p>
<p>
	<h2>Classes of Identifiable Harmful Content </h2>
	<h1>Untrue</h1>
		<li>
			content
		</li>

	<h1>Defamatory</h1>
		<li>
			content
		</li>

	<h1>Harmful</h1>
		<li>
			content
		</li>

	<h1>Insight of Violence</h1>
		<li>
			content
		</li>
</p>
<p>
	<h2>Reliance upon Precedent </h2>
	<h1>Legislation</h1>
		<li>
			content
		</li>
	<h1>Case Law </h1>
		<li>
			content
		</li>
	<h1>Recognised phenomenom</h1>
		<li>
			content
		</li>
	<h1>Policy and best practice</h1>
		<li>
			content
		</li>
	<h1>Risk</h1>
		<li>
			content
		</li>
</p>
