
<p>
	<h2>  Complaint Introduction </h2>
		<br>
			<h2>{{ FBAG }} publication and target area</h2>
				<br>
					<li>
						Facebook social media operates a publishing feature often used by businesses to serve or target defined local areas much like a a traditional advertiser magazine. In this case the {{ FBAG }} site operates accross a catchment area that includes the applicant.
					</li>
				<br>
			<h2> {{ FBAG }} Posts Harming applicant/s </h2>
				<br>
					<li>
						The Facebook publication {{ FBAG }} incorporates "topic" posts placed by a variety of local businesses advertising products and servies along-side other local news and media content consistent with this format of social media site.
					</li> 
				<br>
					<li>
						In this case {{ FBAG }} has published a "topic" post by an estate agent {{ MM }} advertising a residential property called {{ FFH }} which neighbours the applicant/s' farm business. 
					</li>
				<br>
			<h2> Comments posted on the {{ FBAG }} </h2>
				<br>
					<li>
						Consistent with standard social media dynamics the {{ FBAG }} advertisement incorporates a statement feature whereby a published post can be commented upon by Facebook members and site members visiting the site.
					</li>
				<br>
					<li>
						A statement may be published in eithjer a text oor emojicon or emoji format. The mode of statement expression use is  enmtirely within the discression of the person making the statement.
					</li>
				<br>
					<li>
						A statement may be supported and or endorsed by the use of the "thumbs up" emoji statement where the use of the symbol has the effect of ......
					</li>
				<br>
					<li>
						In this case the advertisement published by {{ MM }} on {{ FBAG }} immediately garnared an untrue vitriolic and defamatory statement from an "anonymise" Facebook member / contributor. The statement immediately set the mood and direction of subsequent comments on {{ FBAG }} to follow a negative and defamatory trajectory.
					</li>
				<br>
			<h2> Anonymised Social Media comment; patterns and conduct 	</h2>
						<br>
							<li>
								Facebook users can choose to (i) comment and/or (ii) communicate in an anonymised or semi-anonymised form.
						<br> 
								The anonymised status conceals their identity from other usrs via an assigned discrete numerical handle that will be used within a discrete site or posted topic (such as "anonymouse user 123").  
						<br>
								A Facebook user may choose an anonymised custom and discrete "handle" (such as "the red baron 123" ) that may be used across multiple discourses but nonetheless conceals the users idntity. 
						<br>
								The true identity of a user employing a custom handle may become known deliberately or inadvertantly or accidently from user patterns behaviour and entered content.
							</li>
						<br>
			<h2> Moderators and controllers of Facebook site / page content </h2>
				<br>	
					<li>
						Throughout the Facebook platform and ecosystem (and all other  social media brand sites) an actor enjoys one or more status characteristics from which a legal and contractual standard of conduct and performance applies.
					</li>
				<br>
					<li>
						At a base or entry level each Facebook user upon registration is assigned "consumer user status".
				<br>
						As the registrant user subscribes or takes on new roles the standards of conduct and performance attached to the {{ FBU }} 's new roles will arise in parallel and in some cases superceding another lower status.
					</li>
					<ol type="1">
						<li>
							Creators of Facebook pages (including community sites) are the effective owners of a Facebook site.
						
							<h2> Facebook Creator responsibility</h2>
								<br>
									<li>
										Each Facebook creator has a duty to manage content placed on the site ina ccordance with the Facebook T&Cs as well as comply with legal obligations and regulations
									</li>
										<ol type="a">
											<li>
												Perform a due dilligence inspection of all content published on the site within a regualar schedule to identify wheth any content  could be considered to be; 
												<ol type="i">
													<li>
														like;ly to be untrue and consequently probably defamation
													</li>
													<li>
														harmful
													</li>
													<li>
														contrary to law
													</li>
													<li>
														infinge rights
													</li>
													<li>
														capable of causing offence fear or distress
													</li>
													<li>
														Appear to insight hate or violence
													</li>
											</li>
											<li>
												Comply with all content moderation management duties and obligations,
											</li>
											<li>
												Comply with all notification duties and obligations,
											</li>
											<li>
												Comply with all user priviledge managment duties and obligations,
											</li>
										</ol>
						</li>
						<li>
							Together with site owners who bare ultimate responsibility: Facebook site moderators are appointed by the Facebook site creator (owner) and (for community sites usually on a voluntary basis) should fulfill the established standard moderator functions
						</li>
						<li>
							The moderator removing offensive mater
						</li>
						<li>

						</li

	<h2> Moderators and controllers responsibility </h2>

					
		<br>
			<li>
				Social media users that employ anonymity settings or operate via a semi-anonymised "handle" have a strong tendancy towards making highly charged comments that they would not typically use if identifiable. This extensively researched and documented phenomenon is often a key component characterising hostile and defamatory conduct in the social media environment.
			</li>
		<br>
			<li>
				The dissassociation that occurs when a person interacts on social media acts as an uninhibitor resulting in
			</li>
		<br>
			<li>
				Statements and content authored by facebook users and published onto the {{ FBAG }} page are;  untrue and constitute defamation. The comments also contain invective containing;  threats,  insightment to violence and malicious falsehoods.
			</li>
		<br>
			<li>
				Members of the {{ FBAG }} Facebook group publication have hosted a series of blogs that are systemically targeting individuals with untrue and defamatory invective, compounded by elements of hate speech and incitement to inflict harmn by way of violence.
			</li>
		<br>
			<li>
				The blog posts published onto the {{ FBAG }} topic Page for Furnace Farmhouse are fictional manifestations bearing no relation to fact.  The defamatory comments published are also characterised by;  
			<br>
				<ol type="1"> 
					<li>
						aggressive hate speech
					</li>  
				<br>
					<li>
						malicious falsehoods intended to damage reputation
					</li>  
				<br>
					<li>
						harassment contrary to the Human Rights Act (HRA) ; Article 9
					</li>   
				<br>
					<li>
						insightments to others to commit harm by violent means
					</li>   
				<br>
					<li>
						manifest misrepresentations by persons claiming status that does not exist as a matter of fact 
					</li>  
				<br> 
					<li>
						invaded privacy of persons not in the public domain : unjustified
					</li>   
				<br>
					<li>
						- place holder -
					</li>  
				<br>
			</li>
			<li>
				Many of the participants in the blog have concealed their true identities,  either through use of an "anonymous participant" setting,  or a "nom de plume" or "handle": the concealment of identities frustrates the ability to serve; 
				<br>
					<ol type="A">
						<li>
							 "cease and desist" notices
						</li> 
					<br>
						<li>
							 court summons to commence legal proceedings upon the authors, pulishrs and re-publishers of defamatory content
						</li>
					</ol>
				<br>
			</li>
			<li>
				The applicant/s claim a right to address the courts to seek to abate the publication of defamatory comments by the authors and to prohibit further re-publishing of the statements to addiitonal readers or copying links to the material now subject to notification and complaint.
			</li> 
		<br>
			<li>
				Disclosure is sought from Facebook of the full identity list of natural persons and non natural persons (body corporate) responsible for;
				<br>
					<ol type="1">
						<li>
							creating and posting the notified content
						</li> 
							<br>
						<li>
							re-posting and or re-publishing the notified content
						</li> 
							<br> 
						<li>
							forwarding the notified content by PM
						</li>		
							<br>
						<li>
							commenting upon the notified content in blogs
						</li> 
							<br>
						<li>
							placing "reactions" eg "liked" and or "emojies" next to notified content
						</li> 
							<br>
						<li>
							hosting the harmful comments identified in this complaint
						</li> 
							<br>
						<li>
							moderating content upon the Facebook communal page identifiable as {{ FBAG }}
						</li> 
							<br>
						<li>
							posting and or commissioning the {{ MM }} advertisement with a blog feature and failing to moderate the content there hosted and now identifiable as;
							<br>
								<ol type="A">
										<li>
											[
											https://www.facebook.com › groups › 1407219799529947 › permalink › 4078744169044150
											]
										</li> 
											<br>
										<li>
											[
											-placeholder- Louise Slaughter - deleted ?
											]
										</li>
											<br>
										<li>
											[
											-placeholder- Jo Humphrey - deleted
											]
										</li>
											<br>
										<li>
											[
											-placeholder- 
											]
										</li>
											<br>
								</ol>
						</li>
				</ol>
			</li>
		<br>
</p>
<p>
	<h2> Disclosure </h2>
		<br>
			<li>
				Disclosure is sought from Facebook of the full identity list of natural persons and non natural persons (body corporate) responsible for;
				<br>
					<ol>
						<li>
							creating and posting the notified content
						</li>
							<br>
						<li>
							Disclosure is sought from Facebook in relation to the Facebook site known as {{ FBAG }} of:
							<br>
								<ol>	
									<li>
										 the full identity list of natural persons and non natural persons (body corporate) ;that are registered with Facebook as the owners of the {{ FBAG }} site;
									</li>
										<br>	
									<li>
										responsible for operating the Facebook site
									</li>
										<br>	
									<li>
										the person/s with legal responsibility to moderate content published upon the {{ FBAG }} site on behalf of {{ FBAG }} 
									</li>
										<br>	
									<li>
										the person/s responsible for posting the Topic with legal responsibility to moderate the TOPIC's content published upon the {{ FBAG }} site on behalf of the Topic page owner
									</li>
										<br>	
									<li>
										the person with legal responsibility to notify persons identified within a blog that may reasonably be considered (within the Juriustiction of English Law) to have been placed resulting from a published threat or excallation of hate speech
									</li>
										<br>	
									<li>
										the person with legal responsibility duty to ensure; defamatory, harmful, threatening and unlawful insightment contentare removed from the site
									</li>
										<br>	
									<li>
										the person with legal responsibilty to notify regulatory and or legal enforcement authorities when hate speech and or threats are detected
									</li>	
							</ol>
		</li>

</p>
	<br>
<p>
	<h2> Conduct of Publishers Causing Harm  </h2>
		<li>
			Publishers using Faceboove has allowed harmful and defamatory content to be published and re-published repetitively and failed to intervene by way of;
			<br>
				<ol>
					<li>
						moderating and removing harmful content
					</li>
						<br>
					<li>
						moderating thee conduct of site members and or participants posting harmful content
					</li>
						<br>
					<li>
						moderating or managing members posting harmful content by restricting publishing priviledges
					</li>
						<br>
					<li>
						notifying persons placed at risk by harmful content
					</li>
						<br>
					<li>
						notifying reegulatory or legal enforcement of thee posting of harmful content and origin of authors thereto
					</li>
				</ol>
		</li>
</p>

<p>
	<h2> Action sought from Facebook </h2>
		<br>
			<h2> Apprehend continuing harm </h2>
				<br>
					<li>	
						Action is sought to apprehend the harm and risk that is now occuring as a result of the defamatory and threatening comments that have been posted on; {{ FBAG }}, other Facebook pages, and messages between Facebook users. 
					</li>
						<br>
					<li>
						There is an URGENTY neccessity to remove the harmful content  which has now been collected and displayed on search engines and reeetained in "permalink" form by third parties greatly  increasing the harm and risk caused by the pulished comments.
					</li>
						<br>
			<h2> Measures </h2>
				<br>
					<li>
						The measures sought from Facebook to apprehend the harm resulting from the notified content are;
						<br>	
							<ol type="1">
								<li>
									Removal of all notified content deemed harmful and defamatory now published on Facebook pages including {{ FBAG }}  
								</li>
									<br>
								<li>
									Disclosure of each author identity of notified content published on {{ FBAG }} deemed defamatory and or harmful and or posing a risk in conjunction with all comments made by the author in relation to the applicnt
								</li>
									<br>
								<li>
									Censure the Editor of the {{ FBAG }} responsible for posting the Topic on the site and thereon failing to maintain a competent moderating standard of the content posted on the Topic
								</li>
									<br>
								<li>
									Restrict the {{ FBAG }} author member's access to utilise blog features on Topics posted until a professional moderator has been retained by the author
								</li>
									<br>
								<li>
									Provide to the applicant/s copy of all comment published by authors in relation to the applicant/s that has been;
									<br>
										<ol>
											<li>
												deleted by a {{ MM }} moderator
											</li>
												<br>
											<li>
												deleted by a {{ FBAG }} moderator
											</li>
												<br>
											<li>
												deleted by a Facebook moderator
											</li>
												<br>
											<li>deleted by a {{ FBAG }} site member and or contributor to the {{ MM }} topic pages;
												<br>
													<ol type="i">
														<li>
															https://www.facebook.com › groups › 1407219799529947 › permalink › 4078744169044150
														</li>
															<br>
														<li>
														</li>
													</ol>
											</li>
										</ol> 
								</li>
							</ol>
					</li>
</p>
	<br>
<p>
	<h2> Purpose and Use of Disclosed material </h2>
		<br>
			<h2> Purpose of disclosed material </h2>
				<li>
					The identity of the authors and publishers and moderators of the notified content is required to enable the service of;
				<br>
					<ol type="a">
						<li>
							Cease and Desist Notices to;
							<ol type="i">
								<br>
									<li>
										authors of notified content
									</li>
										<br>
									<li>
										owners of Topics posted on Facebook pages that have incorporated blogs hosting notified content
									</li>
										<br>
									<li>
										owners of Facebook pages hosting Topic posts incorporating blogs hosting notified content
									</li>
										<br>
									<li>
										moderators of Facebook page/s Topic Posts incorporating blogs hosting notified content
									</li>
										<br>
									<li>
										moderators of owners of Facebook pages hosting Topic posts incorporating blogs hosting notified content
									</li>
										<br>
							</ol>
						</li>
							<br>
							<li>
								Notice of Part 8 Injunctive application
							</li>
								<br>
							<li>
								Notice of Claim in Damages
							</li>
					</ol>
				</li>
			<br>
		<h2> Use of Disclosed material </h2>
			<br>
				<li>
					The Disclosed material sought is to be used solely for the purposes of;
					<ol type="A"> 
						<br>	
							<li> 
								apprehending harm being caused by;  the publication and re-publication of notified content 
							</li>
						<br>	
							<li>
								apprehend the creation of permalink and search reference data that can identify the notified content and or aid it's re-publishing via search engines and other online resources
							</li>
						<br>	
							<li>
								secure injunctive relief to prohibit identified parties from publish notified content and or further harmful and or defamatory content about the data subjects in future;
							</li>
						<br>	
							<li>
								service of legal communication and summons as required
							</li>
						<br>	
							<li>
								pursue legal measures to recover attributable costs and damages
							</li>
						<br>	
							<li>
								litigation in Tort where disclosed information is pertinent to bringinging procecedings for any of the following purposes;
								<br>
								<ol type="i">
									<li>
										apprehend harm and or threat of harm to persons or property
									</li>
								<br>
									<li>
										recovery of loss
									</li>
									<li>
										prevent or apprehend nuisance or intimidation
									</li>
								</ol> 
							</li>
				</li>
</p>
	<br>
<p>
	<h2>Identifiable Parties </h2>
		<br>	
			<li>
				Identiies of the Actors responsible for publishing the  notified cannot be adequately identified due to anonymity settings operated by the Facebook platform. It is necessary for the array of actors responsible for the creation , authoring, publication , moderating,  management of content associated with the Publishing Activity to be revealed to effect action.
			</li>
</p>
		<br>	
<p>
	<h2> Anonymous Parties </h2>
		<br>	
			<li>
				Identiies of the Actors responsible for publishing the  notified cannot be adequately identified due to anonymity settings operated by the Facebook platform. It is necessary for the array of actors responsible for the creation , authoring, publication , moderating,  management of content associated with the Publishing Activity to be revealed to effect action.
			</li>
		<br>	
	</p>
<p>
	<h2>Classes of Identifiable Harmful Content </h2>
		<br>	
			<h2> Untrue content </h2>
		<br>	
			<li>
				content
			</li>
					
		<br>	

	<h2> Defamatory content </h2>
		<br>	

			<li>
				The Defamatory comments subject to complaint on the {{ FBAG }} topic page can be located at : 
					[
						https://www.facebook.com › groups › 1407219799529947 › permalink › 4078744169044150 
					]
			</li>
		<br>	
			<li>
				The defamatory content is;  prolific,  repetitive,  re-published on Facebook pages, copied via numerous PM and other messages.
			</li>
		<br>	
			<li>
				The schedule of the defamation and harmful material is derived from the comments
			</li>
		<br>	
			<h2> Threatening and intimidating content </h2>
 		<br>	
			<li>
				content
			</li>
		<br>	

	<h2Harmful and dangerous content</h1>
		<br>	
			<li>
				content
			</li>
		<br>
	<h2Comment capable of insighting harmful acts</h1>
		<br>
			<li>
				Notified content published on {{ FBAG }} is characteristic of comment capable of insighting third parties to improvise and or carry out harmful acts.
			</li>
		<br>	
			<li>
				The notified content and comment strings published on the {{ FBAG }} blogs contain sufficient information for targete harmful acts to be carried out against the applicant/s and or their property and or interests, namely;
				<ol type="A">
					<br>	
						<li>
							full names
						</li>
					<br>	
							discrete family relationship information
						<li>
							address and location
						</li>
					<br>	
							private property assets and chattels
						<li>
					<br>	
				</ol>
			</li>
		<br>	
			<li>
				The Defamation and malicious untrue statements identified in the notified content are capable of motivating; 
				<br>
					<ol type="i">
						<li>
							an impressionable actor and or
						</li>
						<li>
							a vulnerable actor and or
						</li>
						<li>
							an actor engaging in vigilante behaviour or
						</li>
						<li>
							a hitherto undefined class or identity of impressonable actor,  to engage in a threatening and or dengerously hostile manner that would place the applicant/s at risk of physical and or phsycological harm.  
						</li>
					</ol>  
			</li>
		<br>	
			<li>
				The following terms contained in the notified Social Media content {{ nSMc }} are deemed to elevate the severity of risk and potential harm imposed upon the applicant/s;
				<ol type="A">
					<br>	
						<li>
							abusive content
						</li>
					<br>
						<li>	
							threatening
						</li>
					<br>
						<li>
							armed with guns / gun shots / letting off guns / thratening with guns
						</li>
					<br>		
						<li>
							malicious
						</li>	
					<br>	
						<li>
							engaged in criminal conduct
						</li>	
					<br>	
						<li>
							disgusting behaviour - undefined
						</li>	
					<br>	
						<li>
							- space saver
						</li>	
					<br>
				</ol>
			</li>
		<br>
</p>

<p>
	<h2>Legal Test & Threshold </h2>
		<br>	
	<h2>Legislation</h1>
			<br>	
				<li>
					content
				</li>
			<br>
	<h2>Reliance upon Precedent </h2>
			<br>	
		<h2>Legislation</h1>
			<br>	
				<li>
					content
				</li>
			<br>
		<h2>Case Law </h1>
			<br>	
				<li>
					content
				</li>
			<br>

		<h2>Recognised phenomenom</h1>
			<br>	
				<li>
					content
				</li>
			<br>

		<h2>Policy and best practice</h2>
			<br>	
				<li>
					There has been an abscence of best practice demonstrated by the publishers and management of the {{ FBAG }} blogs. 
				</li>
			<br>	
					The site management have failed to;  
				</li>
					<ol type="a">		
						<br>
							<li>
								identify harmful content,
							</li>
						<br>
							<li>
								moderate content,
							</li>
						<br>	
							<li>
								 manage users responsible for posting harmful content,
							</li>
						<br>
							<li>
								 remove harmful content, 
							</li>
						<br>
							<li>
								regulate {{ FBAG }} user priviledges where user is responsible for posting harmful content,
							<li>
						<br>
								notify harmful content to a person or parties affected by and or named in identified harmful content,
							</li>
						<br>
							<li>
								 notify the appropriate law enforcement agency where identifiable comment is likely to be causing harm to a person and or illegal, 
							</li>
						<br>
							<li>
								notify regulatory authorities of threatening and unlawful conduct that may place a persn in danger.
							</li>
						<br>
					</ol>
				<li>
				</li
		<br>

	<h2>Risk severity</h2>
		<li>
			Notified content {{ NSMC }} identified demonstrates numerous examples of encouragement and or insightment to;
			<ol type="A">
				<br>
					<li>
						seek out the applicant/s, 
					</li>
				<br>
					<li>
						cause physical harm to the applicant/s,
					</li>
				<br>
					<li>
						insight any party seeking out and engaging with and challenge the applicant/s ,
					</li>
				<br>
					<li>
						to use oppressive force and or lethal force against the applicant/s,
					</li>
				<br>
			</ol>
		</li>
	<br>
<h2> Urgency : Emergent and Developing Risk </h2>
		<br>
			<li>
				The level of harm and risk is increasing incrementally as long as the Notified Social Media Content {{ NSMC }} published upon the {{ FBAG }} blog remains visible.
				As long as the blog continues to publish harmful content the harm and risk imposed upon the applicant/s is growing;s
				<ol type="A">
					<br>
						<li>
							increased readership proliferation
						</li>
					<br>
						<li>
							increased search engine permalink and caching of content
						</li>
					<br>
						<li>
							increased local and related social impact 
						</li>
					<br>
						<li>
							increased risk to professional reputation
						</li>
					<br>
						<li>
							increased risk to business interests
						</li>
					<br>
				</ol>
			</li>
		<br>
	<h2> Necessity to identify orgin of Notified content </h2>
		<br>
			<li>
				Without disclosure of the names and contact details of natural and non natural persons responsible for publishing the notified content it will be more difficult and take longer for the harm too be apprehended, during any delayed interval the risk of to the applicant/s will continue to grow rapidly.
			</li>

</p>
<br>
	<p>
		<h2> Schedule of Users commenting on {{ FBAG }} {{ MM }} topic {{ FFH }}</h2>
	<br>
		<h2> Anonymised users </h2>
			<br>
				<li>
					 ALPHA-1 list; Anonymised users deemed to have posted harmful comment 
				</li>
			<br>
				<li>
					 ALPHA-2 list; Semi-Anonymised users employing a "handle" deemed to have posted harmful comment 
				</li>
			<br>
				<li>
					 ALPHA-3 list; Users with Apparent real Names deemed to have posted harmful comment 
				</li>
			<br>
				<li>
					 BETA-1 list; Users deemed to have variously;  re-posted, re-publishedany conversation containing harmful comment or links thereto,
				</li>
			<br>
				<li>
					 BETA-2 list; Users deemed to have variously;   shared,  endorsed, liked a message containing navigation to any conversation containing harmful comment or links thereto,
				</li>
			<br>
				<li>
					 BETA-3 list; Users deemed to have variously;  positively supported or endorsed any conversation containing harmful comment or links thereto,
				</li>
	</p>
<br>
	<p>
		Schedule of 
	</p>
