



{{ disclosure }}
{{ retract }}
{{ apology }}
{{ costs }}
{{ damages }}
{{ ADR }}
{{ notice of claim }}
{{ cooling off period }}



	<li>
		Disclosure steps you must take:
	</li>
		<ol type="1">
			<li>
				provide a copy of instructions addressed to {{  }} authorising full disclosure to {{  }} containing the following;
				<ol type="1">
					<li>
						instructions to disclose all posts and blogs made in relation to {{ claimants }}
					</li>
					<li>
						provide names of each person messaged in relation to the Facebook post including full copy of messages in their original un-redacted form
					</li>
					<li>
						cop list of all persons with whom the post and or comments or messages have been shared
					</li>
				</ol>
			</li>
			<li>
				
			</li>
		</ol>