



{{ disclosure }}
{{ retract }}
{{ apology }}
{{ costs }}
{{ damages }}
{{ ADR }}
{{ notice of claim }}
{{ cooling off period }}



	<li>
		Steps you must take to facilitate disclosure:
		<br>
			<ol type="1">
				<li>
					approve a schedule of instructions directed to the respondent parties specified and identified in SCHEDULE ONE
				</li>
					<br>
				<li>
					approve the schedule of requirements specified in SCHEDULE TWO necessary to facilitate the provision of disclosures by the respondent parties specified in SCHEDULE ONE
				</li>
					<br>
				<li>
					provide consent to the parties specified in SCHEDULE ONE to provide the disclosures directly to the applicants and or representatives as specified in SCHEDULE FOUR
				</li>
			</ol>


			<li>
				provide a copy of instructions addressed to {{ Facebook }} authorising full disclosure of specified infiormation to {{ applicant }} containing the following;
				<ol type="1">
					<li>
						instructions to disclose all posts and blogs made in relation to {{ claimants }}
					</li>
					<li>
						provide names of each person messaged in relation to the Facebook post including full copy of messages in their original un-redacted form
					</li>
					<li>
						cop list of all persons with whom the post and or comments or messages have been shared
					</li>
				</ol>
			</li>
			<li>
				<h>SCHEDULE ONE: The Respondent/s</h>
					<br>
						The persons named in SCHEDULE ONE are deemed to have published / posted statements that meet the legal definition of defamation in the Defamatation Act 2013.
						<br>
							<ol type="i">
								<li>
									Respondent {{ 1 }}
									Respondent {{ 2 }}
									Respondent {{ 3 }}
								</li>
							</ol>
						<br>
			</li>
				<br>
			<li>
				<h>SCHEDULE TWO: Requirements dierected to the Respondent</h>
					<br>
						The APPLICANT directs the RESPONDENT to comply with the schedule of requirements specified in SCHEDULE TWO in relation to the allegations set out in SCHEDULE FIVE
						<br>
							<ol>
								<li>
									
								</li>
							</ol>
						<br>
			</li>
				<br>
			<li>
				<h>SCHEDULE THREE: Disclosure consent</h>
					<br>
						Provide consents to any third party to relinquish specified information
						<br>
							<ol>
								<li>
									
								</li>
							</ol>
						<br>
			</li>
				<br>
			<li>
				<h>SCHEDULE FOUR: Applicant, representatives</h>
					<br>
						The applicant/s and representatives acting for the applicant / claimant
						<br>
							<ol type="1">
								<li>
									Applicant 1.	: Edward Hume
									Applicant 2.	: Oliver Hume
									Representative	: Placeholder
								</li>
							</ol>
						<br>
			</li>
			<li>
				<h>SCHEDULE FIVE: Defamatory statements</h>
					<br>
						The Allegations specified in SCHEDULE FIVE are deemed to amount to Defamation
						<br>
							<ol type="1">
								<li>
									"statement {{ 1 }} by respondent {{ humphrey_jo }}"
								</li>

								<li>
									"statement {{ 2 }} by respondent {{ humphrey_jo }}"
								</li>
							</ol>
						<br>
			</li>
			<li>
				<h>SCHEDULE SIX: Injunctive relief</h>
					<br>
						The Allegations of Defamation specified in SCHEDULE FIVE are deemed to cause harm and damage to the Applicant sufficient to legitimately engage a right to claim an action for relief from the Courts to apprehend the RESPONDENT's Conduct.
						<br>
							<ol>
								<li>
									
								</li>
							</ol>
						<br>
			</li>
			<li>
				<h>SCHEDULE SEVEN: Costs, damages</h>
					<br>
						The RESPONDENT's right of claim relief to apprehend harm and damage arising from the RESPONDENT'S conduct will necessarily incure costs that shall be recoverable from the RESPONDENT together with a claim in damages.
						<br>
							<ol>
								<li>
									Costs : Proceedings to apprehend Respondent's conduct
								</li>
							</ol>
						<br>
			</li>
			<li>
				<h>SCHEDULE SEVEN: Alternative Dispute Resolution</h>
					<br>
						Invitation to attend ADR / Alternative Dispute Resolution is extended to the RESPONDENT to resolve issues that have harmed and or continue to harm the APPLICANT.
						<br>
							<ol type="1">
								<li>
									The RESPONDENT must confirm intent to engage in ADR.
								</li>
								<li>
									
								</li>
							</ol>
						<br>
			</li>
		</ol>