
<div>
	<p>
		The Claimant is the property speculator {{ NHB }} who seek to direct blame at the respondent/s {{ EH }} {{OH}} for {{NHBI}} inability to harvest a profit from a back-to-back property sale.
	</p>
	<h3> Claimant Reliance on Fiction </h3>
	<p>
		The Claimant's accusation makes a key reliance upon the following fiction/s against which computable analysis can be applied to determine reality; 
	</p>
</div>