
<div>
	<ol type="A">
		<li>
			The speculator cannot presume an appreciation of value will occur absent of measurable attributes capable of delivering positive value exceeding all factors exerting a diminishing value effect
			<ol type="1">
				<li>
					Cost of remedying defects by way of; 
					<ol type="i">
						<li>	
							regularisation of planning
						</li>
						<li>
							retrospective applications
						</li>
						<li>	
							retrospective / corrective works, 
						</li>
						<li>
							 more
						</li>
					</ol>
				</li>
			</ol>
		</li>
	</ol>
</div>
