
<div>
	<ol type="A">
		<li>
			<p>
				that a speculator is automatically entitled to garner a profit on a speculative property investment in a back-to-back (or any other) re-sale scenario regardless of the condition and status of the asset at the time of aquisition and irrespective of the asset's negative characteristics;
			</p>
			<ol type="1">
				<li>
					 property dilapidation and defects
				</li>
				<br>
				<li>
					tangible identified risks
				</li>
				<br>
				<li>
					restrictive covenants
				</li>
				<br>
				<li>
					restricted access to modern utility 
				</li>
				<br>
				<li>
					restrictive covenants
				</li>
				<br>
				<li>
					material breach of regulations requiring remedy
				</li>
				<br>
				<li>
					compromised ration of plot size : to built land
				</li>
			</ol>
		</li>
		<br>
		<li>
			that a speculator without conducting an exhaustive and competant due diligence can prove that the value for which a property was purchased was a discount to it's true value			
		</li>
		<br>
		<li>
			<bold> Fiction: </bold> that a successful acquisition of a land title with no comparative or equivalent property against which a benchmark value can be determined to have will have taken place at a discount price below the attainable market value and not
			<br>
				<ol type= "a">
					<li>
						at a premium (price exceeding true market value)
					</li>
					<br>
					<li>
						at a market par value
					</li>
					<br>
				</ol> 
			<br>
		</li>
		<br>
		<li>
			<bold> Fiction: </bold> that a price transacted at completion following a competant negotiation in the absence of open market competition can accurately determine the price paid was at a discount price below the open market value and not;
		</li>
		<br>
			<br>
				<ol type= "a">
					<li>
						at a premium price exceeding the true market value
					</li>
					<li>
						at par or true market value
					</li>
				</ol>
			<br> 
		</li>
		<br>
		<li>
			<bold> Fiction: </bold> that it is possible to determine the true market value of the property without; 
			<ol type= "a">
				<li>
					accurately presenting all of the  pertinent facts pertaining to the property that are required to be considered by a purchaser before making a commitment to purchase.
				</li>
				<br>
				<li>
					appropriate interrogation of title taking place
				</li>
				<br>
				<li>
					completion of appropriate enquiries and disclosures
				</li>
				<br>
				<li>
					conducting exhaustive due dilligence proportional to the complexity of title attributes
				</li>
				<br>
			</ol> 
		</li>
		<br>
	 	<li>
			<h> The Fiction that a speculator selling a property with rarified and discrete appeal can argue to have made a loss attributable to a third party just because they sold it in a hurry</h>
			<bold> Fiction: </bold> that a failure to sell a property with exceptionally narrow defined appeal to consumers for a value that exceeds the purchase price is capable of creating a book loss
				<h> Reality </h>
				unless 
	 	</li>
	 	<br>
		<li>
			<h> The Fiction that speculator can somehow shorten the interval required to sell a property and still achieve the best price </h>
			<bold> Fiction: </bold> that the prolonged period required by a speculator accustomed to 'back-to-back" sales (and commonly termed as "flipping") to sell a property can be attributed to a neighbour deespite the property historically having taken 2-to-3 years to sell on the open market on prior each occasion due to it's exceptionally narrow defined appeal attibutable to it's discrete characteristics
				<h> Reality </h>
				unless 
		</li>
		<br>
		<li>
			<h> The Fiction of defective works attributing Value to a property </h>
			<bold> Fiction: </bold> that a property speculator that undertakes ad-hoc works to a property that are inconsistent with the character and protected standards applicable to the property ( such as inappropriate materials or changes amounting to a breach of a protected status listed building status ) can still expect to garner an increase in value
				<h> Reality </h>
				unless 
		</li>
		<br>
		<li>
			<h> <bold> Fiction: </bold> that a Speculative property investor can reliably assert to have made it's acquisition at a discounted price </h>
		<br>	
			<bold> Fiction: </bold> that a seasoned property speculator will always have acquired a property at a discount to the open market value because that is their belief and their past experience when buying and selling properties
				<h> Reality </h>
				unless 
		</li>
		<br>
	<br>
		<li>
			<h> The Fiction that a Speculative purchase will always increase in Value</h>
		<br>	
			<bold> Fiction: </bold>  that it is reasonable to always assume a residential property purchased on a speculative basis will increase in value within some equivalence to other properties whether locally or by any other sampling statistial model irrespecitve of discrete characterisics of the target property that are not shared by the statistical or comparative samples
				<h> Reality </h>
				unless 
		</li>
		<br>
		<li>
			<h> The Fiction of defective works attributing Value to a property </h>
			<bold> Fiction: </bold> that a property speculator that undertakes ad-hoc works to a property that are inconsistent with the character and protected standards applicable to the property ( such as inappropriate materials or changes amounting to a breach of a protected status listed building status ) can still expect to garner an increase in value
				<h> Reality </h>
				unless 
		</li>
	</ol>
</div>