
	<li>
		<h><bold>Fiction </bold></h>
			<h> The Fiction of Devaluation in Speculator {{ NHBI }} Claim</h>
				<br>	
			 		The property speculator {{ NHBI }} Letter of Claim seeks to argue that; 
					 <ol type=""> 
					 	<li>
					 		a diminution in property value of {{ FFH }} has occurred, 
					 	</li>
					 		<br>
					 	<li>
					 		and that a diminution in value of {{ FFH }} is attibutable to one or more respondent
					 	</li>
					 		<br>
					 </ol>
							<br>
			<h> Fatal flaws disqualifying the {{ NHBI }} Claim</h>
				<br>	
			 		The property speculator {{ NHBI }} claim is fatally flawed by the absence of procedural due diligence and honesty demonstrated by the claimant in relation to the administration and duty of care of the property and towards any prospective purchaser.
			 		<br>
			 		Any claim by {{ NHBI }} related to a Devaluation of the property {{ FFH }} must be deemed incapable of succeding;
			 		<br>
						 <ol type=""> 
						 	<li>
						 		where any defects effecting the property at the time of the speculator's acquisition were not;
						 		<ol type="1">
						 			<li>
						 				inspected ,evaluated and documented
						 			</li>
						 				<br>
						 			<li>
						 				costed for remedy and or repair and fully documented
						 			</li>
						 				<br>
						 			<li>
						 				interrogated and referenced within the negotiations that took place to acquire {{ FFH }} includding purchase disclsosures and or requisitions end equiries made to the vendor
						 			</li>
						 				<br>
						 			<li>
						 				surveyed and documented by a qualified professional
						 			</li>
						 		</ol>   
						 	</li>
						 		<br>
						 	<li>
						 		where defect existing at the time of the claimant speculator acquisition have continued and or accelerated to caused further damage
						 	</li>
						 		<br>
						 	<li>
						 		where new defects have arisen at the property since the the claimant speculator acquisition and resulted in damage
						 	</li>
						 		<br>
						 	<li>
						 		where the claimant's speculator limited attendendance and or inspection the property since the acquisition has resulted in either or both an absence of awareness or delayed awareness of defects
						 	</li>
						 		<br>
						 	<li>
						 		where the claimant's lack of experience or competence in inderstanding the maintenance needs of the property class and it's discrete character requirements have resulted in either a defective maintenance schedule or a complete absence of a competent property; management  inspection, and maintenance regime.
						 	</li>
						 		<br>
						 	<li>
						 		where the claimant' lack of experience or competence in inderstanding the maintenance requirements of the property class and age have resulted in a defective maintenance schedule and provision of care to the property
						 	</li>
						 		<br>
						 	<li>
						 		where the claimant speculator has authorised or otherwise instructed works to be done to the property and or otherwise failed to undertake works to the property which constitute a breach of one or more regulatory intruments and acts of legislation
						 	</li>
						 		<br>
						 	<li>
						 		where the combined aggregate diminution value effect of the defects extant at aquisition in addition to subsequent deterioration of the property have not been detailed with a schedule undertaken by a suitable accredited professional, 
						 	</li>
						 		<br>
						 	<li>
						 		where the property status and condition presented by the speculator pursuing a desired sale value has arisen in conjunction with any act of;
						 		<ol type="1">
						 			<li>
						 				 and 
						 			</li>
						 				<br>
						 			<li>
						 				fraudulent ommission and or under-disclosure
						 			</li>
						 				<br>
						 			<li>
						 				fraudulent misrepresentation and or misdirection
						 			</li>
						 				<br>
						 			<li>
						 				negligent misrepresentation
						 			</li>
						 				<br>
						 			<li>
						 				a single dishonest endeavour 
						 			</li>
						 				<br>
						 			<li>
						 				a pattern of dishonesty
						 			</li>
						 				<br>
						 			<li>
						 				characteristic of dishonest conduct previously exhibited by one or more persons acting as of for the party
						 			</li>
						 	</li>


		 		can reliably do so when it's own conduct has introduced new defects to the property for which a subsequent owner would become liable to; prosecution and or punitive regulatory action, costs in judicial proceedings, costs to remedy the new defect,
			<h> Conduct and Consequences: regulatory and punitive implications</h>
				<li>
					The  claimant's fraudulent conduct is a demonstrable abuse of process
				</li>
	 				<br>
	 			<li>
	 				
	 			</li>
	</li>
<br>
 	<li>
		<h> Fiction </h>
	<br>	
		that a speculative investor that undertakes limited  maintenance to a property is entitled to claim an increase in value and entitled to an inflated sale value either equivilent to or exceeding the cost of the works undertaken irrespective of whether the works were undertaken;
		<br>
	 		<ol type="i">
	 			<br>
		 			<li>
		 				incompetently : not using the correct materials in the correct manner
		 			</li>
				<br>	
		 			<li>
		 				negligently : not undertaken in compliance with pertinent laws and regulations and consents
		 			</li>
				<br>	
		 			<li>
		 				defectively : not undertaken using the correct skills techniques and or conformity to the required specification
		 			</li>
	 		</ol>
	 	<br>
			<h> Reality </h>
			unless 
 	</li>	
		 	<h2> Back-to-back sales "flipping" </h2>
			<br>
			  	fast back-to-back re-sale of a speculative property investment as practiced in financial investment markets is sometimes referred to by property investors and dealers in a coloquial slang,  as a "flip" of flipping" a property.  
			<br> 
				That is to say,  immediately reselling a property for a profit without undertaking any significant further investment in order to garner the speculative profit. 
	</p>
		<br> 
	<p> 
				{{ NHB }} intended to "flip" the {{ FFH }} property that was acquired at a value of £465,000 by immediately reselling {{ FFH }} at an inflated speculative value of £625,000 (or there-abouts). 
	</p>
		<br> 
	<p> 
				Several contractors acting for {{ NHB }} have openly remarked upon the impact of selling  {{ FFH }} in a delapidated condition  to; {{ MAMPA }} and the agent {{ MM }} as well as to others in conversation.  
		<br>
				{{ VARS }} have been notified that {{ FFHO }} has until November 2025 deomnstrated scant intention to undertake maintenance or repair to the property other than cutting the grass.
		<br>
				Where works have been undertaken to the {{ FFH }} listed buiding fabric it is evident that;
				<ol type="1">
					<li>
						the listed building contained and continues to exhibit examples of; 
						<ol type="a">
							<li>
								defective workmanship practice
							</li>
							<li>
								use of material not confirming to the Listed Building vernacular and listing
							</li>
						</ol>
					</li>
					<li>
						works planned and undertaken have been in breach of listed building regulations
					</li>
					<li>
						works to the listed building were undertaken without consultation or notification of the statutory authority (English Hertage) or the regulatory supervisory body (Tunbridghe Wells Borough Council Planning Department)
					</li>
					<li>
						notifiable works undertaken to the fabric of the listed builing were not undertaken by a contractor recognised on a register of recognised contractors for works to listed buildings
					</li>
					<li>
						 modifications have been made to the built design and construction of the Listed Building that differ from it's protected vernacular status without the approval of the appropriate bodies
					</li>
				</ol>
</p>	
	<br>
		In November  {{ NHB }} appointed a roof contractor to undertake minor repairs to the hung tile wall facades of {{ FFH }} ;
		<br>
			<ol type="a">
				<li>
					in passing the contractor mentioned that : "The whole roof is in a bad condition and needs tearing off and starting again"
				</li>
				<li>
					tiles incorporated during repairs of the listed building are different to the original materials in; style texture, colour : 
				</li>
				<li>
					Without consent repairs or maintenance of the Listed Building {{ FFH }} incorporated substition materials that differ from the pre-existing fabric,  the works to the building constitute a technical breach of listed building regulations.
				</li>
				<li>
					"we were told to ..... "
				</li>

			</ol>
<br>
		Contractors working on the property have identified numerous instances of unauthodox and inappropriate temporary repairs to the property which will require substantial works to remedy, but have been told to ignore them and make the property superficially ready for sale.
	</p>
		<div id="NHBA-GARDENER-RECORD-1" class="neglect-proof">
			<div class="neglect-proof-ref">NHBA-GARDENER-RECORD-1</div>
				<h> Conclusion/s</h>
					<ol type="i"> 
						<li>
							since acquisition of {{ FFH }} 30 May 2025 the {{ FFHO }} has demonstrated a disinclination to maintain or invest in repairing the property
						</li>
						<li>
							by not undertaking repairs to facades of {{ FFH }} the {{ FFHO }} has failed to address key property condition elements that would concern or deter viewers from pursuing further negotiations  
						</li>
					</ol>
		</div>
		<br>
	<p> Within the {{ FFH }} property Disclosure documents there is no mention by ; {{ NHB }},  {{ MAMPA }}, {{ VARS }} of any defects to the property that have been brought to the attention of;  {{ NHB }} , {{ MAMPA }}, {{ NHB }}, {{ MAMPA }}.
	</p>
	<p> 
		In September 2025 {{ NHB }} entered {{ FFH }} in a National Auction operated by {{ BMPA }} that is viewable and provides online auction participation internationally to prospective;  property buyers,  property investors, property speculators, property dealers, and any other buyer profile across the globe. 
	</p>
	<p> Two bids were submitted during the proceedings of the auction with bid values of (i) £560,000 , (ii) £565,000,  however {{ NHB }} declined the bid offers.  It is unclear whether the bids were placed by {{ NHB }} (or a proxy therto) with a view to artificially inflating a value and providing an image of market interest or whether the bid offers were submitted by independent or genuine prospective purchasers. 
	</p>
	<p> It is a practice employed by somoe speculators to issue Bid-offers for their own properties for the purpose of arificially creating an ambiance of intertest in a property for sale with the hope of stimulating interest and further bidding.  
	</p>
	<p> Within the property Disclosure documents for {{ FFH }} there is no mention any indication that {{ FFHO }} has declined to undertake maintenance or repair to the property when defects have been identified to them. </p> 
	</p>
	<p>
		Claimant {{ NHB }} claims it is unable to sell the property has demonstrated without undertaking any maintenance or repair and marketing the {{ FFH }} due to the alleged impact of the {{ Respondents }}.  
	</p>
	<p>
		Claimant {{ NHB }} allegation is made in-spite of the property {{ FFH }} being presented to the market with misleading marketing materials and inadequate property disclosure details that serve to conceal important property characteristics from a prospective purchaser.
	</p>
