<div>
	<p>
		Speculator may attribute value to;
	</p>
	<ol type="a">
		<li>
			replacing hung tiles
		</li>
		<li>
			maintaining the garden
		</li>
		<li>
			limited repairs undertaken
		</li>
		<li>
			installing cctv
		</li>
		<li>
			replastering an external wall
		</li>
		<li>
			addressing roof leaks
		</li>
	</ol>
</div>
<div>
	<p>
		Conditions diminishing the value
	</p>
	<ol type="a">
		<li>
			incompatile tiles hung  (defective appearance) dimish the repair
		</li>
		<li>
			 tiles repairs are incomplete and so dimish the repair value
		</li>
		<li>
			dicarded broken building material debris litter the property
		</li>
		<li>
			plastering with unapproved materials
		</li>
		<li>
			pathways strewn with broken tiles and garden pots
		</li>
		<li>
			cement render applied over mesh not compliant requires restrospective listed building consent
		</li>
		<li>
			disintegrating pourus roof tiles not replaced
		</li>
		<li>
			sash window painted and sealed shut 
		</li>
		<li>
			wooden ply board affixed over rotten structural timbers
		</li>

		<li>
			roof valleys disintegrating 
		</li>
		<li>
			rotten window frames
		</li>
	</ol>
	<p>
		It is irrational and contrary to contractual methodology and legal due diligence for a vendor to claim or conclude that a purchase would follow through and complete as a result of an offer made by a prospective purchaser and accepted by a vendor where an exchange of contact has not taken place and an esentially complete requisition of title and full disclosure has taken place to the extent that everything reasonably necesary to complete a purchase has been disclosed and approved by each party that would be required to sign-off on the transaction. 
	</p>
</div>

<div>
	<h3> Reality check</h3>	

	<p>It shall be irrational for the {{ FFHO }} namely {{ NHBI }} to argue the purchase price of the property was discounted unless the property speculator can demonstrate the value of the property was competently determined in a methodical and auditable and transparent manner that can demonstrate;
	</p>
	<ol type="1">
		<li>
			every material defect affecting the property was formally identified before an exchange of contracts took place to acquire {{ FFH }}
		</li>
		<li>
			each material defect was formally idenitfied and noted in detail within a schedule predating the exchange of contracts to acquire {{ FFH }}
		</li>
		<li>
			the impact of each defect was evaluated and the attributable value to each defect was identified and recorded in relation to the value contracted at exchange relative to;
			<ol type="a">
				<li>
					the attributable defect deduction value that was subtracted from the market value had the defect not existed
				</li>
				<li>
					the cost of remedy to ameliorate the defect amd/ or otherwise resolve or repair the defect
				</li>
			</ol>
		</li>
		<li>
			the remedial and or discount cost attibutable to each defect was determined by a professional acting on instruction in an impartial capacity with no prior interest in {{ NHBI }} investment or benefit to the outcome of any subsequent sale of the property surveyed, 
		</li>
		<li>
			the impact of any defect was evaluated in compliance with an approved by a professionally regulated professional surveyor acting with valid Professional Indemnity insurance following a survey and evaluation procedure recognised and or otherwise approved by the Royal Institute of Chartered Survevyor (RICS) or an equivalent organisation and or professional regulatory body.
		</li>
		<li>
			the extent and full  history thereto was clarified within disclosure prior to the acquisition taking place 
		</li>
	</ol>
</div>
