
{% set EK =  "<b>Elizabeth Corkill</b>"%} 
{% set RJ =  "<b>Ross Jones</b>" %} 


<p>
	harrassentss have been perpetrated by persons idetified as {{ EK }} and {{ RJ }} on the Hume family comprised of members Fiona Hume, Edward Hume, Oliver Hume and Jessica Hume
</p>

<p>
	Harrassment has taken the form of
	<ol>
		<li>
			<p>unwanted communication digital communications on a number of mediums</p>
		</li>
		<li>
			<p>Unfounded threats Legal claims</p>
		</li>
		<li>
			<p>spreading of misinformation within a local community</p>
		</li>
		<li>
			<p>targeted liables to the effect of inciting violent or aggressive behaviour towards members of the Hume family</p>
		</li>
	</ol>
</p>

<h3>Objectives of harrassment</h3>

harrassment was perpetrated in order to achive either one or all of the following objectives
<ol>
	<li>
		<p>change the manner of use of the land of Furnace Farm by current occupiers Oliver and Edward Hume.</p>
	</li>
	<li>
		<p>
			in order to restrict the visitations of Oliver and Edward Hume in the hopes that they could not impart facts to potential viewers of {{ FFH }} that were undisirable
		</p>
	</li>
	<li>
		<p>
			In order to pressure the Freeholder of {{ FF }} Fiona Hume into effecting a sale of the property to the {{ FFHO }}
		</p>
	</li>
</ol>

Possible reasons for this are:


