<div>
	<div id="NHBA-6" class="legal-clause">
		<div class="legal-clause-ref">NHBA-7</div>
		<p>
			Leaving Abandoned Vehicles, waste materials, and other materials thaat are outside of appropriate containment on the surrounding boundary which our client has credible reason to beleice hat these iitems belong to you. We enclose and assortment of photographs marked "A" to "J" which have been taken between <strong>10 June 2025</strong> and <strong>18 September 2025</strong> for illistartive purposes. The items are unsightly and pose a risk to public health and safety
		</p>
	</div>

	<div>
		<h>Risk</h>
	</div>

</div>