{% set rotate_90 = 				"<p>Note that the image was provided out of proper rotation so for the purpose of description references to the top, bottom, left and right of image will be given as if the exhibit had been provided properly rotated with the top of the image toward the top of the sheet, which would for the avoidance of doubt been a rotation of 90 degrees clockwise
				</p>" %}

<div>
	{{ line_by_line_text_quotation(["Leaving Abandoned Vehicles, waste materials, and other materials that are outside of"," appropriate containment on the surrounding boundary which our client has credible", "reason to believe that these items belong to you. We enclose and assortment of","photographs marked 'A' to 'J' which have been taken between <strong>10 June 2025</strong> and <strong>18 September 2025</strong> for illustrative purposes. The items are unsightly and pose a risk to public health and safety"],36, "NHBA-6") }}
	

	<div>
		<div>
		<h>Risk</h>
		
			<P> 
				{{ FF }} fail to see where there are health and safety risks to the public and {{ NHB }} would need to expand this description. 
			</P>
			<p>
				If a valid description of a risk formed by {{ FF }} was or brought to the attention it will or would of course be rectified as would be necessary to reduce liability and protect public.
			</p>
		</div>
		<div>
			<h>Unsightliness</h>
			<p>
				<p>With regard to unsightliness {{ NHB }} seem to have fallen into the state of referring to subjectivity instead of relying on fact however for clarity and understanding each exhibit will be examined below.</p>
				<br>
				<p>
					Where items depicted in the image appear in multiple exhibits they will not be described or answered for separately unless the image represents a new facet or perspective that is notable and worth commenting on within the confines of the accusations.
				</p>
			</p>
			<br>
		</div>
	</div>

	{#<table>
		{% for row in table %}
			<tr>
				{% for item in row %}
					<td>
						item
					</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</table>#}
</div>