<div>
	<div id="NHBA-6" class="legal-clause">
		<div class="legal-clause-ref">NHBA-7</div>
		<p>
			Leaving Abandoned Vehicles, waste materials, and other materials thaat are outside of appropriate containment on the surrounding boundary which our client has credible reason to beleice hat these iitems belong to you. We enclose and assortment of photographs marked "A" to "J" which have been taken between <strong>10 June 2025</strong> and <strong>18 September 2025</strong> for illistartive purposes. The items are unsightly and pose a risk to public health and safety
		</p>
	</div>

	<div>
		<div>
		<h>Risk</h>
		
			<P> 
				{{ FF }} fail to see where there are health and safety risks to the public and {{ NHB }} would need to expand this description. 
			</P>
			<p>
				If a valid description of a risk formed by {{ FF }} was or brought to the attention it will or would of course be rectified as would be necessary to red
			</p>
		</div>
		<div>
			<h>Unsightliness</h>
			<p>
				Wth regard to unsightliness {{ NHB }} seem to have fallen into the state of refferring to subjectiveness instead of relying on fact however for clarity and understanding each exhibit will be examined below.
			</p>
			<br>
			<h class="subsection-list">Description of Image NHBE-a</h>
			<p>
				<p>Note that the image was provided out of proper rotation so for the purpose of description references to the top, bottom, left and right of image will be given as if the exhibit had been provided properly rotated with the top of the imaage toward the top of the sheet, which would for the avoidance of doubt been a rotation of 90 degrees clockwise</p>
				<p>
					An image taken in a broadly easterly direction up a track that leads towards concrete yard that forms a part of {{ FF }}.
					Image has been taken from the edge of the access track to {{ FFH }} at a distance of some 50m from the entrance of the property.
				</p>
				<br>
				<p>
					The fore ground of the image contains wooden material in the bottom left that had the image been taken from aa position of several steps backwards along the access track would have revealed was part of the sign direction deliveries destined for {{ FF }}
					<ol>
						<li>
							It is unknown how this is a risk to the health and safety of the public
						</li>
						<li>
							It is unknown how this is causing {{ FFH }} nuisance
						</li>
						<li>
							It's functional requirement to {{ FF }} makes it's unsightliness irrelevant however the term is subjective in any case
						</li>
					</ol>
				</p>
				<p>
					The far edge of the image at approximately three fifths down from the top of the image contains a stack of small timber. The stack in question consists of tropical hard wood that were once made up to form pallets for the movement of stone paving. The pallets have been recycled back into wooden batons by carefully removing nails in order to be use for various tasks as seen fit. There nature as a hardwood makes them very resilient to rot and thus storing them discretely under the red dogwood bush is not problematic. locaionally they near the corner of the intersection of the private track owned by {{ FF }} to which {{ FFH }} does not have a right of way, to the  private track owned by {{ FF }} to which {{ FFH }} does have a right of way.
					<ol>
						<li>They at no point are on the right of way enjoyed by {{ FFH }} ergo it is difficult to see in what way they cause {{ FFH }} a nuisance and a specific reasoning will need to be provided if any.
						</li>
						<li>
							The timber in the context of an area that is outside of the actual view of the {{ FFH }} title is difficult to consider unsightly especially when:
							<ol type="a">
								<li>
									taking into account the subjective nature of the term subjective
								</li>
								<li>
									taking into account that they represent potentially useful and materials
								</li>
								<li>
									taking onto account that they are not within view of the {{ FFH }} title only within view of it's right of way to which it does not have any right of a view only a right of access which is not blocked.
								</li>
								<li>
									had specific and legitimate concerns been raised about this specific item the {{ FHO }}s views could have been accommodated where {{ FF }} were inclined such as moving the timber to a new position however {{ FFH }} would need to be mindful
									<ol type = "i">
										<li>
											{{ FF }} is under no obligation to do so
										</li>
										<li>
											It appears any location where a representative of {{ NHB }} could see the displaced timber would seem to be unreasonable
										</li>
										<li>
											No compelling reason has been given as to why moving material to a position where it may not be convenient or would be less convenient would be necessary
										</li>
									</ol>
								</li>
							</ol>
						</li>
						<li>
							It is not understood how these components consist of a risk to the public
						</li>
					</ol>

				</p>
				<br>
				<p>
					
				</p>
			</p>
		</div>
	</div>

</div>