<div>
	<h>National House Buyers</h>

	<p>
		<ol>
			<li>
				NHB investments limited operates under the trading name of National Housebuyers who shall from here on be referred to as NHBI.
				<br>
				NHBI and it's directors utilise a network of limited companies to conduct their buisness, it being unclear exactly which company undertakes each action of their buisness.
				<br>
				 It is unclear when the directors, that are common to each of the Limited companies, act for each limited company in realtion to each task, duty or function.
			</li>
				<br>
			<li>
				NHBI claim to have done  property research prior to purchase as evidenced by their website
			</li>
		</ol>
	</p>
</div>
