<div>
	<h><b> Crime </b></h>
	<p>
		{{ FF }} in common with many properties in less populated rural areas can experience substantial criminal interference and nuisance. 
		<br>
		In many cases criminal activity is focused upon what can be perceived as vulnerable higher value assets with lower thresholds of security than urban locations.
	</p>
	<p>
		<h> <b> Facts to be determined </b> </h>
			<ol type="1">
				 <li>
					Does {{ FF }} and rural isolated farmsteads suffer from crime
				</li>
				<li>
					
				</li>
			</ol>
		<br>
	</p>
	<p>
		<h> Defending {{ FF }} property and interests against Crime <h> 
			<br>
				<li>
					The occupiers of {{ FFH }} will not tollerate crime targeting {{ FF }} or any occupier or visitor to the property or any nuisance intended to intervene with lawful operations
				</li>
			<br>
	</p>
	<p>
		<h> <b> Litigation remedy </b> </h>
			<br>
				<li>
					Crimes and misdemenas attributable to the {{ FFHO }} or any agent acting for them or any occupier of {{ FFH }} that intervene with {{ FF }} may be apprehended and prosecuted (where there is evidence to do so) to protect the interests of {{ FF }} and any occupier thereto
				</li>
			<br>
				<li>
					{{ FFHO }} will be deemed culpable and liable to action whereby any tortuous or illegal conduct is;
					<br>
						<ol type="i">
							<li>insighted by, or</li>
							<li>encouraged by, or </li>
							<li>planned by, or </li>
							<li>initiated by, or </li>
							<li>undertaken by the {{ FFHO }} (or successor in title) or any other natural or non natural person committing an act following association with ; {{ NHBI }}, {{ NHB }} , {{ MAMPA }} , {{ MM }}.</li>
						</ol>
				</li>
	</p>
	<p>
		<h> <b> Preevelant Nuisance and Crime </b> </h>
			<br>
				<li>
					The occupiers of the {{ FF }} property have historically suffered successive instances of nuisance, trespass, aggrevated trespass, theft, assault, harrassment, criminal damage and other criminal conduct by the Occupiers of Furnace Farmhouse.
				</li>
			<br>
				<li>
					Consequently  {{ FF }}  has been obliged to take intervening mitigation action conducting litigation and prosecution to prevent the continuence of criminal acts of interferene.
				</li>
			<br>
	</p>
		<h> <b> Proscution of Criminal conduct </b> <h>
			<br>
				<li>
					For the purposes of apprehending crime {{ FF }} has acquired support and consent from the Crown Prosecution Service; 
			<br>
					<ol type="a">
						<li>
							to issue and conclude private prosecution proceedings 
						</li>
						<li>
							prosecute crime in the Magistrate Court
						</li>
						<li>
							prosecute crime in the Crown Court
						</li>
						<li>
							 conduct private prosecution for the purposes of protecting deefined interests at {{ FF }} and the occupiers thereto
						</li>
					</ol>
				</li>
			<br>
		<h> <b> Established Fact </b> <h>
			<br>
				<li>
					Statements of fact cconceerning the farm access tracks serving {{ FF }} have been determined by Judicial Review.
				</li>
			<br>	
				<li>
					The facts established at Jusdicial Review recognised;
				</li>

					<ol type="a">
						<li>
							{{ FFH }} has no rights or easements to use or permit to be used any motor propelled vehicle over or upon any farm track save for the access highlighted orange on the {{ FFH }} Title Deed plan upon which the access is marked and highlighted ORANGE.
						</li>
					<br>	
						<li>
							no prescriptive rights or lost modern covenant fictions exist upoon which the occupiers of {{ FFH }} and or {{ FFHO }} may rely to use or permit to be used any motor propelled vehicle over or upon any farm track or adjacent land to the {{ FFH }} and or the right of way granted by the 1968 conveyance between the Crown Estate and Magurite de Revell.
						</li>
					<br>	
						<li>
							the access easement rights granted to {{ FFH }} are confined to pass and repass over the Fam Track identified on the 1968 conveyance without causing a nuisance to the protected lands;
					<br>	
							<ol type="i">
								<li>
									not to park or cause an obstruction upon the access or protected land,
								</li>
							<br>	
								<li>
									when using the designated farm track access not to undertake or permit to be undertaken any conduct which could be considered a danger or nuisance to other users,
								</li>
							<br>	
								<li>
									demonstrate a duty of care commensurate with the awareness that the Farm Track has a varied class of users and operations that can be harmed by vehicles especially at speed; 
								</li>
							<br>	
									<ol>
										<li>
											livestock , game and wildlife, horses
										</li>
									<br>	
										<li>
											pedestians, infants/ children, cyclists
										</li>
									<br>	
										<li>
											other vehicles of varied size and capacity including forestry and agricultural vehicles with reduced visibility and or other performance attributes
										</li>
									</ol>
							</ol>
						</li>
					<br>	
						<li>
							 The occupiers of {{ FFH }} are deemed to have a subjective awareness of the foregoing risks and reecognise the expectation to utilise the easements granted over the designated farm track access in a careful, safe and considerate manner
						</li>
					</ol>
				</li>
		<h> <b> Case Law ; Established Fact </b> <h>
				<li>
					
				</li>

		
