{% set temp = namespace(
						dva = "Diminishing Value Attributes", 
						dvp = "Diminishing Value Pressures",
						) %}

<div>
	<p>
		<h><b> {{temp.dva}} </b></h>
			<br>
				<li>
					{{ FF }} suffers from a range of attributes that together apply discrete and incremental pressure that dimishing the title value
				</li>
				<li>
					Diminishing value pressures can be concluded to be those attributes that;
					<ol>
						<li>
							lessen the appetite
						</li>
					<br>
						<li>
							scope of qualifying potential investore
						</li>
					<br>
						<li>
							inclination to adapt livestyle to fit
						</li>
					<br>
						<li>
							limitations on future value
						</li>
					<br>
						<li>
							constraining factors reducing potential use or enjoyment
						</li>
					<br>
						<li> 
							increased operational costs
						</li>
					<br>
						<li>
							weighted or penalised resettlement costs associated with the property status
						</li>
					<br>
						<li> 
							limited enivronmental & green mitigation options
						</li>
					<br>
						<li> 
							windows views and light enjoyment
						</li>
					<br>
						<li> 
							quality of life (EU "quality of life and life expectancy" impact)
						</li>
					<br>
				</li>
			<br>
	</p>




		<p>
			<h> <b> Facts to be determined </b> </h>
				<ol type="1">
					 <li>
						Does {{ FF }} and rural isolated farmsteads suffer from crime
					</li>
					<li>
						
					</li>
				</ol>
			<br>
	</p>