<div>
	<h2> {{ NHBI }} {{ CPR }} Disclosure Obligation</h2>
	<p>
		<h2> Compliance complaint;  </h2>
		<ol type="A">
			<li>
			 	the claimant {{ NHBI }} owe a duty-of-care to comply with the provisions of the Civi Procedure Rules (hereinafter alternatively referred to as: CPR) in respect too all asspects of their pursuit of claim and to owe that duty to individually to; (i) HM Courts  (ii) Respondents; {{ EH }}, {{ OH }} , (iii) COMPANY Employing Respondents.
			</li>
			<li>
				the  threshold of competance owed by the claimant {{NHB}} in respect to compliance with CPR must be measures to the highest possible standard because;
						<br>
				<ol type="1">
					<li>
						it is the claimant that has initiated the procedings so as to have the effect of intervening with and diminishing the tranquility otherwise enjoyed by each respondent,
					</li>
						<br>
					<li>
						the claimant's conduct in advancing the claim demands upon the time and effort of each respondent necessarily consuming irreplceable resources and effort and time that is needed by each respondent upon another pressing and time degradeable endeavour which will be harmed as a result,
					</li>
						<br>
					<li>
						the claimant is represented by a professional litigator supported by a sizeable legal practice with all available resources necessary to comply with CPR both in terms of the spirit and intent intended as well as the technical dedmands to adhear to the "dots" and "I's" of it's practical use and implentation together with it's intended construction and effect.
					</li>
				</ol>
			</li>
			<li>
				where it is identified that the claimant deviates from any matter of compliance requirements within the scope pf CPR it is argued that the claimant has done so without excuse and will have frustrated proceedings without and rational justification or excuse.
			</li>
				<br>
			<li>
			 	Each Respondent in the proceedings argues that wheresoever the claimant fails to comply with CPR in any way, the impact of the non-compliance should be evaluated on a strict liability test basis to determine whether an Abuse-of-Process arises.
			 </li>
				<br>
			 <li>
			 	Should a breach of CPR protocol arise an Abuse-of-Process arise the respondents seek the consideration of the court to strike out the claim.
			 </li>
				<br>
			 <li>
			 	Should a breach of CPR protocol arise that falls below the threshold of an Abuse-of-Process the couort is asked to penalise the claimand {{ NHBI }} by awarding costs against them.
			 </li>

		</ol> 

	</p>
	<div>
	<div>
		<h2> Questions to Resolve: Regarding the Claimant's CPR compliance </h2>
		<ol type="A">
		<li>
			Have the claimant {{ NHB }} and it's representatives exercised and complied with the duty to provide full material disclosure to the respondents ; {{ EH }}, {{ OH }}?
			<br>
				<ol type="a">
					<li>
						What is the threshold test to determine whether {{ NHBI }} have complied with it's disclosure obligations
					</li>
						<br>
					<li>
						A failure by {{ NHBI }} to provide a full material disclosure may constitute a breach of CPR
					</li>
						<br>
					<li>
						A deliberate failure to deliver full material disclosure in compliance with an ordered schedule may be deemed a wilfull breach of CPR amounting to an abuse of process
					</li>
		</li>
			<br>
		<li>
			Are the claimants {{ NHBI }} obligated to reveal material information about the {{FFH}} property to {{ EH }}, {{ OH }} given the material information sought by way of disclosure consititutes the same fact/s that the Claimant is in-any-case obliged to provide whether direcctly or via an agent under it's vendor disclosure obligations to a buyer?
		</li>
			<br>
		<li>
			Are the claimants {{ NHBI }} obligated to disclose to {{ EH }}, {{ OH }} all enquiries made by them about the property when a purchase was pursued by {{ NHB }} both as; 
			<ol type="i">
				<li>
					a viewer and prosepective buyer of {{ FFH }}
				</li>
					<br>
				<li>
					as the contracted and subsequent purchaser of {{ FFH }}
				</li>
			</ol> 
		</li>
			<br>
			Do the Claimants {{ NHBI }} have an obligation to disclose to;  {{ EH }}, {{ OH }}, all instructions and information handled by them regarding the property {{ FFH }} in respect to;
			<br>
				<ol type="1">
					<li>
						evaluating the property before purchase in respect to
						<ol type="a">
							<li>
								the condition of the building fabric
							</li>
							<li>
								the limit and extent of all rights and easements that run with the title of {{ FFH }}
							</li>
							<li>
								the restrictive covenants that bind and constrain the rights of the title in respect any adjacent land
							</li>
							<li>
								the obligations and duties that bind the property
							</li>
							<li>
								the implications and constraints that run with the property by nature of the historic asset Grade 2 Listing.
							</li>
							<li>
								the risk and history and implications implicit with the location of {{ FFH }} within a flood plain adjacent to a river tributary
							</li>
							<li>
								the duty-of-care owed by the owners and or occupiers of {{ FFH }} in respect to the protected land {{ FF }}
							</li>
							<li>
								the nature and setting of the property {{ FFH }} within the location of {{ FF }} with the implicit characteristic of appearance and operations that arise with farming, forestry and diversified use of agricultural holdings
							</li>
						</ol>
					</li>
					<li>
						instructions and marketing information proivided to agents acting for the claimant {{ NHB }}
					</li>
					<li>
						the dislosure of information provided to prospective purchasers of {{ FFH }} by; 
						<br>
							<ol type="a">
								<li>
									{{ NHB }},
								</li>
								<li>
									{{ MAMPA }},
								</li>   
								<li>
									{{ MM }},
								</li>
								<li>
									{{ NHB }} conveyancer responding to enquiries in respect to {{ FFH }},
								</li>   
							</ol>
					</li>
					<li>
						awareness of any dispute or difficulty encountered by the {{ FFHO }} in respect to;
						<ol type="a">
							<li>
								the management of the property
							</li>
							<li>
								neighbouring property
							</li>
							
							<li>
								other users of shared infrastructure
							</li>
							
							<li>
								water supply
							</li>
							
							<li>
								mobile phone reception
							</li>
							
							<li>
								delivery of consignments to the property
							</li>
							<li>
								the access track to the property in respect to;
								<br>
									<ol type="i">
										<li>
											the length of the access track
										</li>
											<br>
										<li>
											the condition of the access track
										</li>
											<br>
										<li>
											the time taken to navigate the access track by vehicle
										</li>
											<br>
										<li>
											the drainage of the access track
										</li>
											<br>
										<li>
											the absence of passing places on the access track
										</li>
											<br>
										<li>
											any other aspect of the access track
										</li>
									</ol>
							</li>
						</ol>
				</li>
			</ol type="1">
		</li>
		<br>
			<li>
				When asked to disclose the status of the property {{ FFH }} in respect to the acquisition and previous history known to the {{ FFHO }} the claimant {{ NHB }} have an obligation to provide
				<ol type="a">
					<li>
						accurate details with respect to whether the property was released from  previous owners in part or resultant of;
						<br>
							<ol type="a">
								<li>
									foreclosure and or reposession
								</li>
									<br>
								<li>
									death or incapacity of the prior owner/s
								</li>
									<br>
								<li>
									severe delapidation of the property and or diminished occupational standard of living conditions
								</li>
									<br>
								<li>
									prolongued lack of appetite to let or sell the property following extensive marketing
								</li>
									<br>
								<li>
									inability to obtain power via the adjacent transmission-only powerlines nor via the consumer network at an affordable price,
								</li>
									<br>
								<li>
									inability to obtain vehicular access to Hartley and Cranbrook eastwards over the private road owned by Furnace Farm lying to the East of {{ FFH }},
								</li>
									<br>
								<li>
									inability of the {{ FFHO }} to let {{ FFH }} at a rental  yield comparative to the rental yield obtinable from an urban property of similar value,
								</li>
									<br>
								<<li>
									the uneconomic prospect imposed by the cost of upgrading {{ FFH }} to comply with EPC standards which cannot yield either an equivalent or an inflated equitable appreciation. Where numerous serious deficiencies remain un-resolved it is apparent that any incomplete upgrade of the property will not sunstantially improve; {{ FFH }}'s value , or the appetite of prospective purchasers to invest in the property,
								</li>
									<br>
								<li>
									inability to obtain financial services such as a mortgage finance using {{ FFH }} as the mortgage security,  and or otherewise acquire mortgage finance at a competive mortgage interest premium,
								</li>
									<br>
								<li>
									inability to obtain indemnity for financial services for flood insurance,  and or otherewise acquire indemnity at a competive premium,
								</li>
									<br>
								<li>
									inability to obtain further land to enlarge the title plot to match properties of similar age style and construction
								</li>
									<br>
								<li>
									inability to obtain a standard mortgage offer for the purchase of {{ FFH }} without extensive building and or structural surveys and or overiding conditions to undertake schedules of one or more of the following ; 
									<br>
									 	<ol type="a">	
									 		<li>
									 			undertakle repairs
									 		</li>
									 			<br>
									 		<li>
									 			remedy defects;
									 			<br>
									 				<ol type="i">	
									 					<br>
													 		<li>
													 			undertakle repairs
													 		</li>
													 			<br>
													 		<li>
													 			to the Listed Building conditions relative to it's scheduled status,
													 		</li>
													 			<<br>
													 		<li>
													 			to structural defects
													 		</li>
													 			<<br>
													 		<li>
													 			to leaks,
													 		</li>
													 			<<br>
													 		<li>
													 			to inadequate liveing standards,
													 		</li>
													 			<<br>
													 		<li>
													 			implied by the property's EPC status,
													 		</li>
													 			<<br>
													 		<li>
													 			to inadequate liveing standards,
													 		</li>
													 			<br>
													 		<li>
													 			charcterised by decay or infestation,
													 		</li>
								</li>
							</ol>   
					</li>
				<br>
					<li>
						they are confronted and forced to engage with a stranger seeking information about {{ FFH }} and provide answers they hold an honestly held belief to be true?
					</li>
						<br>
					<li>
						Do the respondends cause harm to the vendor's efforts to sell the property if they choose not to respond to an enquiry about the property when pursued by a viewer potentially enquiring as a prospective buyer?
					</li>
				</ol>
			</li>
		</ol>
	</div>
		<br>
	<div>
		<h2>Questions to Resolve: Regarding CLAIMANT's Conduct and Duty of Care</h2>
			<br>
		<h1> {{ NHB }} Status and derivative conduct obligations</h1>
			<br>
				<p>
					NHB operates a business model buying residential properties at a discounted value from homeowners that find themselves in financial distress. 
					<br>
					The {{ NHB  }} Company and other companies owned by the Directors of {{ NHB }} charge a fee to undertake a market valuation of the vendor's property. 
					<br>
					When an offer is presented by {{ NHB }} predicated upon a discount value from it's own "in-house valuation" a transaction may take place.
				</p>
					<ol type="1">
						<li>
							Can {{ NHB }} be considered to be;
							<br>
								<ol type="a">
									<li>
										a professional investor
									</li>
										<br>
									<li>
										a sophisticated investor
									</li>
								</ol> 
						</li>
						<li>
							In what professional capacity must {{ NHBI }} and {{ MAMPA }} be clssified where they provide a market valuation to property owners in return for a fee that includes the interpretation of; 
							<br>
								<ol type="i"> 
									<li>
										property data and intelligence,
									</li>
										<br>
									<li>
										property valuation metrics,
									</li>
										<br>
									<li>
										property market capacity and appetite,
									</li>
								</ol>
						</li>
						<li>
							If either or both {{ NHBI }} and {{ MAMPA }} are considered to owe a duty of care attributable to a professional would such obligations engage where the company or staff were ;
							<br>
								<ol type="a">
									<li>
										acting as a professional providing professional advice,
									</li>
										<br>
									<li>
										paid to provide reliable valuations or such valuations were otherwise related to property advice or representation or a subsequent sale,
									</li>
										<br>
									<li>
										relaied upon to provide accurate advice that should be supported by evidence,
									</li>
										<br>
									<li>
										the customer relies on the information imparted to them when considering a transaction and or engaging cost to pursue and or complete a transaction
									</li>
								</ol> 
						</li>
					<br>

			<li>
				Have the claimant {{ NHBI }} and it's resentatives {{ MAMPA }} and or {{ MM }} exercised and complied with all duties pursuant to providing full material disclosure in relation to {{ FFH }} regarding;
				<br>
					<ol type="a">
						<li>
							the setting of {{ FFH }},
						</li>
							<br>
						<li>
							all defects effecting the building fabric and it's listed status,
						</li>
							<br>
						<li>
							all matters limiting or precluding modern standards of living,
						</li>
							<br>
						<li>
							elevated operating and maintenanace costs discrete to the property, 
						</li>
							<br>
						<li>
							limitations to services and utilities specific to the property, 
						</li>
							<br>
						<li>
							elevated risks and restricting factors that may diminish enjoyment and or value, 
						</li>
					</ol>
				<br>
			</li>
	<div>
		<h2>Questions to Resolve: Regarding Respondent/s to Allegations</h2>
			<ol type="1">
				<li>
					Have the claimant {{ NHB }} and it's representatives exercised and complied with it's duty to provide full material disclosure?
				</li>
	<div>
		<h2>Disclosure Index</h2>
		<ol>
			<li>
				Regulatory obligation to exercise full material disclosure
			</li>
				<br>
			<li>
				Professional body requirement to exercise full disclosure
			</li>
				<br>
			<li>
				Legal Obligation to implement Professional Indemnity 
			</li>				
				<br>
			<li>
				Undertaking to Professional Indemnity Underwriters to exercise disclosure
			</li>
				<br>
			<li>
				Definition of activities obliged to exercise disclosure
			</li>
				<br>
			<li>
				Actors obliged to exercise full material disclosure
			</li>
				<br>
			<li>
				Full material disclosure defined
			</li>
				<br>
			<li>
				Over-riding spirit and intent of Full material disclosure
			</li>
				<br>
			<li>
				Duty upon Professionals to communicate material disclosure facts to another Professional related to a property sale
			</li>
				<br>
			<li>
				Maintaining a competant record of material disclosure information
			</li>
				<br>
			<li>
				Performing best endeavours to maintain and continually update the record of material disclosure information
			</li>
			<li>
				Duty to identify any negative property attibutes within the material disclosure information record
			</li>
			<li>
				Obligation to record: Resolved issues, neutralised defects or attributes, within the Material Disclosure Record
			</li>
				<br>
			<li>
				Effect of Under-disclosure and fraudulent on offers, contracts and sale completions
			</li>
				<br>
			<li>
				Under-disclosure and fraudulent non-disclosure defined
			</li>				
				<br>
			<li>
				{{ NHB }} Examples of Fraudulent non-disclosure
			</li>				
				<br>
			<li>
				{{ NHB }} Examples of Under-disclosure
			</li>				
				<br>
			<li>
				Impact of {{ NHB }} disclosure conduct upon prospective sale
			</li>
		</ol>				
	<br>
</div>
<div>
	<h2>Property disclosure defined actors and functions </h2>				
		<br>
			<ol>
				<li>
				<h2>Actors subject to Disclosure obligations</h2>
				<p>
					The following actors are under a legal obligation and owe a duty of care to prospetive buyers to make a full and frank disclosure to prospective buyers of a property for which they act in any capacity within a sale. The duty of disclosure falls on each of the following;
					<ol type="1">
						<li>
							{{ NHB }},
						</li>				
							<br>
						<li>
							{{ MM }},
						</li>				
							<br>
						<li>
							{{ MMAM }},
						</li>				
							<br>
						<li>
							{{ BMPA }},
						</li>				
							<br>
						<li>				
							<br>
						</li>
					</ol>		
				<br>
			</p>

		</li>
	</ol>				
</div>
	<h> Disclosure Procedural Requirements</h>				
		<br>
			<p>		
				
			</p>				
				<br>
			<p>
				Throughout the process of selling a property it is a requirement of all parties acting in the interests of the vendor whether;  evaluating presenting, marketing, 
			</p>				
				<br>
			<p> 
				Require a Statements of fact identifying {{ NHB }} disclosue of {{ DMB }} together with a signed {{ SOT }} attestifying the accuracy of all {{ DMB }} created for { PDC }} {{ BOOBI }} {{FFHO}} and or {{ MMAM }} or any {{ VARS }} acting in relation to the propeerty {{ FHH }} 
			</p>
		<ol>
			<li>
				It is a requirement for the {{ FFHO }} namely {{ NHB }} to disclose all Material Information pertaining to the title of {{ FFH }} and execute and deliver to any; {{ UPB }}, {{ OPB }} a full disclosure of all and any factor that may reasonably be determined to be important for a prospective property purchaser to consider when evaluating a property for purchase.
			</li>

			<li>
				{{NHB}} have established a {{ DOC }} in relation to the disclosure of {{MI}} to the following actor/s with an obligation to disclose;
				<ol>
					<li>
						{{ MM }}
						{{ BMPA }}
						{{ UPB }}
						{{ OPB }}
					</li>
				</ol>
			</li>
						<br>

			<li>
				It is incumbent upon a competent property professional to execute a full disclosure of all and any factor that may reasonably be determined to be important for a prospective property purchaser to consider when evaluating a property for purchase.
				<ol>
					<li>provide a contemporary {{ TA6 }} or equivalent property disclosure form completed by the vendor
					</li>
						<br>
					<li>
						disclose all documents and relevant details of any event that has effected the property or it's setting whether identified in a disclosure form or otherwise known to the {{VARS  }} <!-- TODO : need to modify injector for this term to inc. solicitor --> vendors or agents or representatives or solicitors in the sale of the property </li>
						<br>
					<li>
						disclose any details concerning a dispute or disagreement that has arisen in relation to the property or it's occupation or enjoyment or protection or setting</li>
						<br>
					<li>
						to provide disclosure of all and any information that is required to be release to a vendor in order to comply with; the best practice advice, membership conditions, accredited professional's regulations, statutory legal obligation, or any other  a regulated standard or industry membership body protocol or industry standard 
					</li>
						<br>
					<li>
						maintain a ledger of all discplosures provided to {{VARS}} specifying;
						<br>
							<li>
								the document reference,
							</li>
						<br>
							<li>
								genesis date of the document,
							</li>
						<br>
							<li>
								date and details of any amendments made to any document where alterations have been made subsequent to the genesis / creation date 
							</li>
						<br>
							<li>
								
							</li>
						<br>
							<li>
								
							</li>zc
					</li>
						<br>
					<li>
						provide with respect to each; {{UPB}},  {{OPB}} {{VARS}}, a name record of each recipient of disclosue detailing; 
						<br>
							<ol> 
								<li>
								the date when each disclosure was made to a {{UPB}} , {{OPB}}, {{VARS}},
								</li> 
									<br>
								<li>
									preserve copy of correspondence accompanying the disclosure,
								</li> 
									<br>
								<li>
									record the method of conveyance of the disclosure and any accompanying communication,
								</li> 
							</ol>
					</li>
				</ol>
			</li>
		<br>
			<li>
				The vendor {{NHB}} of the property [[FFH]] is obliged to formally make known to any person or organisation acting in a representative capacity including any; {{VARS}};
				
			</li>
		<br>
			<li>
				Where it becomes apparent to the {{FFHO}} and or {{VARS}} that a material character or condition or defect and or attribute effecting the property exists that was not previously expressly or presented within a prior {{DPM}} it is incumbent upon the foregoing to make those facts known to any person that has;
				<br>
					<ol>
						<li>
							previously pursued an enquiry in relation to the property {{FFH}} , 
						</li>
							<br>
						<li>
							received prior {{DPM}} in relation to {{FFH}},
						 {{DPM}} , 
						</li>
							<br>
						 <li>received prior {{DPM}} in relation to {{FFH}},
						 {{DPM}} , 
						</li>
					</ol> 	
			</li>
		<br>
			<li>
				Where {{FFHO}} {{NHB}} and or a {{PMA}} namely {{MAMPA}} and or {{VARS}} become aware of a {{MC2DPM}} an obligation will arise when providing an updated disclosure to clarify  each change or update added to the {{DPM}} ;
				<br>
					<ol>
						<li>
							provide a summary sheet of all amendments to the {{PMA}} , 
						</li>
							<br>
						<li>
							provide a reference to any document previously released that will be effected by the {{MC2DPM}},
						</li>
							<br>
						<li>
							specify when the {{MC2DPM}} took place, 
						</li>
							<br>
						<li>
							identify any apparent or known implications that may arise in relation to the property as a consequence of the {{MC2DPM}} , 
						</li>
					</ol>	
			</li>

			<li>
				The {{FFHO}} property speculator {{NHB}} and or a {{PMA}} namely {{MAMPA}} and or {{VARS}} become aware of a {{MC2DPM}} and has implemented administration or other measures as a consequence thereto, it is incumbent upon these parties to ensure any party representing the property to provide;
				<br>  
					<ol>
						<li>
							a clear factual statement identifying each {{MC2DPM}} together with any supporting documentation to clarify measures and or procedures and or administration that has been executed in response to a qualifying {{MC2DPM}} arising.
						</li>
					</ol>
						<br>
					<ul>
						under previous ownerships it has been acceptable to enter onto the garden to undertake necessary maintenance when the house is unoccupied (as it has from time to time been due to its status as a weekend home)
					</ul>
			</li>
		<br>
			<li>
				provide a copy of each survey of FF
			</li>
		<br>
			<li>
				At the time of entrance onto the title known as {{FFH}} the mature hawthorn hedge had grown so freely that portions of the hedge were in actual physical contact with the North building fabric of Furnace Farm House and had done so for some time
		<br>
				<p>
					This can be evidenced by the marketing photographs produced for Marketing of {{FFH}} over the summer period.
				</p>
				
				<h>Other important points of note</h>
			</li>

			<li>
				agents doing works to FFH had been consulted and stated that the managers of the property did not wish for any works to be done to the property beyond those the agents were already being commissioned to do on an approximately by weekly basis. This can be evidenced by audio recording A.
				<ul>
					<li>Gardeners confirmed they did not know how to contact Owners of FFH.</li>
				</ul>
			</li>

			<ul>
				<li>mature hawthorns in the late summer and autumn months have unique fruit called a haw.</li>
				<li>Haws are a well known food of the grey squirrel which is abundant in the Kent country side especially in highly wooded ares such as the surrounding areas of Bedgebury Forest where Furnace Farm House is situated</li>
				<li>grey squirrels are recorded to actively seek out and consume lead.</li>
				<li>Lewis, R. J. (2015) https://digitalcommons.usu.edu/cgi/viewcontent.cgi?article=1035&context=wdmconference. Consumption of Metallic Lead and its Effects on Tissue (conference paper / proceedings). aptly summarizes the abundant documentation of this behavior in it's introduction and further references (McKinnon et al. 1976, Lewis et al. 2001, Pokras and Kneeland 2008) as sources</li>
				<li>Furnace Farm House has abundance of lead flashing to help stop the ingress of water into the building</li>
			</ul>
		</ol>

		<h>Timeline</h>
		<p>
			Occupiers of furnace farm are unable to give a timeline of exact dates as works undertaken were executed under the form of general maintenance that are performed on an annual recurring basis.
			As such no documentation noting dates of works or hours spent were documented nor were any photographs taken as there were no reasons to imagine their requirement.
			As such any timeline can only provide a rough indication of the sequence of events but not their precise moments in time.
		</p>
	</div>

	<div>
		<h>Conclusions</h>
		<ol>
			<li>The property title of Furnace Farm House was entered onto by agents of FF.</li>
			<li>Works were done to undertake regular maintenance to the North and Eastern hedges surrounding the property where large growths had grown over and through the boundary fence.</li>
			<li>Had the works not been done there would have been an increased chance of damage being caused to FFH caused by the proximity of the mature hawthorn hedging haws and the leading of FFS. And due to the general nature of the leaning branches being a cause of access to the building for squirrels and other rodents.</li>
			<li>some of the cuttings were left on the property of FFH for a short but exact period unknown before being relocated onto FF as evidenced by figure n.1 (the top photo on the A4 page labelled n) provided by NHS investments notice of intent to claim.</li>
			<li>
				It is claimed and corroborated by figure n.2 provided by NHS ice of intent to claim that some cuttings were left on the access to FFH on the track that forms a part of the title of FF but over which FFH has a right of way.
				<ul>
					<li>agents of FF have no recollection of leaving cuttings in this location.</li>
					<li>The cutting identified in figure n.2 were removed by agents of FF once they had come to their attention.</li>
					<li>cuttings were relatively light and could easily have been moved by hand with minimal effort in order to gain access to FFH by light vehicle.</li>
					<li>cuttings were sufficiently small as to have been no obstruction for large vehicles to drive over.</li>
					<li>cuttings were no obstruction to users of the access of FFH that approached by foot (Which seemed to be the most common practice).</li>
				</ul>
			</li>
		</ol>
	</div>
</div>

<ul>
	 ie not their fault ... the vendor claims a devaluation to the property 

		.... no mention of or admission of NHB disclosure defects being responsible for any failure to attract a buyer .

		PASTE THE ACCUSATION : effectively .. The property cannot be sold for a profit because of the Respondents ... etv etc etc ,  ie not their fault ... the vendor claims a devaluation to teh property 

		.... no mention of or admission of NHB disclosure defects being responsible for any failure to attract a buyer .
</ul>
{%- set questions_data = [
	{
		"context" : "context",
		"text" : "Do the " + FFH + "",
	},
	{
		"context" : "context",
		"text" : "the real meat of the question"
	},
	{
		"context" : "context",
		"text" : "the real meat of the question"
	},
	] 
%}
{{ question_table(questions_data ) }}
					<!-- TODO : ADD INJECTOR REF: SOT} = statement of truth --> 

					<!-- TODO : ADD INJECTOR REF: PDC = public domain consumption --> 

					<!-- TODO : ADD INJECTOR REF: BOOBI = by or on behalf of or on the instruction of --> 

 					<!-- TODO : ADD INJECTOR REF: DPM = disclosure and or prospectus or marketing material --> 

					<!-- TODO : ADD INJECTOR REF: MC2DPM}} = material change to disclosure and or prospectus or marketing material --> 

					<!-- TODO : ADD INJECTOR REF: PMA = Property Managing Agent --> 

					<!-- TODO : ADD INJECTOR REF: MAMPA = Momentum Asset Management Property Agents --> 

					<!-- TODO : ADD INJECTOR REF: MCC = material character or condition or defect and or attribute effecting the property exists --> 

					<!-- TODO : ADD INJECTOR REF: RDDP = Reputable Due Diligence Procedure -->

					<!-- TODO : ADD INJECTOR REF: APAI = Appropriate and Proportionate Additional Enquiries -->
					