
Untrue stories seeded by Mansell MacTaggart;

	mortgage reposession

	farmhouse owns the surrounding land an vehicles

	defamation

	misrepresentation


<h> National Home Buyers Investments Ltd Conduct </h>
	<br>

		<li>
		Director conduct and ethics:
	The management suite at NHB includes Julian King
	King has been convicted of conducting multiple premeditated fraud.
	" XXX " counts of premeditated sophisticated financial fraud
		</li>


	<h> Dishonest Conduct </h> 
		<br>
			<li>
				The frauds involved multiple instances of;
			NEED THE DATA ACCESS REQUEST :  
			 BRIgHTON & HOVE COUNCIL PROSECUTION - FILE
		<br>
				<ol>
					<li>
						perjured statements of fact
					</li>
					<li>
						misepesentation of ownership
					</li>
					<li>
						faudulent
					</li>
					<li>
						concealment of beneficial ownership
					</li>
				</ol>
			</li>

	<li>
	
	</li>
