<div>
	<h>Garden cuttings,small branches within {{ FFH }} boundary</h>
	<p>
		Litigator statement : "cuttings of branches and bushes that have seemingly been dumped by you onto our clients land"
	</p>

	<li>  
		<h> <b>Questions to be resolved: Trespass </b></h>
		<ol type="1">
			<li>
				Were cuttings and or branches brought onto the land at {{ FFH }} from another place
			</li>
			<li>
				When trees overhang a boundary and or line of juncture so as to appear above a neighbouring property title does a trespass arise. 
			</li>
				<ol type="i">
					Case Law; Site Crane overhanging neighbour
					Case Law; Tree overhanging title bound
				</ol>
			<li>
				If the branches were cut from an overhanging tree and fall veritcally to the ground do the severed branches create a trespass
			</li>
			<li>
				If the severed branches and cuttings that formerly grew over the title are gathered into a pile do they create; 
				<ol type="a">
					<li>
						No trespass as they were always within the title
					</li>
					<li>
						A continuing trespass as they were already within the title bound
					</li>
					<li>
						A new trespass distinct from any previous status (of (i) no trespass, or (ii) a continuing trespass)
					</li>
				</ol>
			</li>
			<li>
				If the branches are cut from trees that overhanging a bound and the work is undertaken in compliance with a covenant to maintain the integrity of a boundary will the fallen branches (which due to gravity must fall vertically) create a technical tresspass, or 
				<ol type="a">
					<li>
						does the covenant permitting maintenance of boundaries presume the branches severed from overhanging trees and or shrubs will fall onto property subject to the covenant and thus an implied right to undertake work will negagate any action alleging trespass 
					</li>
					<li>
						does the covenant permitting maintenance amount to an easement to undertake the works to maintain the boundary such that no trespass can be deemed to exist
					</li>
					<li>
						where the practice of maintaining the boundary hedge and entering onto land to remove cuttings and branches from an established boundary amount to an easement by prescription that sets aside any right to litigate an alleged trespass
					</li>
				</ol>
			</li>
		</ol>
	<br>
		<h> <b> Questions to be resolved: Nuisance and or Harm </b></h>,
		<ol type="1">
			<p>
				What tests must be met and metrics applied to determine if a claim of Nuisance and or Harm arose if trespass is proven?
			</p>
				<li>
					Is the claimant required to demonstrate a financial loss? 
				</li>
	<br>
			<h> <b> Questions to be resolved: Damages </b> </h>,
		<ol type="1">
			<p>
				What tests must be met and metrics applied to justify quantum of damages if trespass proven?
			</p>
			<li>
				Is the claimant required to demonstrate a financial loss?
			</li>
		</ol>
<br>
	<h> <b> Questions to be resolved: Damages </b> </h>
	<p>
		What tests must be must be met and metrics applied to justify quantum of damages if trespass is proven
	</p>
		<ol type="1">
			<li>
				Is the claimant required to demonstrate a financial loss to secure damages,
			</li>
			<li>
				By what metric is a claim for inconvenience or nuisance determined if there has been no financial loss or costs resulting from the trespass
			</li>

		</ol>
	</li> 
</div>
	<br>
