<div class="legal-block">

    <p>
        Laid out below are easements and restrictive covenants set out in the original conveyance of {{ FFH }} dated <strong>14 August 1968</strong>. 
        These clauses are transcribed verbatim from the original document and assigned references for further reference; some may therefore appear out of context and should be interpreted with reference to the complete conveyance where necessary.
    </p>

    <p>
        For the immediate avoidance of doubt:  
        <strong>“The Purchaser”</strong> refers to {{ NHB }}, and  
        <strong>“The Protected Land”</strong> refers to {{ FF }}, being the land 
        adjoining {{ FFH }} (and all other parcels of land which on 14 August 1968 formed 
        part of the Bedgebury Estate owned by the Crown Estate).
    </p>

    <!-- Restrictive Covenants -->
    <h2 class="legal-section-heading">Restrictive Covenants</h2>

    {{ text_quotation("The Purchaser will not by virtue of this Conveyance acquire, in respect of the 
            property hereby assured, any right of light or air or any other easement, 
            liberty or privilege over or in respect of the Protected Land.", "RC-1") }}

    {{ text_quotation("Her Majesty and the Commissioners and Her or their grantees, lessees and 
            tenants and their respective successors in title shall be at liberty to erect 
            such buildings or erections on such land in such manner as She or they think 
            fit, notwithstanding that access to or the use of light or air now or at any 
            time enjoyed by the Purchaser may be obstructed, diminished or destroyed; and 
            such access and use shall thereafter be enjoyed by the Purchaser subject to the 
            provisions hereof and not otherwise.", "RC-2") }}

    <!-- Benefitting Easements -->
    <h2 class="legal-section-heading">Exceptions and Restrictions</h2>

    <div id="BE-1" class="legal-clause">
        <div class="legal-clause-ref">BE-1</div>
        <p>
            <!-- Insert the easement text here -->
        </p>
    </div>

</div>
