<div>
	<p>layed out are the variouse easements and restrictive covenants layed out in the origional conveyance of {{ FFH }} dated 14th august 1968, transcribed verbatim as they are written in the origional document; as such some may be out of absolute context and should be read within the context of the origional document where neccesary </p>
	<p>
		For the immediae avoidance of doubt 'The Purchaser' in the following refer to {{ NHB }} and the 'Protected Land' refer to the land known as {{ FF }} that immediatly bounds onto {{ FFH }} (and also refers to all other parcels of land that on the date 14th august 1968 formed a part of the Bedgebury Esate as owned by the Crown Estate)
	</p>
	<h>Restrictive Covenants</h>
		<p>
			The purchaser will not by virtue of this Conveyance aquire in respect of the property hereby assured any right of lightor air or any other easement liberty or priveledge over or in respect of the protected land
		</p>
		<P>
			Her Maajesty and the Commisioners and Her or their garantees lessees andd tenantsand their respective successors in title shaall be at liberty to erect such buildings or erections on such land in such manner as She or they may think fit notwithstanding that the access and the use of light or air now or at any time hereafter enjoyed by the Purchaser may be obstructed diminished or destroyed and that such access and use of light and air as aforesaid shall be thenceforth enjoyed by the Purchaser subject to the provisions hereof aand not otherwise
		</P>
		<p>
			Any covenants or restrictions the benefit of which has been previously annexed to the property hereby assured or any part thereof maay at any time andd from time to time be released waived and dispensed with or modified in whole or in part by the Commisssioners in writing under their handsd (whether or not any of the)
		</p>
		<p>
			Her Majesty
		</p>
	<h>Benefitting Easements</h>
</div>
