<div>
	<div>
		<p>
			The following statements are purely meant to address portions of NHBA-7 in reference to the claimed <strong>makeshift barrier</strong> 
		</p>
		
		<p>
			Reference to a "makeshift barrier" is taken to refer to the gate that is located more than 100m distance to the West of {{ FFH }} and forms part of the farm track functional infrastructure.
		</p> 
	</div>
	<div class="image-pair">
		<figure>
			<img src="{{ url_for('static' , filename=claim_letter+'gate__closeup_part.png') }}" alt="Gate closeup part" />
			<figcaption>Figure K.1 — Gate_closeup (part view)</figcaption>
		</figure>
		<figure>
			<img src="{{ url_for('static' , filename=claim_images+'figure_k1_gate_closeup.png') }}" alt="Dumped waste full view" />
			<figcaption>Figure N.2 — Gate closeup (part view)</figcaption>
		</figure>
	</div>
<br>
	<div>
		<h><b> Statements of fact regarding Furnace Farm access </b></h>
		<ol>
			<li>
				Protection of FF title and the shared Access marked (on the Covenants for Furnace Farmhouse) against nuisance and aggrevated trespass make it necessary for the Owner of Furnace Farm to maintain a gate near to the entrance of the land. 
			</li>
			<li>
			The gate location is marked on a scaled plan identified as; (i)  Exhib.:XXX, (ii) Gate plan. 
				<div class="image-pair">
					<figure>
						<img src="{{ url_for('static' , filename=deeds+'deed_map.png') }}" alt="Deed map" />
						<figcaption>Deed Map — </figcaption>
					</figure>
					<figure>
						<img src="{{ url_for('static' , filename=deeds+'deed_fence_clause.png') }}" alt="Deed clause" />
						<figcaption>Deed Clause — Fence maintenance</figcaption>
					</figure>
				</div>
			</li>
			<li>
				Gate identified on the Gate Plan Exhib.:XXXX is positioned within the Furnace Farm title away from neighbouring land titles upon the access farm track (shared with Furnace Farmhouse). 
			</li>
			<li>
				Gate location ensures gate operation is (i) clear of other competing farm activities,  (ii) does not apprehend any traffic however temporarily on neighbouring land, poses no thrat to adjacent infrastucture or land use.
			</li>
			<li>
				FFHO for at least the Last decade continuously have been content for the occupiers of Furnace Farm to maintain the boundaries and manage gates where required. 
				<ol>
					<li>The present Gate located on the access track to the West of Furnace Farmhouse is a one of several successive gates that have been maintained and replaced over time as required. 
					</li>
					<li>The construction of the wooden gate is in the local vernacular locally sourced and sustainable Sweet Chestnut material rail bolted with a wire protective swathe to prevent unlawful interference with the gate or hinge. 
					</li>
					<li>the Gate is if a design type used extensively in farming and nationally by the Forestry commission.
					<li>
					<li> A green covered wire mesh covers the segment of  gate nearest the gate and supports a clear reflective yellow sign providing clear warning of pedestrians using the single lane track. The Sign is of a standard size and font and clour design.
					<li>
					<li>The Gate design height deters ra-raiding and incorporates soft visual indicators to alert drivers and pedestrians to the bar
					</li>
					<li>The gate does not restrict the FFHO (or any visitor thereto) from accessing Furnace Farmhouse. </li>
					<li>Gates are a necessary infrastructure which are however frequently targeted by various classes of Actor that from time to time enter more remote areas of the countryside to commit;  trespass, aggrevated trespass, theft, damage, assualt, flytipping, fires and other acts of nuisance and harm. 
					</li>
					<li>Hitherto in recent times metal and wooden gates have been cut smashed and destroyed by unlawful vehicle trespass and theft. 
					</li>
					<figure class="image-inline">
							<img src="{{ url_for('static' , filename=claim_images+'XXXXXXXXXX.png') }}" alt="XXXXX Gate Damage evidence" />
							<figcaption>Damage caused to Access Gates </figcaption>
						</figure>
				</ol>
			</li>
			

			<li>
				The Gate installed to the West of Furnace Farm provides tangible benefits to the FFHO by;
				<ul>
					<li>protecting pedestrians
					</li>
					<li>slowing the speed of traffic
					</li>
					<li>detering trespass & nuisance
					</li>
						<ol>
							<li>
							Gate does not unreasonably impede access,
							Only one gate installed on the shared access used by the FFHO,
							Covenants confirming the rights and entitlements to Furnace Farmhouse are silent with respect to any rights now claimed by the FFHO to consent or object or otherwise authorise or deny or regulate the style or method of security provisioned upon the access drive over which the FFHO enjoys a right of access.
							</li>
						</ol>
						<figure class="image-inline">
							<img src="{{ url_for('static' , filename=claim_images+'XXXXXXXXXX.png') }}" alt="XXXXX Gate Design evidence" />
							<figcaption>effective gate design</figcaption>
						</figure>
					</li>
				</ul>
			</li>
		</ol>
	</div>
</div>


