<div>
	<h>Accusation</h>
	<p>
		Construction of a makeshift barrier and leavving a wooden pallet that obstructs the private track road leading down to Furnace Farmhouse, not far from the property itself. 

		Our client has credible reason to believe that you erected the barrier structure notwithstanding that you did noto have our client's consent or authorisation to do so.

		This amounts to a trespass as well as a nuisance. 

		we encloise a photograph sheet marked "R" which shows the makeshift barrier.

	</p>
	<div class="image-pair">
		<figure>
			<img src="{{ url_for('static' , filename=claim_letter+'gate__closeup_part.png') }}" alt="Gate closeup part" />
			<figcaption>Figure K.1 — Gate_closeup (part view)</figcaption>
		</figure>
		<figure>
			<img src="{{ url_for('static' , filename=claim_images+'figure_k1_gate_closeup.png') }}" alt="Dumped waste full view" />
			<figcaption>Figure N.2 — Gate closeup (part view)</figcaption>
		</figure>
	</div>

	<div>
		<h>Statements of fact regarding Furnace Farm access</h>
		<ol>
			<li>
				Protection of FF title and the shared Access marked (on the Covenants for Furnace Farmhouse) against nuisance and aggrevated trespass make it necessary for the Owner of Furnace Farm to maintain a gate near to the entrance of the land. The gate location is marked on a scaled plan identified as; (i)  Exhib.:XXX, (ii) Gate plan. 
				<div class="image-pair">
					<figure>
						<img src="{{ url_for('static' , filename=deeds+'deed_map.png') }}" alt="Deed map" />
						<figcaption>Deed Map — </figcaption>
					</figure>
					<figure>
						<img src="{{ url_for('static' , filename=deeds+'deed_fence_clause.png') }}" alt="Deed clause" />
						<figcaption>Deed Clause — Fence maintenance</figcaption>
					</figure>
				</div>
			</li>

			<li>
				The Gate identified on the Gate Plan Exhib.:XXXX is positioned within the Furnace Farm title away from neighbouring land titles upon the access farm track (shared with Furnace Farmhouse). The Gate location ensures gate operation is (i) clear of other competing farm activities,  (ii) does not apprehend any traffic however temporarily on neighbouring land, poses no thrat to adjacent infrastucture or land use.
			</li>

			<li>
				The FHO for at least the Last decade continuously have been content for the occupiers of Furnace Farm to instead maintain the boundaries and manage gates where required. 
				<ol>
					<li>The present Gate located on the access track to the West of Furnace Farmhouse is a one of several successive gates that have been maintained and replaced over time as required. </li>
					<li>The construction of the wooden gate is in the local vernacular locally sourced and sustainable Sweet Chestnut material rail bolted with a wire protective swathe to prevent unlawful interference with the gate or hinge. </li>
					<li>the Gate is if a design type used extensively in farming and nationally by the Forestry commission.<li>
					<li> A green covered wire mesh covers the segment of  gate nearest the gate and supports a clear reflective yellow sign providing clear warning of pedestrians using the single lane track. The Sign is of a standard size and font and clour design.<li>
					<li>The Gate design height deters ra-raiding and incorporates soft visual indicators to alert drivers and pedestrians to the bar</li>
					<li>The gate does not restrict the FHO (or any visitor thereto) from accessing Furnace Farmhouse. </li>
					<li>Gates are a necessary infrastructure which are however frequently targeted by various classes of Actor that fromo time to time enter more remote areas of the countryside to commit;  trespass, aggrevated trespass, theft, damage, assualt, flytipping, fires and other acts of nuisance and harm. </li>
					<li>Hitherto in recent times metal and wooden gates have been cut smashed and destroyed by unlawful vehicle trespass and theft. </li>
					<figure class="image-inline">
							<img src="{{ url_for('static' , filename=claim_images+'XXXXXXXXXX.png') }}" alt="XXXXX Gate Damage evidence" />
							<figcaption>Damage caused to Access Gates </figcaption>
						</figure>
				</ol>
			</li>
			

			<li>
				The Gate installed to the West of Furnace Farm provides tangible benefits to the FHO by;
				<ul>
					<li>protecting pedestrians</li>
					<li>slowing the speed of traffic</li>
					<li>detering trespass & nuisance</li>
					<li>
						The gate does not unreasonably impede access,
						There is only one gate on the shared access used by the FHO,
						The covenants confirming the rights and entitlements to Furnace Farmhouse are silent with respect to any rights now claimed by the FHO to consent or object or otherwise aurthorise or deny or regulate the style or method of security provisioned upon the access drive over which the FHO enjoys a right of access.
						<figure class="image-inline">
							<img src="{{ url_for('static' , filename=claim_images+'XXXXXXXXXX.png') }}" alt="XXXXX Gate Design evidence" />
							<figcaption>Evidence of hawthorn haws among dumped cuttings</figcaption>
						</figure>
					</li>
				</ul>
			</li>

			<li>
				It has from time to time been a requirement for the occupiers of furnace farm to access the title of Furnace Farm House to maintain the boundary fence.
			</li>

			<li>
				On some occasions That maintenance includes cutting large woody growth that may grow through the fence and cause damage. Large growth may also cause nuisance or a burden of cost in cutting to the FHO.
			</li>

			<li>
				Under previous versions of ownership permission to do said maintenance works could easily be acquired via knocking on the door of {{ FFH }} and directly requesting permission from the occupants.
				<ul>
					<li>Under previous versions of ownership it has not always been necessary to confer with the owner/occupier of {{ FFH }} to enter onto the land and undertake regular maintenance works that do not cause intrusion or nuisance.</li>
				</ul>
				<ul>
					under previous ownerships it has been acceptable to enter onto the garden to undertake necessary maintenance when the house is unoccupied (as it has from time to time been due to its status as a weekend home)
				</ul>
			</li>

			<li>
				during the approximately 18 months preceding NHB Investments ownership of {{ FFH }} no significant gardening work had taken place resulting in a large volume of unchecked growth from the hedges located on the title of Furnace farm onto that of Furnace Farmn house
			</li>

			<li>
				At the time of entrance onto the title known as Furnace Farm House the hawthorn hedge had grown so freely that portions of the hedge were in actual physical contact with the North building fabric of Furnace Farm House and had done so for some time
				<p>This can be evidenced by the marketing photographs produced for Marketing of {{ FFH }} over the summer period.</p>
				<div class="image-grid">
					<figure>
						<img src="{{ url_for('static' , filename=marketing+'marketing_overhead_zoomed.png') }}" alt="Marketing overhead zoomed" />
						<figcaption>Marketing overhead (zoomed)</figcaption>
					</figure>
					<figure>
						<img src="{{ url_for('static' , filename=marketing+'markting_overhead.png') }}" alt="Marketing overhead" />
						<figcaption>Marketing overhead</figcaption>
					</figure>
					<figure>
						<img src="{{ url_for('static' , filename=marketing+'marketing_main_frontage.png') }}" alt="Marketing main frontage" />
						<figcaption>Main frontage</figcaption>
					</figure>
					<figure>
						<img src="{{ url_for('static' , filename=marketing+'marketing_main_frontage_zoomned.png') }}" alt="Marketing main frontage zoomed" />
						<figcaption>Main frontage (zoomed)</figcaption>
					</figure>
				</div>
				<h>Other important points of note</h>
			</li>

			<li>
				agents doing works to {{ FFH }} had been consulted and stated that the managers of the property did not wish for any works to be done to the property beyond those the agents were already being commissioned to do on an approximately by weekly basis. This can be evidenced by audio recording A.
				<ul>
					<li>Gardeners confirmed they did not know how to contact Owners of FFH.</li>
				</ul>
			</li>

			<ul>
				<li>Hawthorns in the late summer and autumn months have unique fruit called a haw.</li>
				<li>Haws are a well known food of the grey squirrel which is abundant in the Kent country side especially in highly wooded ares such as the surrounding areas of Bedgebury Forest where Furnace Farm House is situated</li>
				<li>grey squirrels are recorded to actively seek out and consume lead.</li>
				<li>Lewis, R. J. (2015) https://digitalcommons.usu.edu/cgi/viewcontent.cgi?article=1035&context=wdmconference. Consumption of Metallic Lead and its Effects on Tissue (conference paper / proceedings). aptly summarizes the abundant documentation of this behavior in it's introduction and further references (McKinnon et al. 1976, Lewis et al. 2001, Pokras and Kneeland 2008) as sources</li>
				<li>Furnace Farm House has abundance of lead flashing to help stop the ingress of water into the building</li>
			</ul>
		</ol>

		<h>Timeline</h>
		<p>
			Occupiers of furnace farm are unable to give a timeline of exact dates as works undertaken were executed under the form of general maintenance that are performed on an annual recurring basis.
			As such no documentation noting dates of works or hours spent were documented nor were any photographs taken as there were no reasons to imagine their requirement.
			As such any timeline can only provide a rough indication of the sequence of events but not their precise moments in time.
		</p>
	</div>

	<div>
		<h>Conclusions</h>
		<ol>
			<li>The property title of Furnace Farm House was entered onto by agents of FF.</li>
			<li>Works were done to undertake regular maintenance to the North and Eastern hedges surrounding the property where large growths had grown over and through the boundary fence.</li>
			<li>Had the works not been done there would have been an increased chance of damage being caused to {{ FFH }} caused by the proximity of the hawthorn hedging haws and the leading of FFS. And due to the general nature of the leaning branches being a cause of access to the building for squirrels and other rodents.</li>
			<li>some of the cuttings were left on the property of {{ FFH }} for a short but exact period unknown before being relocated onto FF as evidenced by figure n.1 (the top photo on the A4 page labelled n) provided by NHS investments notice of intent to claim.</li>
			<li>
				It is claimed and corroborated by figure n.2 provided by NHS ice of intent to claim that some cuttings were left on the access to {{ FFH }} on the track that forms a part of the title of FF but over which {{ FFH }} has a right of way.
				<ul>
					<li>agents of FF have no recollection of leaving cuttings in this location.</li>
					<li>The cutting identified in figure n.2 were removed by agents of FF once they had come to their attention.</li>
					<li>cuttings were relatively light and could easily have been moved by hand with minimal effort in order to gain access to {{ FFH }} by light vehicle.</li>
					<li>cuttings were sufficiently small as to have been no obstruction for large vehicles to drive over.</li>
					<li>cuttings were no obstruction to users of the access of {{ FFH }} that approached by foot (Which seemed to be the most common practice).</li>
				</ul>
			</li>
		</ol>
	</div>
</div>
