<div>
	<h>Accusation</h>
	<p>
		<div id="NHBA-7" class="legal-clause">
			<div class="legal-clause-ref">NHBA-7</div>
			<p>
				Construction of a makeshift barrier and leaving a wooden pallet that obstructs the private track road leading down to Furnace Farmhouse, not far from the property itself. 

				Our client has credible reason to believe that you erected the barrier structure notwithstanding that you did noto have our client's consent or authorisation to do so.

				This amounts to a trespass as well as a nuisance. 

				we encloise a photograph sheet marked "K" which shows the makeshift barrier.
			</p>
		</div>
		<div id="NHBA-8" class="legal-clause">
			<div class="legal-clause-ref">NHBA-8</div>
			<p>
				Constructing unauthorised and unpermitted makeshift structures and fencing along the private track road thaat leads to Furnace Farm House without prior consent or authorisation from our client to do so. This amounts to a tresspass as well as a nuisance. We enclose a photograph sheet maarked "L" and "M" which shows these structures
			</p>
		</div>


	</p>
	<div>
		<h>Basic Facts in Regard to Tresspass</h>

		<ol>
			<li>
				Both NHBA-7 and NHBA-8 refer to acts of tresspass.
			</li>
			<li>
				Per the descriptions given and the the enclosed and referenced photograph none of the contents seem to reference or show any areas that were parts of {{ FF }} as such there could by definition be no tresspass.
			</li>
		</ol>
	</div>
	<div>
		<h>Basic Facts in Regard to Nuisance</h>
		<ol>
			The claim of nuissance seems to for the most part be formed from the presumption that the afformentioned alledged acts of tresspass are also defacto as a part of being tresspasses nuissances.
		</ol>
	</div>
</div>