<div>
	<h>Accusation</h>
	<p>
		<ol type="i">
			<li>
				Construction of a makeshift barrier and leaving a wooden pallet that obstructs the private track road leading down to Furnace Farmhouse, not far from the property itself. 

				Our client has credible reason to believe that you erected the barrier structure notwithstanding that you did noto have our client's consent or authorisation to do so.

				This amounts to a trespass as well as a nuisance. 

				we encloise a photograph sheet marked "K" which shows the makeshift barrier.
			</li>
			<li>
			</li>
		</ol>

	</p>
	<div>
		<h>Basic Facts in Regard to Tresspass</h>

		<ol>
			<li>
				Per the descriptions given and the the enclosed and referenced photograph none of the contents seemed to reference or show any areas that were parts of {{ FF }} as such there could by definition be no tresspass.
			</li>
		</ol>
	</div>
</div>