<div>
	<h> <b>Accusation </b> </h>
	<p>
		{{ line_by_line_text_quotation(
				[
					"Construction of a makeshift barrier and leaving a wooden pallet that obstructs the",
					"private track road leading down to Furnace Farmhouse, not far from the property",
					"itself. Our client has credible reason to believe that you erected the barrier structure",
					"notwithstanding that you did not have our client's consent or authorisation to do so.",
					"This amounts to a trespass as well as a nuisance. 

					we enclose a photograph sheet",
					"marked \"K\" which shows the makeshift barrier.",
				],
				42,
				"NHBA-7",
				"ODT"| safe
			)
		}}
		{{ line_by_line_text_quotation(
				[
					"Constructing unauthorised and unpermitted makeshift structures and fencing along",
					"the private track road that leads to Furnace Farm House without prior consent or",
					"authorisation from our client to do so. This amounts to a trespass as well as a nuisance.",
					"We enclose a photograph sheet marked \"L\" and \"M\" which shows these structures"
				],
				48,
				"NHBA-7",
				"ODT"
			) 
		}}

	</p>
	<div>
<br>
	<h><b> Basic Facts in Regard to trespass </b></h>

		<ol>
			<li>
				Both NHBA-7 and NHBA-8 refer to acts of trespass.
			</li>
			<li>
				Per the descriptions given and the the enclosed and referenced photograph none of the contents seem to reference or show any areas that were parts of {{ FF }} as such there could by definition be no trespass.
			</li>
			<li>
				The track road that leads to {{ FFH }} is for a distance of some {# TODO: need to measure exact distance of track owned by furnace farm#} owned by {{ FF }}. This therefore would suggest several possible explanation for the claims of trespass originating from NHBA-7 and NHBA-8.
				<ol type = "a">
					<li>
						{{ NHB }} either via the title to {{ FF }} or otherwise claims ownership of a portion of land currently unknown:
						<ol>
							<li>
								{{ NHB }} seek to litigate and evidence claim of adverse possession.
							</li>
							<li>
								{{ NHB }} seek to litigate and evidence a claim to the effect that (the farm track forms part of the farmhouse title)
							</li>
							<li>
								Some other claim not competently drafted or evidenced but nonetheless likely to emerge given the absene of cogent grounds to commence proceedings to date.
							</li>
						</ol>
					</li>
					<br>
					<li>
						{{ NHB }} disputes the existing boundaries between {{ FF }} and {{ FFH }}
					</li>
				</ol>
			</li>
		</ol>
	</div>
<br>
	<div>
		<h><b> Basic Facts in Regard to Nuisance </b> </h>
		<ol>
			The claim of nuisance seems to for the most part be formed from the presumption that the aformentioned alledged acts of trespass are also defacto as a part of being trespasses nuisances.
		</ol>
	</div>
</div>