<div>
	<div>
		The following statements are provided to address components identified within Exhibit NHBA-7 in reference to the claimed <strong>makeshift barrier</strong> which is taken to refer to the gate that forms a threshold into the greater part of {{ FF }}
	</div>
	
	<div>
		<h> {{ FFHO }} disregard for the Covenant obligation running with title of {{ FFH }} </h>
		<ol>
			<li>
				The FF title contains numerous landscape drainage features, from which {{ FFHO }} derive substantial benefit, as these drainage features diminsh the risk of flooding from surface run-off. 

				which is .(on the Covenants for Furnace Farmhouse) against nuisance and aggrevated trespass make it necessary for the Owner of Furnace Farm to maintain a gate near to the entrance of the land. 
			</li>
			<li>
			The gate location is marked on a scaled plan identified as; (i)  Exhib.:XXX, (ii) Gate plan. 
				<div class="image-pair">
					<figure>
						
					</figure>
				</div>
			</li>
			<li>
				Gate identified on the Gate Plan Exhib.:XXXX is positioned within the Furnace Farm title away from neighbouring land titles upon the access farm track (shared with Furnace Farmhouse). 
			</li>
					
				</ol>
			</li>
			

			<li>
				The Gate installed to the West of Furnace Farm provides tangible benefits to the FFHO by;
				<ul>
					<li>protecting pedestrians
					</li>
					<li>slowing the speed of traffic
					</li>
					<li>detering trespass & nuisance
					</li>
						<ol>
							<li>
							
							</li>
						</ol>
					</li>
				</ul>
			</li>
		</ol>
	</div>
</div>


