<div>
	<h>Accusation</h>
	<p>
		Claimant {{ NHB }} seeks to direct blame at the respondent/s {{ EH }} {{OH}} for their inability to harvest a significant profit from a back-to-back-sale sometimes referred to by property investors and dealers dealers in a coloquial slang as a "flip" of flipping" a property, that is to say immediately reselling a property for a profit without undertaking any significant further investment in order to garner the speculative profit. 
	</p>
	<p> {{ NHB }} intended to "flip" the {{ FFH }} property that was acquired at a value of £465,000 by immediately reselling {{ FFH }} at a greatly inflated value of £625,000. 
	</p>
	<p> When the delapidated condition of {{ FFH }} property was commented upon by contractors {{ NHB }} made it known to; {{ MAMPA }},  {{ VARS }} and or contractors that the {{ FFHO }} had no intention to undertake maintenance or repair to the property.
	</p>
	<p> Within the {{ FFH }} property Disclosure documents there is no mention by ; {{ NHB }},  {{ MAMPA }}, {{ VARS }} of any defects to the property that have been brought to the attention of;  {{ NHB }} , {{ MAMPA }}, {{ NHB }}, {{ MAMPA }}.
	</p>
	<p> In September 2025 {{ NHB }} entered {{ FFH }} in a National Auction operated by {{ BMPA }} that is viewable and provides online auction participation internationally to prospective;  property buyers,  property investors, property speculators, property dealers, and any other buyer profile across the globe. 
	</p>
	<p> Two bids were submitted during the proceedings of the auction with bid values of (i) £560,000 , (ii) £565,000,  however {{ NHB }} declined the bid offers.  It is unclear whether the bids were placed by {{ NHB }} (or a proxy therto) with a view to artificially inflating a value and providing an image of market interest or whether the bid offers were submitted by independent or genuine prospective purchasers. 
	</p>
	<p> It is a practice employed by somoe speculators to issue Bid-offers for their own properties for the purpose of arificially creating an ambiance of intertest in a property for sale with the hope of stimulating interest and further bidding.  
	</p>
	<p> Within the property Disclosure documents for {{ FFH }} there is no mention any indication that {{ FFHO }} has declined to undertake maintenance or repair to the property when defects have been identified to them. </p> 
	</p>
	<p>
		Claimant {{ NHB }} claims it is unable to sell the property has demonstrated without undertaking any maintenance or repair and marketing the {{ FFH }} due to the alleged impact of the {{ Respondents }}.  
	</p>
	<p>
		Claimant {{ NHB }} allegation is made in-spite of the property {{ FFH }} being presented to the market with misleading marketing materials and inadequate property disclosure details that serve to conceal important property characteristics from a prospective purchaser.
	</p>
s

	<div>
		<h>Statements of fact regarding Furnace Farm House Boundaries</h>
		<ol>
			<li>
				It is a requirement for the Owner of Furnace Farm House (quoted as the Purchaser) to maintain a a 3ft 6 inches high driven spile fence, along all boundaries marked T in the attached map  
				
					
			</li>

			<li>
				As can be noted by the map broadly speaking all excluding the irregular knob in the north-west corner all boundaries of the property are marked with a T therefore creating the obligation for the Farmhouse owner to build and maintain said fence
			</li>

			<li>
				The FFHO for at least the Last decade continuously have been content for the occupiers of Furnace Farm to instead maintain the boundaries.

				<ol>
					<li>The subsequently erected fence has been of a height of approximately 1.9m far below the maximum allowance of 2m for a domestic fence before planning is required.</li>
					<li>The construction of the fence are simple treated apple stakes with stock wire on the bottom meter and chicken wire on the top portion. Previous owners possessed a pair of large hunting dogs capable of jumping 4ft with ease.</li>
					<li>This has removed the financial and/or time burden from The FFHO</li>
					<li>The erection of said fence does not restrict the FFHO from constructing their own fence either abutting or further in from the boundary; or other wise planting a hedge, shrubs or using some other visual barrier to create a more visually appealing boundary should they desire.</li>
				</ol>
			</li>

			<li>
				
				<ul>
					<li>Alder from the  South-East corner around to the half way along the West boundary.</li>
					<li>Laurel in the North half of the West Boundary</li>
					<li>
						The hedge is comprised of mature hawthorn from the North-West corner around to the South-East corner.
						It is from these specimens that the offending cuttings were take as can be evidenced by then noticeable red fruit or haws
						
					</li>
				</ul>
			</li>

			<li>
				It has from time to time been a requirement for the occupiers of furnace farm to access the title of Furnace Farm House to maintain the boundary fence.
			</li>

			<li>
				On some occasions That maintenance includes cutting large woody growth that may grow through the fence and cause damage. Large growth may also cause nuisance or a burden of cost in cutting to the FFHO.
			</li>

			<li>
				Under previous versions of ownership permission to do said maintenance works could easily be acquired via knocking on the door of {{ FFH }} and directly requesting permission from the occupants.
				<ul>
					<li>Under previous versions of ownership it has not always been necessary to confer with the owner/occupier of {{ FFH }} to enter onto the land and undertake regular maintenance works that do not cause intrusion or nuisance.</li>
				</ul>
				<ul>
					under previous ownerships it has been acceptable to enter onto the garden to undertake necessary maintenance when the house is unoccupied (as it has from time to time been due to its status as a weekend home)
				</ul>
			</li>

			<li>
				during the approximately 18 months preceding NHB Investments ownership of {{ FFH }} no significant gardening work had taken place resulting in a large volume of unchecked growth from the hedges located on the title of Furnace farm onto that of Furnace Farmn house
			</li>

			<li>
				At the time of entrance onto the title known as Furnace Farm House the mature hawthorn hedge had grown so freely that portions of the hedge were in actual physical contact with the North building fabric of Furnace Farm House and had done so for some time
				<p>This can be evidenced by the marketing photographs produced for Marketing of {{ FFH }} over the summer period.</p>
				
				<h>Other important points of note</h>
			</li>

			<li>
				When consulted the garden contractor undertaking work at {{ FFH }} stated Momentum property manager did not wish any works to be done to the property beyond the limited works schedule commissioned on an apparent foortnightly interval basis. 
				Exhibit: 
					File reccord: notes conversation with garden contractor. 
					Audio recording: A.
				<ul>
					<li>Gardeners confirmed they did not know how to contact  {{ FFHO }}.</li>
				</ul>
			</li>

			<ul>
				<li>mature hawthorns in the late summer and autumn months have unique fruit called a haw.</li>
				<li>Haws are a well known food of the grey squirrel which is abundant in the Kent country side especially in highly wooded ares such as the surrounding areas of Bedgebury Forest where Furnace Farm House is situated</li>
				<li>grey squirrels are recorded to actively seek out and consume lead.</li>
				<li>Lewis, R. J. (2015) https://digitalcommons.usu.edu/cgi/viewcontent.cgi?article=1035&context=wdmconference. Consumption of Metallic Lead and its Effects on Tissue (conference paper / proceedings). aptly summarizes the abundant documentation of this behavior in it's introduction and further references (McKinnon et al. 1976, Lewis et al. 2001, Pokras and Kneeland 2008) as sources</li>
				<li>Furnace Farm House has abundance of lead flashing to help stop the ingress of water into the building</li>
			</ul>
		</ol>

		<h>Timeline</h>
		<p>
			Occupiers of furnace farm are unable to give a timeline of exact dates as works undertaken were executed under the form of general maintenance that are performed on an annual recurring basis.
			As such no documentation noting dates of works or hours spent were documented nor were any photographs taken as there were no reasons to imagine their requirement.
			As such any timeline can only provide a rough indication of the sequence of events but not their precise moments in time.
		</p>
	</div>

	<div>
		<h>Conclusions</h>
		<ol>
			<li>The property title of Furnace Farm House was entered onto by agents of FF.</li>
			<li>Works were done to undertake regular maintenance to the North and Eastern hedges surrounding the property where large growths had grown over and through the boundary fence.</li>
			<li>Had the works not been done there would have been an increased chance of damage being caused to {{ FFH }} caused by the proximity of the mature hawthorn hedging haws and the leading of FFS. And due to the general nature of the leaning branches being a cause of access to the building for squirrels and other rodents.</li>
			<li>some of the cuttings were left on the property of {{ FFH }} for a short but exact period unknown before being relocated onto FF as evidenced by figure n.1 (the top photo on the A4 page labelled n) provided by NHS investments notice of intent to claim.</li>
			<li>
				It is claimed and corroborated by figure n.2 provided by NHS ice of intent to claim that some cuttings were left on the access to {{ FFH }} on the track that forms a part of the title of FF but over which {{ FFH }} has a right of way.
				<ul>
					<li>agents of FF have no recollection of leaving cuttings in this location.</li>
					<li>The cutting identified in figure n.2 were removed by agents of FF once they had come to their attention.</li>
					<li>cuttings were relatively light and could easily have been moved by hand with minimal effort in order to gain access to {{ FFH }} by light vehicle.</li>
					<li>cuttings were sufficiently small as to have been no obstruction for large vehicles to drive over.</li>
					<li>cuttings were no obstruction to users of the access of {{ FFH }} that approached by foot (Which seemed to be the most common practice).</li>
				</ul>
			</li>
		</ol>
	</div>
</div>
