<div>
<p>	
	<h1> Litigation Motive </h1>
		<h> Accusation </h>
			<br>
				The Claimant is the property speculator {{ NHB }} who seek to direct blame at the respondent/s {{ EH }} {{OH}} for {{NHBI}} inability to harvest a profit from a back-to-back property sale.
			<br>
		<h3> Claimant Reliance on Fiction </h3>
			<br>	
				The Claimant's accusation makes a key reliance upon the following fiction/s against which computable analysis can be applied to determine reality; 
				<ol type="1">
					<li>
						<br>
		<h> <b>The Fiction:</b></h>
			<br>	
				<ol type="A">
					<li>
						that a speculator is automatically entitled to garner a profit on a speculative property investment in a back-to-back (or any other) re-sale scenario regardless of the condition and status of the asset at the time of aquisition and irrespective of the asset's negative characteristics;
					<br>	
						<ol type="i">
							<li>
								 property dilapidation and defects
							</li>
							<li>
								tangible identified risks
							</li>
							<li>
								restrictive covenants
							</li>
							<li>
								restricted access to modern utility 
							</li>
							<li>
								restrictive covenants
							</li>
							<li>
								material breach of regulations requiring remedy
							</li>
							<li>
								compromised ration of plot size : to built land
							</li>
						</ol>

					</li>
				</ol>
			<br>
		<h> <b> The Fact: </b></h>
			<br>
				<ol type="A">
					<li>
						The speculator cannot presume an appreciation of value will occur absent of measurable attributes capable of delivering positive value exceeding all factors exerting a diminishing value effect
					<br>	
						<ol type="i">
							<li>
								Cost of remedying defects by way of; 
							<br>	
								<ol type="i">
									<li>	
										regularisation of planning
									</li>
									<li>
										retrospective applications
									</li>
									<li>	
										retrospective / corrective works, 
									</li>
									<li>
										 more
									</li>
						</ol>
					</li>
				</ol>
			<br>

							<h><b> The Reality </b></h>
								<br>
									<ol type="A">
										<li>
											Speculator may attribute value to;
											<ol type="i">
												<li>
													replacing hung tiles
												</li>
												<li>
													maintaining the garden
												</li>
												<li>
													limited repairs undertaken
												</li>
												<li>
													installing cctv
												</li>
												<li>
													replastering an external wall
												</li>
												<li>
													addressing roof leaks
												</li>
											</ol>
										</li>
									<br>
										<li>
											Conditions diminishing the value
										</li>
											<ol type="i">
												<li>
													incompatile tiles hung  (defective appearance) dimish the repair
												</li>
												<li>
													 tiles repairs are incomplete and so dimish the repair value
												</li>
												<li>
													dicarded broken building material debris litter th property
												</li>
												<li>
													plastering with unapproved materials
												</li>
												<li>
													pathways strewn with broken tiles and garden pots
												</li>
												<li>
													cement render applied over mesh not compliant requires restrospective listed building consent
												</li>
												<li>
													disintegrating pourus roof tiles not replaced
												</li>
												<li>
													sash window painted and sealed shut 
												</li>
												<li>
													wooden ply board affixed over rotten structural timbers
												</li>

												<li>
													roof valleys disintegrating 
												</li>
												<li>
													rotten window frames
												</li>


											</ol>
						<br>	
							<h> Fiction </h>
						<br>	
								<li>
									that a speculator without conducting an exhaustive and competant due diligence can prove that the value for which a property was purchased was a discount to it's true value
								</li>
						<br>
							<h> Reality check</h>
						<br>	
								<li>
									It shall be irrational for the {{ FFHO }} namely {{ NHBI }} to argue the purchase price of the property was discounted unless the property speculator can demonstrate the value of the property was competently determined in a methodical and auditable and transparent manner that can demonstrate;
									<ol type="i">
												<li>
													every material defect affecting the property was formally identified before an exchange of contracts took place to acquire {{ FFH }}
												</li>
													<br>
												<li>
													each material defect was formally idenitfied and noted in detail within a schedule predating the exchange of contracts to acquire {{ FFH }}
												</li>
													<br>
												<li>
													the impact of each defect was evaluated and the attributable value to each defect was identified and recorded in relation to the value contracted at exchange relative to;
													<ol type="a">
														<li>
															the attributable defect deduction value that was subtracted from the market value had the defect not existed
														</li>
															<br>
														<li>
															the cost of remedy to ameliorate the defect amd/ or otherwise resolve or repair the defect
														</li>
															<br>
												</li>
													<br>
												<li>
													the remedial and or discount cost attibutable to each defect was determined by a professional acting on instruction in an impartial capacity with no prior interest in {{ NHBI }} investment or benefit to the outcome of any subsequent sale of the property surveyed, 
												</li>
													<br>
												<li>
													the impact of any defect was evaluated in compliance with an approved by a professionally regulated professional surveyor acting with valid Professional Indemnity insurance following a survey and evaluation procedure recognised and or otherwise approved by the Royal Institute of Chartered Survevyor (RICS) or an equivalent organisation and or professional regulatory body.
												</li>
													<br>
												<li>
													the extent and full  history thereto was clarified within disclosure prior to the acquisition taking place 
												</li>
											</ol>
								</li>
					<br>
								<h> Applied </h>
					<br>


					</li>
				<br>
					<li>
						<h> Fiction </h>
						<ol type="1">
							<br>
								<li>
									that a successful acquisition of a land title with no comparative or equivalent property against which a benchmark value can be determined to have will have taken place at a discount price below the attainable market value and not
									<br>
										<ol type= "a">
											<li>
												at a premium (price exceeding true market value)
											</li>
												<br>
											<li>
												at a market par value
											</li>
										</ol> 
									<br>
								</li>
								<li>
									that a price transacted at completion following a competant negotiation in the absence of open market competition can accurately determine the price paid was at a discount price below the open market value and not;
								</li>
									<br>
										<ol type= "a">
											<li>
												at a premium price exceeding the true market value
											</li>
												<br> 
											<li>
												at par or true market value
											</li>
										</ol>
									<br> 
								</li>	
								<li>
									that it is possible to determine the true market value of the property without; 
									<ol type= "a">
										<li>
											
										</li>
										<li>
											appropriate interogation of title
										</li>
									<br>
										<li>
											completion of appropriate enquiries and disclosures
										</li>
									<br>
										<li>
											due dilligence proportional to the complexity of title attributes
										</li>
									</ol> 
								</li>	
									 , ,to the can accurately determine the true market value of the property to a consumer in possession of all pertinent facts required to consider a purchase 
								</li>
									
					</li>
				<br>
						<h> Reality </h>
							unless 
					</li>
				<br>	
				 	<li>
						<h> Fiction </h>
					<br>	
						that a failure to sell a property with exceptionally narrow defined appeal to consumers for a value that exceeds the purchase price is capable of creating a book loss
							<h> Reality </h>
							unless 
				 	</li>
				<br>	
					<li>
						<h> Fiction </h>
					<br>	
						that the prolonged period required by a speculator accustomed to 'back-to-back" sales (and commonly termed as "flipping") to sell a property can be attributed to a neighbour deespite the property historically having taken 2-to-3 years to sell on the open market on prior each occasion due to it's exceptionally narrow defined appeal attibutable to it's discrete characteristics
							<h> Reality </h>
							unless 
					</li>
				<br>
					<li>
						<h> Fiction </h>
					<br>	
						that a seasoned property speculator will always have acquired a property at a discount to the open market value because that is their belief and their past experience when buying and selling properties
							<h> Reality </h>
							unless 
					</li>
				<br>
					<li>
						<h> Fiction </h>
					<br>	
						that it is reasonable to always assume a residential property purchased on a speculative basis will increase in value within some equivalence to other properties whether locally or by any other sampling statistial model irrespecitve of discrete characterisics of the target property that aree not shared by the statistical or comparative samples
							<h> Reality </h>
							unless 
					</li>
				<br>
					<li>
						<h> Fiction </h>
					<br>	
						that a property speculator that undertakes ad-hoc works to a property that are inconsistent with the character and protected standards applicable to the property ( such as inappropriate materials or changes amounting to a breach of a protected status listed building status ) can still expect to garner an increase in value
							<h> Reality </h>
							unless 
					</li>
				<br>
					<li>
						<h><bold>Fiction </bold></h>
							<h> The Speculator {{ NHBI }} Claim</h>
								<br>	
							 		The property speculator {{ NHBI }} Letter of Claim seeks to argue that; 
									 <ol type=""> 
									 	<li>
									 		a diminution in property value of {{ FFH }} has occurred, 
									 	</li>
									 		<br>
									 	<li>
									 		and that a diminution in value of {{ FFH }} is attibutable to one or more respondent
									 	</li>
									 		<br>
									 </ol>
											<br>
							<h> Fatal flaws disqualifying the {{ NHBI }} Claim</h>
								<br>	
							 		The property speculator {{ NHBI }} claim is fatally flawed by the absence of procedural due diligence and honesty demonstrated by the claimant in relation to the administration and duty of care of the property and towards any prospective purchaser.
							 		<br>
							 		Any claim by {{ NHBI }} related to a Devaluation of the property {{ FFH }} must be deemed incapable of succeding;
							 		<br>
										 <ol type=""> 
										 	<li>
										 		where any defects effecting the property at the time of the speculator's acquisition were not;
										 		<ol type="1">
										 			<li>
										 				inspected ,evaluated and documented
										 			</li>
										 				<br>
										 			<li>
										 				costed for remedy and or repair and fully documented
										 			</li>
										 				<br>
										 			<li>
										 				interrogated and referenced within the negotiations that took place to acquire {{ FFH }} includding purchase disclsosures and or requisitions end equiries made to the vendor
										 			</li>
										 				<br>
										 			<li>
										 				surveyed and documented by a qualified professional
										 			</li>
										 		</ol>   
										 	</li>
										 		<br>
										 	<li>
										 		where defect existing at the time of the claimant speculator acquisition have continued and or accelerated to caused further damage
										 	</li>
										 		<br>
										 	<li>
										 		where new defects have arisen at the property since the the claimant speculator acquisition and resulted in damage
										 	</li>
										 		<br>
										 	<li>
										 		where the claimant's speculator limited attendendance and or inspection the property since the acquisition has resulted in either or both an absence of awareness or delayed awareness of defects
										 	</li>
										 		<br>
										 	<li>
										 		where the claimant's lack of experience or competence in inderstanding the maintenance needs of the property class and it's discrete character requirements have resulted in either a defective maintenance schedule or a complete absence of a competent property; management  inspection, and maintenance regime.
										 	</li>
										 		<br>
										 	<li>
										 		where the claimant' lack of experience or competence in inderstanding the maintenance requirements of the property class and age have resulted in a defective maintenance schedule and provision of care to the property
										 	</li>
										 		<br>
										 	<li>
										 		where the claimant speculator has authorised or otherwise instructed works to be done to the property and or otherwise failed to undertake works to the property which constitute a breach of one or more regulatory intruments and acts of legislation
										 	</li>
										 		<br>
										 	<li>
										 		where the combined aggregate diminution value effect of the defects extant at aquisition in addition to subsequent deterioration of the property have not been detailed with a schedule undertaken by a suitable accredited professional, 
										 	</li>
										 		<br>
										 	<li>
										 		where the property status and condition presented by the speculator pursuing a desired sale value has arisen in conjunction with any act of;
										 		<ol type="1">
										 			<li>
										 				 and 
										 			</li>
										 				<br>
										 			<li>
										 				fraudulent ommission and or under-disclosure
										 			</li>
										 				<br>
										 			<li>
										 				fraudulent misrepresentation and or misdirection
										 			</li>
										 				<br>
										 			<li>
										 				negligent misrepresentation
										 			</li>
										 				<br>
										 			<li>
										 				a dishonest endeavour 
										 			</li>
										 				<br>
										 			<li>
										 				deliberate and or habitual dishonesty
										 			</li>
										 				<br>
										 			<li>
										 				
										 			</li>
										 	</li>


						 		can reliably do so when it's own conduct has introduced new defects to the property for which a subsequent owner would become liable to; prosecution and or punitive regulatory action, costs in judicial proceedings, costs to remedy the new defect,
							<h> Conduct and Consequences: regulatory and punitive implications</h>
								<li>
									The  claimant's fraudulent conduct is a demonstrable abuse of process
								</li>
					 				<br>
					 			<li>
					 				
					 			</li>
					</li>
				<br>
				 	<li>
						<h> Fiction </h>
					<br>	
						that a speculative investor that undertakes limited  maintenance to a property is entitled to claim an increase in value and entitled to an inflated sale value either equivilent to or exceeding the cost of the works undertaken irrespective of whether the works were undertaken;
						<br>
					 		<ol type="i">
					 			<br>
						 			<li>
						 				incompetently : not using the correct materials in the correct manner
						 			</li>
								<br>	
						 			<li>
						 				negligently : not undertaken in compliance with pertinent laws and regulations and consents
						 			</li>
								<br>	
						 			<li>
						 				defectively : not undertaken using the correct skills techniques and or conformity to the required specification
						 			</li>
					 		</ol>
					 	<br>
							<h> Reality </h>
							unless 
				 	</li>	
		 	<h2> Back-to-back sales "flipping" </h2>
			<br>
			  	fast back-to-back re-sale of a speculative property investment as practiced in financial investment markets is sometimes referred to by property investors and dealers in a coloquial slang,  as a "flip" of flipping" a property.  
			<br> 
				That is to say,  immediately reselling a property for a profit without undertaking any significant further investment in order to garner the speculative profit. 
	</p>
		<br> 
	<p> 
				{{ NHB }} intended to "flip" the {{ FFH }} property that was acquired at a value of £465,000 by immediately reselling {{ FFH }} at an inflated speculative value of £625,000 (or there-abouts). 
	</p>
		<br> 
	<p> 
				Several contractors acting for {{ NHB }} have openly remarked upon the impact of selling  {{ FFH }} in a delapidated condition  to; {{ MAMPA }} and the agent {{ MM }} as well as to others in conversation.  
		<br>
				{{ VARS }} have been notified that {{ FFHO }} has until November 2025 deomnstrated scant intention to undertake maintenance or repair to the property other than cutting the grass.
		<br>
				Where works have been undertaken to the {{ FFH }} listed buiding fabric it is evident that;
				<ol type="1">
					<li>
						the listed building contained and continues to exhibit examples of; 
						<ol type="a">
							<li>
								defective workmanship practice
							</li>
							<li>
								use of material not confirming to the Listed Building vernacular and listing
							</li>
						</ol>
					</li>
					<li>
						works planned and undertaken have been in breach of listed building regulations
					</li>
					<li>
						works to the listed building were undertaken without consultation or notification of the statutory authority (English Hertage) or the regulatory supervisory body (Tunbridghe Wells Borough Council Planning Department)
					</li>
					<li>
						notifiable works undertaken to the fabric of the listed builing were not undertaken by a contractor recognised on a register of recognised contractors for works to listed buildings
					</li>
					<li>
						 modifications have been made to the built design and construction of the Listed Building that differ from it's protected vernacular status without the approval of the appropriate bodies
					</li>
				</ol>
</p>	
	<br>
		In November  {{ NHB }} appointed a roof contractor to undertake minor repairs to the hung tile wall facades of {{ FFH }} ;
		<br>
			<ol type="a">
				<li>
					in passing the contractor mentioned that : "The whole roof is in a bad condition and needs tearing off and starting again"
				</li>
				<li>
					tiles incorporated during repairs of the listed building are different to the original materials in; style texture, colour : 
				</li>
				<li>
					Without consent repairs or maintenance of the Listed Building {{ FFH }} incorporated substition materials that differ from the pre-existing fabric,  the works to the building constitute a technical breach of listed building regulations.
				</li>
				<li>
					"we were told to ..... "
				</li>

			</ol>
<br>
		Contractors working on the property have identified numerous instances of unauthodox and inappropriate temporary repairs to the property which will require substantial works to remedy, but have been told to ignore them and make the property superficially ready for sale.
	</p>
		<div id="NHBA-GARDENER-RECORD-1" class="neglect-proof">
			<div class="neglect-proof-ref">NHBA-GARDENER-RECORD-1</div>
				<h> Conclusion/s</h>
					<ol type="i"> 
						<li>
							since acquisition of {{ FFH }} 30 May 2025 the {{ FFHO }} has demonstrated a disinclination to maintain or invest in repairing the property
						</li>
						<li>
							by not undertaking repairs to facades of {{ FFH }} the {{ FFHO }} has failed to address key property condition elements that would concern or deter viewers from pursuing further negotiations  
						</li>
					</ol>
		</div>
		<br>
	<p> Within the {{ FFH }} property Disclosure documents there is no mention by ; {{ NHB }},  {{ MAMPA }}, {{ VARS }} of any defects to the property that have been brought to the attention of;  {{ NHB }} , {{ MAMPA }}, {{ NHB }}, {{ MAMPA }}.
	</p>
	<p> In September 2025 {{ NHB }} entered {{ FFH }} in a National Auction operated by {{ BMPA }} that is viewable and provides online auction participation internationally to prospective;  property buyers,  property investors, property speculators, property dealers, and any other buyer profile across the globe. 
	</p>
	<p> Two bids were submitted during the proceedings of the auction with bid values of (i) £560,000 , (ii) £565,000,  however {{ NHB }} declined the bid offers.  It is unclear whether the bids were placed by {{ NHB }} (or a proxy therto) with a view to artificially inflating a value and providing an image of market interest or whether the bid offers were submitted by independent or genuine prospective purchasers. 
	</p>
	<p> It is a practice employed by somoe speculators to issue Bid-offers for their own properties for the purpose of arificially creating an ambiance of intertest in a property for sale with the hope of stimulating interest and further bidding.  
	</p>
	<p> Within the property Disclosure documents for {{ FFH }} there is no mention any indication that {{ FFHO }} has declined to undertake maintenance or repair to the property when defects have been identified to them. </p> 
	</p>
	<p>
		Claimant {{ NHB }} claims it is unable to sell the property has demonstrated without undertaking any maintenance or repair and marketing the {{ FFH }} due to the alleged impact of the {{ Respondents }}.  
	</p>
	<p>
		Claimant {{ NHB }} allegation is made in-spite of the property {{ FFH }} being presented to the market with misleading marketing materials and inadequate property disclosure details that serve to conceal important property characteristics from a prospective purchaser.
	</p>
s

	<div>
		<h>Statements of fact regarding Furnace Farm House Boundaries</h>
		<ol>
			<li>
				It is a requirement for the Owner of Furnace Farm House (quoted as the Purchaser) to maintain a a 3ft 6 inches high driven spile fence, along all boundaries marked T in the attached map  
				
					
			</li>

			<li>
				As can be noted by the map broadly speaking all excluding the irregular knob in the north-west corner all boundaries of the property are marked with a T therefore creating the obligation for the Farmhouse owner to build and maintain said fence
			</li>

			<li>
				The FFHO for at least the Last decade continuously have been content for the occupiers of Furnace Farm to maintain the boundaries.

				<ol>
					<li>The subsequently erected fence has been of a height of approximately 1.9m far below the maximum allowance of 2m for a domestic fence before planning is required.</li>
					<li>The construction of the fence are simple treated apple stakes with stock wire on the bottom meter and chicken wire on the top portion. Previous owners possessed a pair of large hunting dogs capable of jumping 4ft with ease.</li>
					<li>This has removed the financial and/or time burden from The FFHO</li>
					<li>The erection of said fence does not restrict the FFHO from constructing their own fence either abutting or further in from the boundary; or other wise planting a hedge, shrubs or using some other visual barrier to create a more visually appealing boundary should they desire.</li>
				</ol>
			</li>

			<li>
				
				<ul>
					<li>Alder from the  South-East corner around to the half way along the West boundary.</li>
					<li>Laurel in the North half of the West Boundary</li>
					<li>
						The hedge is comprised of mature hawthorn from the North-West corner around to the South-East corner.
						It is from these specimens that the offending cuttings were take as can be evidenced by then noticeable red fruit or haws
						
					</li>
				</ul>
			</li>

			<li>
				It has from time to time been a requirement for the occupiers of furnace farm to access the title of Furnace Farm House to maintain the boundary fence.
			</li>

			<li>
				On some occasions That maintenance includes cutting large woody growth that may grow through the fence and cause damage. Large growth may also cause nuisance or a burden of cost in cutting to the FFHO.
			</li>

			<li>
				Under previous versions of ownership permission to do said maintenance works could easily be acquired via knocking on the door of {{ FFH }} and directly requesting permission from the occupants.
				<ul>
					<li>Under previous versions of ownership it has not always been necessary to confer with the owner/occupier of {{ FFH }} to enter onto the land and undertake regular maintenance works that do not cause intrusion or nuisance.</li>
				</ul>
				<ul>
					under previous ownerships it has been acceptable to enter onto the garden to undertake necessary maintenance when the house is unoccupied (as it has from time to time been due to its status as a weekend home)
				</ul>
			</li>

			<li>
				during the approximately 18 months preceding NHB Investments ownership of {{ FFH }} no significant gardening work had taken place resulting in a large volume of unchecked growth from the hedges located on the title of Furnace farm onto that of Furnace Farmn house
			</li>

			<li>
				At the time of entrance onto the title known as Furnace Farm House the mature hawthorn hedge had grown so freely that portions of the hedge were in actual physical contact with the North building fabric of Furnace Farm House and had done so for some time
				<p>This can be evidenced by the marketing photographs produced for Marketing of {{ FFH }} over the summer period.</p>
				
				<h>Other important points of note</h>
			</li>

			<li>
				When consulted the garden contractor undertaking work at {{ FFH }} stated Momentum property manager did not wish any works to be done to the property beyond the limited works schedule commissioned on an apparent foortnightly interval basis. 
				Exhibit: 
					File reccord: notes conversation with garden contractor. 
					Audio recording: A.
				<ul>
					<li>Gardeners confirmed they did not know how to contact  {{ FFHO }}.</li>
				</ul>
			</li>

			<ul>
				<li>mature hawthorns in the late summer and autumn months have unique fruit called a haw.</li>
				<li>Haws are a well known food of the grey squirrel which is abundant in the Kent country side especially in highly wooded ares such as the surrounding areas of Bedgebury Forest where Furnace Farm House is situated</li>
				<li>grey squirrels are recorded to actively seek out and consume lead.</li>
				<li>Lewis, R. J. (2015) https://digitalcommons.usu.edu/cgi/viewcontent.cgi?article=1035&context=wdmconference. Consumption of Metallic Lead and its Effects on Tissue (conference paper / proceedings). aptly summarizes the abundant documentation of this behavior in it's introduction and further references (McKinnon et al. 1976, Lewis et al. 2001, Pokras and Kneeland 2008) as sources</li>
				<li>Furnace Farm House has abundance of lead flashing to help stop the ingress of water into the building</li>
			</ul>
		</ol>

		<h>Timeline</h>
		<p>
			Occupiers of furnace farm are unable to give a timeline of exact dates as works undertaken were executed under the form of general maintenance that are performed on an annual recurring basis.
			As such no documentation noting dates of works or hours spent were documented nor were any photographs taken as there were no reasons to imagine their requirement.
			As such any timeline can only provide a rough indication of the sequence of events but not their precise moments in time.
		</p>
	</div>

	<div>
		<h>Conclusions</h>
		<ol>
			<li>The property title of Furnace Farm House was entered onto by agents of FF.</li>
			<li>Works were done to undertake regular maintenance to the North and Eastern hedges surrounding the property where large growths had grown over and through the boundary fence.</li>
			<li>Had the works not been done there would have been an increased chance of damage being caused to {{ FFH }} caused by the proximity of the mature hawthorn hedging haws and the leading of FFS. And due to the general nature of the leaning branches being a cause of access to the building for squirrels and other rodents.</li>
			<li>some of the cuttings were left on the property of {{ FFH }} for a short but exact period unknown before being relocated onto FF as evidenced by figure n.1 (the top photo on the A4 page labelled n) provided by NHS investments notice of intent to claim.</li>
			<li>
				It is claimed and corroborated by figure n.2 provided by {{ NHBI }} of intent to claim that some cuttings were left on the access to {{ FFH }} on the track that forms a part of the title of FF but over which {{ FFH }} has a right of way.
				<ul>
					<li>agents of FF have no recollection of leaving cuttings in this location.</li>
					<li>The cutting identified in figure n.2 were removed by agents of FF once they had come to their attention.</li>
					<li>cuttings were relatively light and could easily have been moved by hand with minimal effort in order to gain access to {{ FFH }} by light vehicle.</li>
					<li>cuttings were sufficiently small as to have been no obstruction for large vehicles to drive over.</li>
					<li>cuttings were no obstruction to users of the access of {{ FFH }} that approached by foot (Which seemed to be the most common practice).</li>
				</ul>
			</li>
		</ol>
	</div>
</div>
