<div>
	<h>Accusation</h>
	<p>
		Claimant {{ NHB }} seeks to direct blame at the respondent/s {{ EH }} {{OH}} for their inability to harvest a significant profit from a back-to-back-sale sometimes referred to by property investors and dealers dealers in a coloquial slang as a "flip" of flipping" a property, that is to say immediately reselling a property for a profit without undertaking any significant further investment in order to garner the speculative profit. 
	</p>
	<p> {{ NHB }} intended to "flip" the {{ FFH }} property that was acquired at a value of £465,000 by immediately reselling {{ FFH }} at a greatly inflated value of £625,000. 
	</p>
	<p> When the delapidated condition of {{ FFH }} property was commented upon by contractors {{ NHB }} made it known to; {{ MAMPA }},  {{ VARS }} and or contractors that the {{ FHO }} had no intention to undertake maintenance or repair to the property.
	</p>
	<p> Within the {{ FFH }} property Disclosure documents there is no mention by ; {{ NHB }},  {{ MAMPA }}, {{ VARS }} of any defects to the property that have been brought to the attention of;  {{ NHB }} , {{ MAMPA }}, {{ NHB }}, {{ MAMPA }}.
	</p>
	<p> In September 2025 {{ NHB }} entered {{ FFH }} in a National Auction operated by {{ BMPA }} that is viewable and provides online auction participation internationally to prospective;  property buyers,  property investors, property speculators, property dealers, and any other buyer profile across the globe. 
	</p>
	<p> Two bids were submitted during the proceedings of the auction with bid values of (i) £560,000 , (ii) £565,000,  however {{ NHB }} declined the bid offers.  It is unclear whether the bids were placed by {{ NHB }} (or a proxy therto) with a view to artificially inflating a value and providing an image of market interest or whether the bid offers were submitted by independent or genuine prospective purchasers. 
	</p>
	<p> It is a practice employed by somoe speculators to issue Bid-offers for their own properties for the purpose of arificially creating an ambiance of intertest in a property for sale with the hope of stimulating interest and further bidding.  
	</p>
	<p> Within the property Disclosure documents for {{ FFH }} there is no mention any indication that {{ FHO }} has declined to undertake maintenance or repair to the property when defects have been identified to them. </p> 
	</p>
	<p>
		Claimant {{ NHB }} claims it is unable to sell the property has demonstrated without undertaking any maintenance or repair and marketing the {{ FFH }} due to the alleged impact of the {{ Respondents }}.  
	</p>
	<p>
		Claimant {{ NHB }} allegation is made in-spite of the property {{ FFH }} being presented to the market with misleading marketing materials and inadequate property disclosure details that serve to conceal important property characteristics from a prospective purchaser.
	</p>

</div>
