<div>
	<h1> Remedies to mitigate harm via "Self Help" </h1>
		<br>
	<h> Opportunity and or Duty to mitigate harm</h>
	<p>	
		{{ FFHO }} and or it's agents and representatives have demonstrated an inclination (how-so-ever misconceived at times) to apply a version of "self-help" to remedy something that offends them. 
		<br>
		An example of the aforementioned "self-help" conduct was applied on DATE when representatives for {{ FFHO }} removed and took away gate restrainers used to fasten a gate at the western access to {{ FF }} on three seperate occcasions on a single day: the reetainers were removeed and not returned.
	</p>
		<li>
			In the event that the cuttings and small branches represented a risk to any activity at {{ FFH }} it is clear the {{ FFHO }} (together with any agent acting for them) were alive to the notion that they were in the habit of justifying intervention under the notion of version of a"self-help" and could have remedied any percieved risk or harm.
		</li>
		<li>
			It is irrational for the {{ FFHO }} to now seek to argue either; a harm, a loss, an obstruction, a nuisance , or any other genuine interfearance with thier activity (in light of their propensity to implement "self-help" remedies , given that
		</li>
		<ol>
			<li>
				the small pile of cuttings was neither moved to a mounting compost heap of other cuttings at {{ FFH }}, or removed to a convenient place upon {{ FF }},
			</li>
			<li>
				the perceived issue with thee cuttings was not immediately notified to {{ FF }} by {{ FFHO }} or any reprentative thereto
			</li>
			<li>
				the matter was raised with the {{ FFHO }}'s
				' gardeners appointed by {{ MMAM }} without any notion of a nuisance arising or continuing, 
			</li>
			<li>
				had any genuine complaint of harm arising existed by way of; obstruction,  nuisance , or any other genuine interfearance with thier activity, then {{ FFHO }} would surely have acted immediately by instructing an agent to implement mitigation.
			</li>
		</ol>
<br>
	<h> Conclusions </h>
		<li>
			No genuine or demonstrable harm arose from the small cuttings identified in the Claimant's photo Ehibits NHBE-n1, and NHBE-n2.
		</li>
		<li>
			The {{ FFHO }} can provide no evidence of a cost incurred to intervene either by way of any self help mitigation or remedy; 
			<ol>
				<li>
					applying an emergency "self-help" remedy,
				</li>  
				<li>
					appointing an agent or contractor to resolve the complaint,
				</li>
		</li>
		<li>
			The {{ FFHO }} can provide no evidence of; 
			<ol>
				<li>
					any genuine and reasonably neccessary additional cost of working to complete a task in-spite of the cuttings.
				</li>  
				<li>
					necessary and justifiable cancellation or postponement of work as a result of the cuttings.
				</li>
		</li>
</div>