<div>
	<h>Accusation</h>
	<p>
		<br>
			<li>
				It appears {{ NHB }} <i> <b>devaluation argument </b> </i> is predicated on the notion that fault can be attriuted to the {{ Respondents }} in relation to {{ FFH }} not yet finding a buyer deespite; the property's dilapidated and deteriorated condition and consequentualy poor percieved value.
			</li>
		<br>
			<li>
				Notably that the property does not readily appeal to the appetite of a discerning speculator nor does it appeal to the appetite of the profile of a potential buyer anticipated and indicated by {{MM}} marketing due to the discrete attributes and limitations of the title and land appear to vex {{ NHB }} and it's agent {{ MM }} who nievly calculated that a fraudulent under-disclosure of pertinent sales particulars would fool a dilient prospective purchaser.
			</li>
		<br>
			<li>
		  		Inspite of the property's unusual circumstance and condition,  the failure by {{ NHB  }} to attract a buyer for {{ FFH }} at a greatly inflated value over and above the acquisiton cost of £465,000  completed on 30th May 2025 is argued irrationally and with malice to somehow be attributable to the Respondents for the purpose of engineering a litigation for damages by way of dishonest, fraudulent and malicious means.
		 </li>
	 <br>
	</p>
	<div>
		<h>Farmhouse applicable status and character attributes</b></h>
			<b> 
				<h>XXXXXx    NHB disclosure and marketing of the building</h>
		<ol type="1">
			<li>
				Furnace Farmhouse is a Grade 2 Listed Wealden timber frame structure built and modified extensively over time on the site of a 17th century farm steading. Much of the material used in the maintenance,  repair and modification having been recycled from buildings at Furnace and within the immediate viscinity.
			</li>
		<br>
			<li>
				The building was divested from the Her Majesty Queen Elizabeth II's Crown Estate with the intervention and assistance of the Society for the Protection of Ancient Buildings SPAB in 1968 by which time the building was in a delapidated condition. 
			</li>
		<br>
	<h><b>Furnace Farmhouse Setting and Bounds</b></h>
			<li>
				The original title conveyance plan for Furnace Farmhouse identifies a predominantly rectangle plot profile with a squared protrusion to the north west corner together with a tapered tail annexed to the adjacent corner at plot's south west cornerclose to the river Teise.
			</li>
		<br>
			<li>
				At this time the only extant fence containment to Furnace Farmhouse is a mixed stockwire and stake fence circa 1900mm in height aligned with the {{ FFH }} an {{ FFH }} boundary intersection.
			</li>
		<br>
			<li>
				The bounds to all sides of the {{ FFH }} plot are defaced or othwerwise decorated with an inwardly facing monica marked "T" to which the Crown conveyance of 1968 assigns a covenana to the owner of {{ FFH }} to fence to a specified standard to contain the land and create containment measure there to.
			</li>
		<br>
			<li>
				The 14 August 1968 Crown Covenant confirms the obligation for {{ FFH }} to build a fence at the bounds identified to a defined standard and thereon maintain them.
			</li>
		<br>
			<li>
				The {{ FHO }} is alive to the notion that sinuous rivers are dynamic so as to move over time with the natural mechanical process of accretion and evulsion within a natural hydrodynamic environment. In particular movement will although both perpetual and gradually incremental demonstrate more radical deviation patterns within a river course with meander profile sections subject to varied velocity across the hyrodynamic cross section.
			</li>
		<br>
			<li>
				No vestigates of the orginal 1969 fence remain, however the bound demarcation continues to remain in effect with the existing fence aligned with the bounds.
			</li>
		<br>
			<li>
				The FFHO for at least the last decade have continuously been content for the occupiers of Furnace Farm to maintain the boundaries.
		<br>
				<ol type="A">
					<li>
						The subsequently erected fence has been of a height of approximately 1.9m far below the maximum allowance of 2m for a domestic fence before planning is required.
					</li>
		<br>
					<li>
						The construction of the fence are simple treated apple stakes with stock wire on the bottom meter and chicken wire on the top portion. Previous owners possessed a pair of large hunting dogs capable of jumping 4ft with ease.
					</li>
		<br>
					<li>
						This has removed the financial and/or time burden from The FFHO
					</li>
		<br>
					<li>	
						The erection of said fence does not restrict the FFHO from constructing their own fence either abutting or further in from the boundary; or other wise planting a hedge, shrubs or using some other visual barrier to create a more visually appealing boundary should they desire.
					</li>
				</ol>
			</li>
<br>
			<li>
				For the majority of the length of the fence forming the boundary between Furnace Farm and Furnace Farm House there is various hedging all owned and maintained by the occupiers of Furnace Farm.
				<ul>
					<li>
					Alder from the  South-East corner around to the half way along the West boundary.
					</li>
		<br>
					<li>
					Laurel in the North half of the West Boundary
					</li>
		<br>
					<li>
						The hedge is comprised of mature hawthorn from the North-West corner around to the South-East corner.
						It is from these specimens that the offending cuttings were take as can be evidenced by then noticeable red fruit or haws
					</li>
				</ul>
			</li>
<br>
			<li>
				It has from time to time been a requirement for the occupiers of furnace farm to access the title of Furnace Farm House to maintain the boundary fence.
			</li>
		<br>
			<li>
				On some occasions That maintenance includes cutting large woody growth that may grow through the fence and cause damage. Large growth may also cause nuisance or a burden of cost in cutting to the {{ FFHO }}.
			</li>
		<br>
			<li>
				Under previous versions of ownership permission to do said maintenance works could easily be acquired via knocking on the door of {{ FFH }} and directly requesting permission from the occupants.
				<ol>
					<li>
						Under previous versions of ownership it has not always been necessary to confer with the owner/occupier of {{ FFH }} to enter onto the land and undertake regular maintenance works that do not cause intrusion or nuisance.
					</li>
					<li>
						The {{ FFHO }} owners have not visited the property or otherwise made any contact for the purposes of dialogue concerning maintenance or any other constructive notion of management of boundary features
					</li>
					<li>
						The management company acting for the {{ FFHO }}  {{ NHBI }}is the sister company {{ MAMPA }} (the directors and shareholders of the two companies being identical) have not visited the property or otherwise made any contact for the purposes of dialogue concerning maintenance or any other constructive notion of management of boundary features
					</li>
					<li>
						The Estate agent appointed to sell th property is {{ MM }} who have repeatedly acted in a hostile fashion; interfering with property,  damaging property, making defamatory and untrue statements
					</li>
					<li>
						
					</li>

				</ol>
				<ul>
					under previous ownerships it has been acceptable to enter onto the garden to undertake necessary maintenance when the house is unoccupied (as it has from time to time been due to its status as a weekend home)
				</ul>
			</li>
			<li>
				during the approximately 18 months preceding NHB Investments ownership of {{ FFH }} no significant gardening work had taken place resulting in a large volume of unchecked growth from the hedges located on the title of Furnace farm onto that of Furnace Farmn house
			</li>

			<li>
				At the time of entrance onto the title known as Furnace Farm House the mature hawthorn hedge had grown so freely that portions of the hedge were in actual physical contact with the North building fabric of Furnace Farm House and had done so for some time
			</li>
		<p>
			This can be evidenced by the marketing photographs produced for Marketing of {{ FFH }} over the summer period.
		</p>
			
	<br>
</div>
	<h> <b>Other important points of note </b></h>
			<li>
				agents doing works to {{ FFH }} had been consulted and stated that the managers of the property did not wish for any works to be done to the property beyond those the agents were already being commissioned to do on an approximately by weekly basis. This can be evidenced by audio recording A.
				<ul>
					<br>
						<li>
							Gardeners confirmed they did not know how to contact Owners of FFH.
						</li>
				</ul>
			</li>

			<ul>
				<li>
					mature hawthorns in the late summer and autumn months have unique fruit called a haw.
				</li>
					<br>
				<li>
				Haws are a well known food of the grey squirrel which is abundant in the Kent country side especially in highly wooded ares such as the surrounding areas of Bedgebury Forest where Furnace Farm House is situated
				</li>
					<br>
				<li>
					grey squirrels are recorded to actively seek out and consume lead.
				</li>
					<br>
				<li>
				Lewis, R. J. (2015) https://digitalcommons.usu.edu/cgi/viewcontent.cgi?article=1035&context=wdmconference. Consumption of Metallic Lead and its Effects on Tissue (conference paper / proceedings). aptly summarizes the abundant documentation of this behavior in it's introduction and further references (McKinnon et al. 1976, Lewis et al. 2001, Pokras and Kneeland 2008) as sources
				</li>
					<br>
				<li>
				Furnace Farm House has abundance of lead flashing to help stop the ingress of water into the building
				</li>
			</ul>
		</ol>
	<br>

		<h>Timeline</h>
		<p>
			Occupiers of furnace farm are unable to give a timeline of exact dates as works undertaken were executed under the form of general maintenance that are performed on an annual recurring basis.
		<br>
			As such no documentation noting dates of works or hours spent were documented nor were any photographs taken as there were no reasons to imagine their requirement.
			As such any timeline can only provide a rough indication of the sequence of events but not their precise moments in time.
		</p>
	</div>
<br>
	<div>
		<h><b> Conclusions </b></h>
		<ol>
			<li>The </li>
			<li>fence.</li>
			<li>Had </li>
			<li>claim.</li>
			<li>
				It is claimed and corroborated by figure n.2 provided by NHS ice of intent to claim that some cuttings were left on the access to {{ FFH }} on the track that forms a part of the title of FF but over which {{ FFH }} has a right of way.
				<ul>
					<li>
						FF has no recollection of leaving cuttings in the location identified in the photograph n.2.
					</li>
						<br>
					<li>
						The cutting identified in figure n.2 were removed on behalf of FF once the branches had come to their attention.
					</li>
						<br>
					<li>
						cuttings were relatively light and could easily have been moved by hand with minimal effort in order to gain access to {{ FFH }} by light vehicle.  A simple remedy was available should it have been required.
					</li>
						<br>
					<li>
						cuttings were sufficiently small as to have been no obstruction for large vehicles to drive over.
					</li>
						<br>
					<li>	
						cuttings were no obstruction to users of the access of {{ FFH }} that approached by foot (Which seemed to be the most common practice).
					</li>
						<br>
					<li>
						despite an opportunity to do so no attempt was made to bring the matter to the attention of {{ FF }} by; 
						<ol type="i"> s
							<li> 
								{{ FFHO }}
							</li>
						<br>
							<li>
								{{ MM }} 
							</li>
						<br>
							<li>
								{{ MMAM }}
							</li>
						<br>
							<li>
								any other person in attendance at {{ FFH }}
							<li>
						</ol>
					</li>
				</ul>
			</li>
		</ol>
	</div>
</div>
