<div>
	<h>Accusation</h>
	<p>
		That the coming of NHB into owning the Furnace Farmhouse property in a deteriorating  condition which has an evidently poor percieved value and or attractiveness to appeal to the appetite of the speculator's anticipated profile of a potantiial buyer (as indicated by marketing),  inspite of the property's unusual circumstance and condition is somehow attributable to the Respondents.
	</p>
	

	<div>
		<h>NHB disclosure and marketing of the building</h>
		<ol>
			<li>
				Furnace Farmhouse is a Grade 2 Listed Wealden timber frame structure built and modified extensively over time on the site of a 17th century farm steading. Much of the material used in the maintenance,  repair and modification having been recycled from buildings at Furnace and within the imiediate vicinity. <li>
			<li>
				The building was divested from the Her Majesty Queen Elizabeth II's Crown Estate with the intervention and assistance of the Society for the Protection of Ancient Buildings SPAB in 1968 by which time the building was in a delapidated condition. 
				
			</li>

		</ol>
	</div>
</div>
