<div>
	<h>National House Buyers</h>

	<p>
		<ol>
			<li>
				NHB investments limited operates under the trading name of National House here who shall from here on be referred to as NHBI
			</li>
			<br>
			<h> Awareness : Interrogation {{ FFH }} Title. </h> 
			condition, status , setting , covenants, rights & easements, burdens , benefits, 
			neighbours .	

			<li>
				NHBI claim to conduct a competant research of property prior making an offer and or purchase.  The undertaking and competance claim is evidenced in Exhibit (NHB website statement via URL (http//:www.nhb------- )
			</li>
			<li>
				It must be concluded that {{ NHB }} undertook the property research together with an appropriate and competant due dilligence prior to the purchase of {{ FFH }}. 
			</li>
			<li>
				Competant interrogation of title in conjunction with appropriate surveys and proportionate investigation of the property; fabric,  condition,  setting,  will have been sufficient in conjunction with enquiries to the vendor of any factors capable of infuencing the value of {{ FFH }}.
			</li>
			<li>
				It must be concluded that if NHB make their claims of competence in an honest manner and perform all appropriate due-dilligence in the spririt of competene espoused on thier website, then NHB will have;  immediately before submitting an offer to buy {{ FF }} , at the time of drafting and exchanging a contract to buy {{ FFH }} , at the time of executing a completion of sale /purchase of {{ FFH }}, been aware of most all the elements now illustrated in Notice of Claim 30 Ociber 2025 Exhibits A - (though) - O.
			</li>
		</ol>
	</p>
</div>