<div>
	<div>
		The following statements are purely meant to address portions of NHBA-7 in reference to the claimed <strong>makeshift barrier</strong> which is taken to refer to the gate that forms a threshold into the greater part of {{ FF }}
	</div>
	<div class="image-pair">
		<figure>
			<img src="{{ url_for('static' , filename=claim_letter+'gate__closeup_part.png') }}" alt="Gate closeup part" />
			<figcaption>Figure K.1 — Gate_closeup (part view)</figcaption>
		</figure>
		<figure>
			<img src="{{ url_for('static' , filename=claim_images+'figure_k1_gate_closeup.png') }}" alt="Dumped waste full view" />
			<figcaption>Figure N.2 — Gate closeup (part view)</figcaption>
		</figure>
	</div>

	<div>
		<h>Statements of fact regarding Furnace Farm access</h>
		<ol>
			<li>
				The FF title cocntains numerous landscape drainage features, from which {{ FFHO }} derive substantial benefit, as these drainage features diminsh the risk of flooding from surface run-off. 
			</li>
			<li>
				The exensive drainage ditches discharge to the River Teise , tributary to the Medway Drainage Board converging with the Thames.  
			</li>
			<li>
				Discharge of waste any waste capable of causing pollution has the potential to exert widespread harm upon;
				<ol type="A">
					<li>
						the ecology of the entire river system
					</li>
					<li>
						the river and adjacent land habitats
					</li>
					<li> wildlife habitats interfacing with the watercourse
					</li>
					<li>
						livestock and 
					</li>
					<li>
						water abstraction;
						<ol type="1">
							<li>
								public utility water supplies
							</li>
							<li>
								agriculture (with health and safety impliccations) 
							</li>
							<li>
								commercial processes with product and safety implicactions
							</li>
						</ol> 
					</li>

				</ol> 
			<li>
				 {{ FFH }}  Covenants  preulude the cause of nuisance and aggrevated trespass.
				  
			</li>
			<li>
			The Title Deed Covenenants for {{ FFH }} compell the {{ FFHO }} to take any; appropriate, mandatory and or reasonably practical measures to install and maintain the appropriate infrastructure necessary to diminish risk and thereto prevent any; 
			<ol type="i">
			<li>
				negligent
			</li>  
			<li>
				unintended
			</li> 
			<li>
				preventable
			</li> 
			pollution from impacting upon and or reaching {{ FF }} and or the watercourses and or land or runoff or habitats or wildlife or livestock thereon at any time.
			</li>
			<li>
			The drainage infrastructure location is marked on a scaled plan identified as; (i)  Exhib.:XXX, (ii) Farm Track Surface Drainage. 
				<div class="image-pair">
					<figure>
						<img src="{{ url_for('static' , filename=deeds+'deed_map.png') }}" alt="Deed map" />
						<figcaption>Deed Map — </figcaption>
					</figure>
					<figure>
						<img src="{{ url_for('static' , filename=deeds+'deed_fence_clause.png') }}" alt="Deed clause" />
						<figcaption>Deed Clause — </figcaption>
					</figure>
				</div>
			</li>
			<li>
		</ol>
	</div>
</div>


