<div>
	<h>Property Value</h>

	<p>
		<ol>
			<li>
				The property speculator {{ NHBI }} purchased {{ FFH }} at a price of £465,000.
				<br>
				Each owner of the property has found that the property {{ FFH }} is not well suited to the residential letting market because;
				<ol>
					<li>
						{ FFH } does not meet the minimum reduced SAP standard (also known as an EPC (Energy Performance Certificate)
				NEED A COPY OF THE EPC 
				NEED A COPY OF THE Minimum ~EPC standard
					</li>
						The property relies upon a Diesel Generator for power and does NOT have sufficient Battery Power Reserve infrastructure to allow the household to operate for more than 20 minutes on silent battery reserves before the Generator resumes : The diesel generator is house outside in the garden and is VERY NOISY.
				NEED A COPY OF THE Generator Noise Output chart
				NEED A COPY OF THE NOISE COMPARISON Chart for other equipment
				NEED HSE Noise regs
				Neeed  ear protection and exposure : Equipment PPE requirement 
				NEED a Power resource assessment of battery capacity	
					<li>
						The Property is located in a valley that has almost no Mobile phone signal most of the time.
						In summer when the leaves are on the trees the signal is almost completely blocked
						The neighbouring Forestry Commission tourism centre attracts so many visitors in it's key operational weeks that the sheer number of visitors block the signal from;
					</li>
					<li>

						<br>
							<h> Summer forest visitors <h>
							08:00 -20:00 hrs  June - October
							<h> Christmas forest visitors <h>
							08:00 -22:00 hrs  Mid November to 5th January
				NEED Bedgebury XMAS Schedule 
					</li>
					<li>
						The farm track to the property represents a significant obstacle too person looking to rent a property;
						<ol>
							<li>
								farm track is considerably longer than most residential occupiers will tollerate
							</li>
							<li>
								the farm track is not well suited / matched to modern highway or urban configured vehicles due to;
								<ol type="a">
									<li>
										low profile tyres
									</li>
										 fast highway designed suspension
									</li>
									<li>
										low ground clearance
									</li>
									<li>
										delicate paintwork
									</li>
									<li>
										limitation of low speed travese of drive takes 12-15 minutes
									</li>
									<li>
										limitation upon guest visitors with inappropriate vehicles
									</li>
									<li>
										reluctance of couriers to attend the property due to time traversing drive and limited time allocations per delivery
									</li>
									<li>
										refusal by some logistics to attend the property during wet seasons due to water, mud, damage to vehicles
									</li>
								</ol> 
							</li>
				<h> Covenants NO Commercial Use <h> 
					<li>
						Covenants NO Commercial use ; 

						<ol type="a">
									<li>
										NO HOLIDAY Lets
									</li>
										 NO AirBNB letting
									</li>
									<li>
										NO Dog or Cat Boarding
									</li>
									<li>
										NO Tourism business
									</li>
										 NO Traffic related to a business
									</li>
									</li>
										 NO Stabling of 3rd party horses
									</li>
						</ol>
					</li>

					NEED COPY OF COVENANT~ 


							<li>
								a narrow farm track without any scope for  widening or adding passing places due to;
								<ol type="a">
									<li>
										farm track is considerably longer than most residential occupiers will tollerate
									</li>
										 adjacent property in seperate private ownership and prevents the widening of the track
									</li>
									<li>
										the sunken farm track cutting is a protected historic feature that is preserved as a vvalued physical feature of the High Weald AONB
									</li>
									</li>
										 it is dangerous to drive quickly on the farm track : lapsed speeding incidents have occured
									</li>
									</li>
										 there are private pedestrian , livestock and and farm track : lapsed speeding incidents have occured
									</li>
								</ol> 

						</ol>  is considerably longer and 
					</li>

				<h> Letting peformance <h> 
									<li>
										To date no property agent has been able to let the property, because ; 

										<ol type="a">
													<li>
														no appetite to rent the property
													</li>
														 unable to yield appropriate income yield
													</li>
													<li>
														 Agents consider it Un-lettable 
													</li>
										</ol>
									</li>



			<br>
				<li>
					The scale of work and investment commitment required to renovate {{ FFH }} to a standard contemprary with consumer appetite was concluded by Tyms to not be econmic. 
				</li>
				
				reached a conclusion that none of the following options were viable to make a financial return;
				<ol type="1">
					<li>
						renovation and letting the property
					</li>
					<li>
						
					</li>
					<li>
						
					</li>
					<li>
						
					</li>

				 renovation, or development  or letting  property was not viable
			</li>
			<li>
				The preceding owner Mr Tyms also a property speculator purchased {{ FFH }} at a price of 638,000.
			</li>

THIS AREA NEEDS A ~TABLE to SHOW the Price PAID

			<div>
				<table>
					<thead>
						<tr>
							<td>
								purchaser
							</td>
							<th>
								purchase price
							</th>

						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								tyms
							</td>
							<td>
								£638,000
							</td>
						</tr>
					</tbody>
				</table>

			</div>

			<li>
				{{NHBI}} claim to have undertaken property research prior to purchase of {{ FFH }} a claim made by {{ NHBI }} that can be fofund  their website
			</li>
		</ol>
	</p>
	<p>
		Value Principles

	</p>
</div>
