<div>
	<h>Propert Value</h>

	<p>
		<ol>
			<li>
				{{ NHBI }} purchased {{ FFH }} at a price of £465,000.
				
			</li>
			<li>
				NHBI claim to have undertaken property research prior to purchase of {{ FFH }} as evidenced by their website
			</li>
		</ol>
	</p>
	<p>
		Value Principles

	</p>
</div>
