<div>
	<h>Propert Value</h>

	<p>
		<ol>
			<li>
				{{ NHBI }} purchased {{ FFH }} at a price of £465,000.
				
			</li>
			<li>
				NHBI claim to have done  property research prior to purchase as evidenced by their website
			</li>
		</ol>
	</p>
	<p>
		Value Principles
		
	</p>
</div>
