<div>
	<h2> {{ NHBI }} Why Prospect viewers abandon interest in {{ FFH }} </h2>
	<p>
		<h2> Under disclosure;  </h2>
		<ol type="A">
			<li>
			 	The claimant {{ NHBI }} owe a duty-of-care to dislose all and any information regarding {{ FFH }} that could be relied upon by a willing buyer to consider all aspects of the property before submitting an offer to buy. 
			</li>
			<li>
				Where either {{ NHBI }} or any of it's agents fail to make all appropriate disclosures available to a buyer before an offer is submitted and or before and interested prospetive buyer is exposed to incurring cost then an under-dislosure and or a fraudulent misrepresentation may be considered to have taken place.
			</li>



WHAT DID {{ NHBI }} BUY?

WHAT DID YOU THINK YOU WERE BUYING?

WHAT STEPS DID YOU TAKE TO ENSURE {{ FFH }} WAS WHAT YOU THOUGHT YOU WERE BUYING  

What proof do you have that {{ FFH }} contained all the attributes you were seeking and ony the defects you were aware existed?

What TESTS can you prove were undertaken TO ENSURE YOU VERIFIED IT WAS WHAT YOU WERE SEEKING 

What difinitive statements contempraneous with the sale can be provided proving tests were undertaken and appropriate differentiations of condition were secured?

HOW DID {{ NHBI  }} FIND THE {{ FFH }} PROPERTY, Did {{ FFH }} COME TO THEM , OR , Did {{ NHBI }} SEEK out {{FFH}}  ?

HOW WAS THE FUTURE MARKET VALUE of {{ FFH }} ASCERTAINED WHEN the PROPERTY was IDENTIFIED AS AN ACQUISIITON TARGET

WHAT PROOFS WERE Secured TO VERIFY THE FUTURE POTENTIAL VALUE of {{ FFH }} ?

WHAT DUE DILLIENCE WAS APPLIED TO PROOVE THE FUTURE VALUE SPECULATION WAS SOUND?

WHAT time stamped BIBLIOGRAPHY was secured to EVIDENCE THE DUE DILIGENCE TO VERIFY FUTURE VALUE of {{ FHH }}

WHAT INDEPENDENT IMPARTIAL PAID PROFESSIONAL ADVICE WAS SOUGHT AND SECURED TO INDICATE FUTURE VALUE POTENTIAL

WHAT VALIDATIONS WERE UNDERTAKEN TO ASCERTAIN WHY THE  {{ FFH }} PROPERTY HAD NOT PREVIOUSLY SOLD AT OR NEAR FUTURE POTENTIAL VALUE 

WHAT PROOFS were OBTAINED TO EXPLAIN THE DURATION OF MARKETING {{ FFH }} NOT RESULTING IN A SALE ?
		a. 2021-23, 
		b. 2023-25, 
		c. 2025-26

What explanations account for the previously high valuations of the property in prior years and or sales?
	1. 1995 : Neighbouring property offer with expectant/ dependant resale marriage value of {{ FFH }} with {{ FF }} + 185 Acres.
		-	No sale took place
	2. 2012 : Attempted sale of property in conjunction with unlawful & tortfeasant interference of neighbouring land.  
		-	Tortfeasant Interfearance partially apprehended.
	3. 2014 : Fraudulent under-disclosure of defects and property history, artificial temporary benefit engineered by way of trespass of neighbouring land 
		-	Trespass subsequently partly remedied. Settlement of claim.
	4. 2023 : Poor pre-sale assessment of property prior to purchase and negotiation (access to utilities, condition, letting limitations, buyer appetite for a discrete character of property).
		-	Property disposal with value adjustment to subsequent ambitious speculator!
	5. 2025 : Poor pre-sale assessment of property prior to purchase and negotiation (condition, buyer appetite for a discrete character of property).
		- 	Will presumably resolve in some fashion to resolve purchase at over-value

WHAT FACTORS HAVE MATERIALLY CHANGED TO WARRANT A SHORTER TIME ON MARKET ACHIEVEING A HIGH VALUE SALE

what defects were dentified and evidenced before acquisition?
what defects acknowedged post sale were not identified before acquisition?
which defects identified before aquisition have now been repaired?
which defects identified before aquisition have been communicated to purchasers?
which defects identified post acquisition have been communicated to purchasers?
list the individual defects with the corresponding resulting devaluation effect

identify how many viewers and or prospective buyers have identified the following reasons for not proceeding with enquiries with the property;

	location attributes / remoteness etc
	access track attributes / length etc
	size of plot / amenity limitations etc
		parking / limited improvement scope etc
		no garaging / limited prospect spacce & flood
		development blight / planning policy limitations
	building condition ~ interiour
		poor decoration standard
		poor standard of alterations
	building condition ~ exteriour
		rotten timber frame
		dilapidated windows & doors
		dilapidated roof and walls
		poor / inadequate / defective repairs
	building weather protection
		dilapidated flashings 
		dilapidated roof structure
		water ingress roof and walls
	chimney dilapidations and structural defect
	infestation of structure
		vermin / rats etc
		parasites / woodworm etc
		insects / wasp nests etc
		wildlife habitats / bats in structure etc
	protected habitats 
		reptiles / adder, lizards, slow worms, 
		mamals / water-vole, fieled mouse
		birds / heron, kytes, falcons, harriers,
		amphibians / nets, salamanders, 
	habitablity / not ready for inhabitation
	mortgage prospects / limited lendability
	improvement constraints / limited power supply etc
		heatsource pumps not viable
		solar pv & heat not viable 
		ice (internal combustion engine) power generation dependancy
		mains power not financially viable
	utility & services provision / limitations etc
		mobile coms & broadband / poor reception etc
	amenity surrounding / shaded etc
	flooding risk / flood zone 3 etc un-improved resillience etc
	fraudulent misrepresentation / failure to accurately represent etc
	persistent game bird shoot 
		landing dead birds
		shot gun shot (falling)
		duration:  september - february
	
	







	<p>
		<li>
			Whether the  Claimant {{ NHBI }} have an obligation to disclose to;  {{ EH }}, {{ OH }}; awareness of any dispute or difficulty encountered by the {{ FFHO }} in respect to;
			<br>
				<ol type="a">
					<li>
						the management of the property
					</li>
					<li>
						neighbouring property
					</li>
					
					<li>
						other users of shared infrastructure
					</li>
					
					<li>
						water supply
					</li>
					
					<li>
						mobile phone reception
					</li>
					
					<li>
						delivery of consignments to the property
					</li>
					<li>
						the access track to the property in respect to;
						<br>
							<ol type="i">
								<li>
									the length of the access track
								</li>
									<br>
								<li>
									the condition of the access track
								</li>
									<br>
								<li>
									the time taken to navigate the access track by vehicle
								</li>
									<br>
								<li>
									the drainage of the access track
								</li>
									<br>
								<li>
									the absence of passing places on the access track
								</li>
									<br>
								<li>
									any other aspect of the access track
								</li>
							</ol>
					</li>
				</ol>
		</li>
	</p>
		<br>
	</p>			
		<br>

			<li>
				Whether the  Claimant {{ NHBI }} have an obligation to disclose to;  {{ EH }}, {{ OH }}; the status and history of the property {{ FFH }} known to the claimant {{ FFHO }}  {{ NHBI }} at the time of acquisition in repect to;
				<br>
					<ol type="a">
						<li>
							foreclosure and or reposession of the property
						</li>
							<br>
						<li>
							death or incapacity of the prior owner/s
						</li>
							<br>
						<li>
							severe delapidation of the property,
						</li>
							<br>
						<li>
							any attribute (or lack of an attribute) that could reasonably be considered to be detrimental to the property's value, 
						</li>
							<br>
						<li>
							costs associated with updating the property and or remedying any deficiency or characteristic reasonably considered detrimental to the property's value, 
						</li>
							<br>
						<li>
							any diminished occupational standard of living conditions
						</li>
							<br>
						<li>
							prolongued lack of appetite to let or sell the property following extensive marketing
						</li>
							<br>
						<li>
							inability to obtain power via the adjacent transmission-only powerlines nor via the consumer network at an affordable price,
						</li>
							<br>
						<li>
							inability to obtain vehicular access to Hartley and Cranbrook eastwards over the private road owned by Furnace Farm lying to the East of {{ FFH }},
						</li>
							<br>
						<li>
							inability of the {{ FFHO }} to let {{ FFH }} at a rental  yield comparative to the rental yield obtinable from an urban property of similar value,
						</li>
							<br>
						<<li>
							the uneconomic prospect imposed by the cost of upgrading {{ FFH }} to comply with EPC standards which cannot yield either an equivalent or an inflated equitable appreciation. Where numerous serious deficiencies remain un-resolved it is apparent that any incomplete upgrade of the property will not sunstantially improve; {{ FFH }}'s value , or the appetite of prospective purchasers to invest in the property,
						</li>
							<br>
						<li>
							inability to obtain financial services such as a mortgage finance using {{ FFH }} as the mortgage security,  and or otherewise acquire mortgage finance at a competive mortgage interest premium,
						</li>
							<br>
						<li>
							inability to obtain indemnity for financial services for flood insurance,  and or otherewise acquire indemnity at a competive premium,
						</li>
							<br>
						<li>
							inability to obtain further land to enlarge the title plot to match properties of similar age style and construction
						</li>
							<br>
						<li>
							inability to obtain a standard mortgage offer for the purchase of {{ FFH }} without extensive building and or structural surveys and or overiding conditions to undertake schedules of one or more of the following ; 
							<br>
							 	<ol type="a">	
							 		<li>
							 			undertake repairs
							 		</li>
							 			<br>
							 		<li>
							 			remedy defects;
							 			<br>
							 				<ol type="i">	
							 					<br>
											 		<li>
											 			undertake repairs
											 		</li>
											 			<br>
											 		<li>
											 			to the Listed Building conditions relative to it's scheduled status,
											 		</li>
											 			<<br>
											 		<li>
											 			to structural defects
											 		</li>
											 			<<br>
											 		<li>
											 			to leaks,
											 		</li>
											 			<<br>
											 		<li>
											 			to inadequate liveing standards,
											 		</li>
											 			<<br>
											 		<li>
											 			implied by the property's EPC status,
											 		</li>
											 			<<br>
											 		<li>
											 			to inadequate living standards,
											 		</li>
											 			<br>
											 		<li>
											 			charcterised by decay or infestation,
											 		</li>
								</li>
							</ol>   
					</li>

				<br>
					<li>
						RESPONDENTS are confronted and forced to engage with a stranger seeking information about {{ FFH }} and provide answers they hold an honestly held belief to be true?
					</li>
						<br>
					<li>
						Do the respondends cause harm to the vendor's efforts to sell the property if they choose not to respond to an enquiry about the property when pursued by a viewer potentially enquiring as a prospective buyer?
					</li>
				</ol>
			</li>
		</ol>
	</div>
		<br>
	<div>
		<h2>Questions to Resolve: Regarding CLAIMANT's Conduct and Duty of Care</h2>
			<br>
		<h1> {{ NHB }} Status and derivative conduct obligations</h1>
			<br>
				<p>
					NHB operates a business model buying residential properties at a discounted value from homeowners that find themselves in financial distress. 
					<br>
					The {{ NHB  }} Company and other companies owned by the Directors of {{ NHB }} charge a fee to undertake a market valuation of the vendor's property. 
					<br>
					When an offer is presented by {{ NHB }} predicated upon a discount value from it's own "in-house valuation" a transaction may take place.
				</p>
					<ol type="1">
						<li>
							Can {{ NHB }} be considered to be;
							<br>
								<ol type="a">
									<li>
										a professional investor
									</li>
										<br>
									<li>
										a sophisticated investor
									</li>
								</ol> 
						</li>
						<li>
							In what professional capacity must {{ NHBI }} and {{ MAMPA }} be clssified where they provide a market valuation to property owners in return for a fee that includes the interpretation of; 
							<br>
								<ol type="i"> 
									<li>
										property data and intelligence,
									</li>
										<br>
									<li>
										property valuation metrics,
									</li>
										<br>
									<li>
										property market capacity and appetite,
									</li>
								</ol>
						</li>
						<li>
							If either or both {{ NHBI }} and {{ MAMPA }} are considered to owe a duty of care attributable to a professional would such obligations engage where the company or staff were ;
							<br>
								<ol type="a">
									<li>
										acting as a professional providing professional advice,
									</li>
										<br>
									<li>
										paid to provide reliable valuations or such valuations were otherwise related to property advice or representation or a subsequent sale,
									</li>
										<br>
									<li>
										relaied upon to provide accurate advice that should be supported by evidence,
									</li>
										<br>
									<li>
										the customer relies on the information imparted to them when considering a transaction and or engaging cost to pursue and or complete a transaction
									</li>
								</ol> 
						</li>
					<br>

			<li>
				Have the claimant {{ NHBI }} and it's resentatives {{ MAMPA }} and or {{ MM }} exercised and complied with all duties pursuant to providing full material disclosure in relation to {{ FFH }} regarding;
				<br>
					<ol type="a">
						<li>
							the setting of {{ FFH }},
						</li>
							<br>
						<li>
							all defects effecting the building fabric and it's listed status,
						</li>
							<br>
						<li>
							all matters limiting or precluding modern standards of living,
						</li>
							<br>
						<li>
							elevated operating and maintenanace costs discrete to the property, 
						</li>
							<br>
						<li>
							limitations to services and utilities specific to the property, 
						</li>
							<br>
						<li>
							elevated risks and restricting factors that may diminish enjoyment and or value, 
						</li>
					</ol>
				<br>
			</li>
	<div>
		<h2>Questions to Resolve: Regarding Respondent/s to Allegations</h2>
			<ol type="1">
				<li>
					Have the claimant {{ NHB }} and it's representatives exercised and complied with it's duty to provide full material disclosure?
				</li>
	<div>
		<h2>Disclosure Index</h2>
		<ol>
			<li>
				Regulatory obligation to exercise full material disclosure
			</li>
				<br>
			<li>
				Professional body requirement to exercise full disclosure
			</li>
				<br>
			<li>
				Legal Obligation to implement Professional Indemnity 
			</li>				
				<br>
			<li>
				Undertaking to Professional Indemnity Underwriters to exercise disclosure
			</li>
				<br>
			<li>
				Definition of activities obliged to exercise disclosure
			</li>
				<br>
			<li>
				Actors obliged to exercise full material disclosure
			</li>
				<br>
			<li>
				Full material disclosure defined
			</li>
				<br>
			<li>
				Over-riding spirit and intent of Full material disclosure
			</li>
				<br>
			<li>
				Duty upon Professionals to communicate material disclosure facts to another Professional related to a property sale
			</li>
				<br>
			<li>
				Maintaining a competant record of material disclosure information
			</li>
				<br>
			<li>
				Performing best endeavours to maintain and continually update the record of material disclosure information
			</li>
			<li>
				Duty to identify any negative property attibutes within the material disclosure information record
			</li>
			<li>
				Obligation to record: Resolved issues, neutralised defects or attributes, within the Material Disclosure Record
			</li>
				<br>
			<li>
				Effect of Under-disclosure and fraudulent on offers, contracts and sale completions
			</li>
				<br>
			<li>
				Under-disclosure and fraudulent non-disclosure defined
			</li>				
				<br>
			<li>
				{{ NHB }} Examples of Fraudulent non-disclosure
			</li>				
				<br>
			<li>
				{{ NHB }} Examples of Under-disclosure
			</li>				
				<br>
			<li>
				Impact of {{ NHB }} disclosure conduct upon prospective sale
			</li>
		</ol>				
	<br>
</div>
<div>
	<h2>Property disclosure defined actors and functions </h2>				
		<br>
			<ol>
				<li>
				<h2>Actors subject to Disclosure obligations</h2>
				<p>
					The following actors are under a legal obligation and owe a duty of care to prospetive buyers to make a full and frank disclosure to prospective buyers of a property for which they act in any capacity within a sale. The duty of disclosure falls on each of the following;
					<ol type="1">
						<li>
							{{ NHB }},
						</li>				
							<br>
						<li>
							{{ MM }},
						</li>				
							<br>
						<li>
							{{ MMAM }},
						</li>				
							<br>
						<li>
							{{ BMPA }},
						</li>				
							<br>
						<li>				
							<br>
						</li>
					</ol>		
				<br>
			</p>

		</li>
	</ol>				
</div>
	<h> Disclosure Procedural Requirements</h>				
		<br>
			<p>		
				
			</p>				
				<br>
			<p>
				Throughout the process of selling a property it is a requirement of all parties acting in the interests of the vendor whether;  evaluating presenting, marketing, 
			</p>				
				<br>
			<p> 
				Require a Statements of fact identifying {{ NHB }} disclosue of {{ DMB }} together with a signed {{ SOT }} attestifying the accuracy of all {{ DMB }} created for { PDC }} {{ BOOBI }} {{FFHO}} and or {{ MMAM }} or any {{ VARS }} acting in relation to the propeerty {{ FHH }} 
			</p>
		<ol>
			<li>
				It is a requirement for the {{ FFHO }} namely {{ NHB }} to disclose all Material Information pertaining to the title of {{ FFH }} and execute and deliver to any; {{ UPB }}, {{ OPB }} a full disclosure of all and any factor that may reasonably be determined to be important for a prospective property purchaser to consider when evaluating a property for purchase.
			</li>

			<li>
				{{NHB}} have established a {{ DOC }} in relation to the disclosure of {{MI}} to the following actor/s with an obligation to disclose;
				<ol>
					<li>
						{{ MM }}
						{{ BMPA }}
						{{ UPB }}
						{{ OPB }}
					</li>
				</ol>
			</li>
						<br>

			<li>
				It is incumbent upon a competent property professional to execute a full disclosure of all and any factor that may reasonably be determined to be important for a prospective property purchaser to consider when evaluating a property for purchase.
				<ol>
					<li>provide a contemporary {{ TA6 }} or equivalent property disclosure form completed by the vendor
					</li>
						<br>
					<li>
						disclose all documents and relevant details of any event that has effected the property or it's setting whether identified in a disclosure form or otherwise known to the {{VARS  }} <!-- TODO : need to modify injector for this term to inc. solicitor --> vendors or agents or representatives or solicitors in the sale of the property 
					</li>
						<br>
					<li>
						disclose any details concerning a dispute or disagreement that has arisen in relation to the property or it's occupation or enjoyment or protection or setting
					</li>
						<br>
					<li>
						to provide disclosure of all and any information that is required to be release to a vendor in order to comply with; the best practice advice, membership conditions, accredited professional's regulations, statutory legal obligation, or any other  a regulated standard or industry membership body protocol or industry standard 
					</li>
						<br>
					<li>
						maintain a ledger of all discplosures provided to {{VARS}} specifying;
						<br>
							<li>
								the document reference,
							</li>
						<br>
							<li>
								genesis date of the document,
							</li>
						<br>
							<li>
								date and details of any amendments made to any document where alterations have been made subsequent to the genesis / creation date 
							</li>
						<br>
							<li>
								
							</li>
						<br>
							<li>
								
							</li>zc
					</li>
						<br>
					<li>
						provide with respect to each; {{UPB}},  {{OPB}} {{VARS}}, a name record of each recipient of disclosue detailing; 
						<br>
							<ol> 
								<li>
								the date when each disclosure was made to a {{UPB}} , {{OPB}}, {{VARS}},
								</li> 
									<br>
								<li>
									preserve copy of correspondence accompanying the disclosure,
								</li> 
									<br>
								<li>
									record the method of conveyance of the disclosure and any accompanying communication,
								</li> 
							</ol>
					</li>
				</ol>
			</li>
		<br>
			<li>
				The vendor {{NHB}} of the property [[FFH]] is obliged to formally make known to any person or organisation acting in a representative capacity including any; {{VARS}};
				
			</li>
		<br>
			<li>
				Where it becomes apparent to the {{FFHO}} and or {{VARS}} that a material character or condition or defect and or attribute effecting the property exists that was not previously expressly or presented within a prior {{DPM}} it is incumbent upon the foregoing to make those facts known to any person that has;
				<br>
					<ol>
						<li>
							previously pursued an enquiry in relation to the property {{FFH}} , 
						</li>
							<br>
						<li>
							received prior {{DPM}} in relation to {{FFH}},
						 {{DPM}} , 
						</li>
							<br>
						 <li>received prior {{DPM}} in relation to {{FFH}},
						 {{DPM}} , 
						</li>
					</ol> 	
			</li>
		<br>
			<li>
				Where {{FFHO}} {{NHB}} and or a {{PMA}} namely {{MAMPA}} and or {{VARS}} become aware of a {{MC2DPM}} an obligation will arise when providing an updated disclosure to clarify  each change or update added to the {{DPM}} ;
				<br>
					<ol>
						<li>
							provide a summary sheet of all amendments to the {{PMA}} , 
						</li>
							<br>
						<li>
							provide a reference to any document previously released that will be effected by the {{MC2DPM}},
						</li>
							<br>
						<li>
							specify when the {{MC2DPM}} took place, 
						</li>
							<br>
						<li>
							identify any apparent or known implications that may arise in relation to the property as a consequence of the {{MC2DPM}} , 
						</li>
					</ol>	
			</li>

			<li>
				The {{FFHO}} property speculator {{NHB}} and or a {{PMA}} namely {{MAMPA}} and or {{VARS}} become aware of a {{MC2DPM}} and has implemented administration or other measures as a consequence thereto, it is incumbent upon these parties to ensure any party representing the property to provide;
				<br>  
					<ol>
						<li>
							a clear factual statement identifying each {{MC2DPM}} together with any supporting documentation to clarify measures and or procedures and or administration that has been executed in response to a qualifying {{MC2DPM}} arising.
						</li>
					</ol>
						<br>
					<ul>
						under previous ownerships it has been acceptable to enter onto the garden to undertake necessary maintenance when the house is unoccupied (as it has from time to time been due to its status as a weekend home)
					</ul>
			</li>
		<br>
			<li>
				provide a copy of each survey of FF
			</li>
		</ol>
	</ol>


</div>
<ul>
	 ie not their fault ... the vendor claims a devaluation to the property 

		.... no mention of or admission of NHB disclosure defects being responsible for any failure to attract a buyer .

		PASTE THE ACCUSATION : effectively .. The property cannot be sold for a profit because of the Respondents ... etv etc etc ,  ie not their fault ... the vendor claims a devaluation to teh property 

		.... no mention of or admission of NHB disclosure defects being responsible for any failure to attract a buyer .
</ul>
{%- set questions_data = [
	{
		"context" : "context",
		"text" : "Do the " + FFH + "",
	},
	{
		"context" : "context",
		"text" : "the real meat of the question"
	},
	{
		"context" : "context",
		"text" : "the real meat of the question"
	},
	] 
%}
{{ question_table(questions_data ) }}
					<!-- TODO : ADD INJECTOR REF: SOT} = statement of truth --> 

					<!-- TODO : ADD INJECTOR REF: PDC = public domain consumption --> 

					<!-- TODO : ADD INJECTOR REF: BOOBI = by or on behalf of or on the instruction of --> 

 					<!-- TODO : ADD INJECTOR REF: DPM = disclosure and or prospectus or marketing material --> 

					<!-- TODO : ADD INJECTOR REF: MC2DPM}} = material change to disclosure and or prospectus or marketing material --> 

					<!-- TODO : ADD INJECTOR REF: PMA = Property Managing Agent --> 

					<!-- TODO : ADD INJECTOR REF: MAMPA = Momentum Asset Management Property Agents --> 

					<!-- TODO : ADD INJECTOR REF: MCC = material character or condition or defect and or attribute effecting the property exists --> 

					<!-- TODO : ADD INJECTOR REF: RDDP = Reputable Due Diligence Procedure -->

					<!-- TODO : ADD INJECTOR REF: APAI = Appropriate and Proportionate Additional Enquiries -->
					