<div>
	<h>Facts</facts>
		<br>
			<h> Defamation published on Facebook "Post" titled : RURAL GOUDHURST</h>
				<ol>
					<h> Origin of the Facebook "Post" titled : RURAL GOUDHURST, £625,000.</h>
						<br>
							<li>
								The Estate agent {{ MM }} was appointed as agent to market {{FFH}} on behalf of the property speculator company {{ NHB }}
								<br>
									<ol type="a">
										<li>
											It is unknown if {{MM}} was appointed by {{NHB}} or {{ MMAM }} or in what capacity either of the aformentioned act and trade us {{ NatHB }}
										</li>
											<br>
										<li>
											It is not known exactly what date {{ MM }} was appointed to market the property {{ FFH }} ,
										</li>
											<br>
										<li>
											All other details regarding the appointment of {{MM}} their contract or their instruction are unknown
										</li>
											<br>
										<li>
											{{MM}} website states that the company employ social media platforms such as Facebook to market property
										</li>
											<br>
										<li>
											{{MM}} appear to be the publisher and admin for the Facebook "Post" that is no identified as the location of defamatory statements
										</li>
									</ol>
							</li>
						<br>
					<h>   Facebook "Post" ID containing Defamatory statements </h>
						<br>
							<li>
								The defamation has been created and published on the social media platfom FACEBOOK.
								<br>
									<li>
										<!-- TODO : we will need to find out exact times -->
										At some point () a Facebook "post" was created with-in the 'Anything Goudhurst. Information, Buy & Sell, Jobs' facebook page which has a unique facebook group ID assigned to it.
										<br>
											<ol type="a">
												<li>
													Facebook page ID : 1407219799529947
												</li> 
													<br>
												<li>
													Facebook page URL : https://www.facebook.com › groups › 1407219799529947 › permalink › 4078744169044150Anything Goudhurst. Information, Buy & Sell, Jobs. - Facebook
												</li> 
													<br>
												<li>
													RURAL GOUDHURST, £625,000. Located in an idylic and rural location a four bedroom (2 bath/shower rooms) detached listed farmhouse occupying gardens and grounds extending to just under ½ an acre nestled within the Weald countryside adjacent to Bedgebury Forest. Furnace Farm House is believed to date from around 1500's and retains a wealth of period features including inglenook fireplaces ...
												</li>
											</ol>
									</li>
								<br>
							</li>

						<!-- TODO : key layout laid out will need proper wording -->

					<h>   Nature and chartacter of Defamatory statements </h>
						<br>
							<li>
								The nature and chartacter of the statements published on the Facebook "post" reveal the spirit and intent of the authors or content and publisher of the "post".
								<br>
									<ol type="a">
										<li>
											nature of comments and posts unflattering
										</li>
											<br>
										<li>
											opening statement on post is a negative commentary perpetuated by a single beligerant un-named author using an anonymous handle to conceal thier ID
										</li>
											<br>
										<li>
											the negative statement published as the opening headline for the "post" set a hostile environment and sentiment intended to encourage similarly cast narratives and ultimately succeeded in stimulating a chain reaction of further negative and defamatory comments
										</li>
											<br>
									</ol>
								The language used in the statements are written with specific direction and intent the impact of which will have been known to the authors.
									<br>
								These comments include
									<ol type="a">
										<br>
											<ul>
												untrue statements about identified parties in a community amounting to Slander 
											</ul>
												<br>
											<ul>
												threats, insitement and encouragement of violence against identified parties
											</ul>
												<br>
											<ul>
												defamatory comments intended to degrade identified parties in the eyes of both;
												<br>
													<ol type="i">
														<br>
															<li>
																the memebers of the community
															</li>
														<br>
															<li>
																the wider audience in the area or internationally
															</li>
														<br>
															<li>
																any person engaged with the identified persons in business 
															</li>
													</ol>
											</ul>
										</li>
						<!-- TODO :  will need proper wording -->
							<br>
						<li>
							Presuming that in the very least with the case of threats of violence against persons ({{ OH }} and {{ EH }}) the commenters do not personally know this type of behaviour can be characterised as persons operating under the Online dis-inhibition effect

						</li>
					<br>
			</li>
				<br>
			<li>
				The publishing of anonymised posts dis-inhibit the publisher with the effect that statements submitted will;
					<br>
						<ol type="i">
							<li>
								be substantially more aggressive than those requiring justification & scrutiny of the author if thier identify had been known
							</li>
								<br>
							<li>
								tend towards emotive and provocative sentiment to dramatise content intended to incite a reaction from others
							</li>
								<br>
							<li>
								be characterised by statements and content the publisher would not otherwise use or would be fearful of using
							</li>
								<br>
							<li>
								contain content that could if otherwise attributable to the author be capable of causing embrrassement, reputional harm or consequences deriving from defamatory statements
							</li>
								<br>
							<li>
								exhibit greater propensity to;  accept, engage, encourage, condone, incite and participate in narratives that would be avoided but for the publisher's anonymity
							</li>
						</ol>
			</li>
				<br>
			<li>
				<h> Dis-inhibition behaviour exhibited by social media users</h>
					<br>
						<li>
							The oscola citation of authors Leonie Rösner and Nicole C. Krämer is a highly respected academic treatise identifying the behavioural characteristics of publishers of content on social media platforms.
						</li>
							<br>
						<li>
							{{
								oscola_citation(
									authors = "Leonie Rösner and Nicole C. Krämer",
									title = "Verbal Venting in the Social Web: Effects of Anonymity and Group Norms on Aggressive Language Use in Online Comments",
									url = "https://journals.sagepub.com/doi/10.1177/2056305116664220",
									doc_type = "Research article",
									year = "2016"
								) 
							}}
						</li>
				<br>

				
			</li>
		</ol>
</div>