<div>
  <h2>Facts</h2>

  <h3>Defamation published on Facebook "Post" titled: RURAL GOUDHURST</h3>

  <ol>

    <li>
      <h4>Origin of the Facebook "Post" titled: RURAL GOUDHURST, £625,000</h4>
      <p>
        The Estate agent {{ MM }} was appointed as agent to market {{ FFH }} on behalf of the property speculator company {{ NHB }}
      </p>
      <ol type="a">
        <li>
          <p>It is unknown if {{ MM }} was appointed by {{ NHB }} or {{ MMAM }} or in what capacity either of the aforementioned act and trade as {{ NatHB }}.</p>
        </li>
        <li>
          <p>It is not known exactly what date {{ MM }} was appointed to market the property {{ FFH }}.</p>
        </li>
        <li>
          <p>All other details regarding the appointment of {{ MM }}, their contract or their instruction are unknown.</p>
        </li>
        <li>
          <p>{{ MM }} website states that the company employ social media platforms such as Facebook to market property.</p>
        </li>
        <li>
          <p>{{ MM }} appear to be the publisher and admin for the Facebook "Post" that is now identified as the location of defamatory statements.</p>
        </li>
      </ol>
    </li>

    <li>
      <h4>Facebook "Post" ID containing Defamatory statements</h4>
      <p>The defamation has been created and published on the social media platform FACEBOOK.</p>
      <!-- TODO: we will need to find out exact times -->
      <p>At some point () a Facebook "post" was created within the 'Anything Goudhurst. Information, Buy &amp; Sell, Jobs' Facebook page which has a unique Facebook group ID assigned to it.</p>
      <ol type="a">
        <li>
          <p>Facebook page ID: 1407219799529947</p>
        </li>
        <li>
          <p>Facebook page URL: https://www.facebook.com/groups/1407219799529947/permalink/4078744169044150 — Anything Goudhurst. Information, Buy &amp; Sell, Jobs. - Facebook</p>
        </li>
        <li>
          <p>RURAL GOUDHURST, £625,000. Located in an idyllic and rural location a four bedroom (2 bath/shower rooms) detached listed farmhouse occupying gardens and grounds extending to just under ½ an acre nestled within the Weald countryside adjacent to Bedgebury Forest. Furnace Farm House is believed to date from around 1500's and retains a wealth of period features including inglenook fireplaces ...</p>
        </li>
      </ol>
      <!-- TODO: key layout laid out will need proper wording -->
    </li>

    <li>
      <h4>Nature and character of Defamatory statements</h4>
      <p>The nature and character of the statements published on the Facebook "post" reveal the spirit and intent of the authors of content and publisher of the "post".</p>
      <ol type="a">
        <li>
          <p>Nature of comments and posts unflattering.</p>
        </li>
        <li>
          <p>Opening statement on post is a negative commentary perpetuated by a single belligerent un-named author using an anonymous handle to conceal their ID.</p>
        </li>
        <li>
          <p>The negative statement published as the opening headline for the "post" set a hostile environment and sentiment intended to encourage similarly cast narratives and ultimately succeeded in stimulating a chain reaction of further negative and defamatory comments.</p>
        </li>
      </ol>
      <p>The language used in the statements are written with specific direction and intent the impact of which will have been known to the authors.</p>
      <p>These comments include:</p>
      <ul>
        <li>
          <p>Untrue statements about identified parties in a community amounting to Slander.</p>
        </li>
        <li>
          <p>Threats, incitement and encouragement of violence against identified parties.</p>
        </li>
        <li>
          <p>Defamatory comments intended to degrade identified parties in the eyes of both:</p>
          <ol type="i">
            <li>
              <p>The members of the community.</p>
            </li>
            <li>
              <p>The wider audience in the area or internationally.</p>
            </li>
            <li>
              <p>Any person engaged with the identified persons in business.</p>
            </li>
          </ol>
        </li>
      </ul>
      <!-- TODO: will need proper wording -->
    </li>

    <li>
      <p>Presuming that in the very least with the case of threats of violence against persons ({{ OH }} and {{ EH }}) the commenters do not personally know, this type of behaviour can be characterised as persons operating under the Online dis-inhibition effect.</p>
    </li>

    <li>
      <p>The publishing of anonymised posts dis-inhibit the publisher with the effect that statements submitted will:</p>
      <ol type="i">
        <li>
          <p>Be substantially more aggressive than those requiring justification &amp; scrutiny of the author if their identity had been known.</p>
        </li>
        <li>
          <p>Tend towards emotive and provocative sentiment to dramatise content intended to incite a reaction from others.</p>
        </li>
        <li>
          <p>Be characterised by statements and content the publisher would not otherwise use or would be fearful of using.</p>
        </li>
        <li>
          <p>Contain content that could if otherwise attributable to the author be capable of causing embarrassment, reputational harm or consequences deriving from defamatory statements.</p>
        </li>
        <li>
          <p>Exhibit greater propensity to; accept, engage, encourage, condone, incite and participate in narratives that would be avoided but for the publisher's anonymity.</p>
        </li>
      </ol>
    </li>

    <li>
      <h4>Dis-inhibition behaviour exhibited by social media users</h4>
      <p>The OSCOLA citation of authors Leonie Rösner and Nicole C. Krämer is a highly respected academic treatise identifying the behavioural characteristics of publishers of content on social media platforms.</p>
      <p>
        {{
          oscola_citation(
            authors = "Leonie Rösner and Nicole C. Krämer",
            title = "Verbal Venting in the Social Web: Effects of Anonymity and Group Norms on Aggressive Language Use in Online Comments",
            url = "https://journals.sagepub.com/doi/10.1177/2056305116664220",
            doc_type = "Research article",
            year = "2016"
          )
        }}
      </p>
    </li>

  </ol>
</div>
