<div>
	<h>Facts</facts>
		<ul>
			<li>
				The Estate agent MansellMactaggart was appointed as agent in an to attempt to sell {{FFH}}
				<ul>
					It is unknown if {{MM}} wass appointed by {{NHB}} or {{ MMAM }} or in what capacity either of the afformentioned act and trade us {{ NatHB }}
				</ul>
			</li>
		</ul>
</div>