{% macro question_table(table_data, table_heading = "Facts to be Established") %}

	<caption>{{ table_heading }}</caption>
	<table>
	{% for question in  table_data %}
		<tr>
			<td>
				{{ question.context }}
			</td>
			<td>
				{{ question.text }}
			</td>
		</tr>
	{% endfor %}
	</table>
{% endmacro %}


{#  {{ general_table(table_data) }}  #}

{% macro general_table(table_data, table_heading = "Facts to be Established") %}

	<caption>{{ table_heading }}</caption>
	<table>
	{% for row in  table_data.content %}
		<tr>
			{% for item in row %}
			<td>
				{{ item }}
			</td>
			{% endfor %}
		</tr>
	{% endfor %}
	</table>
{% endmacro %}