<div>
	<ol type="1">
		 <P>
		 	<h2> </h2>
				<br>	
					 <li>
					 	Issues arising, FAO: 
					 	<br>
					 		<ol type="1">
					 			<li>
					 				ODT Solitor; Joad
					 			</li>
					 				<br>
					 			<li>
					 				ODT Principles & Officers;
					 				<br>
					 					<ol type="i">
					 						<br>
					 							<li>
					 								AA
					 							</li>
					 						<br>
					 							<li>
					 								BB
					 							</li>
					 						<br>
					 							<li>
					 								CC
					 							</li>
					 					</ol> 
					 			</li>
					 		 </ol>
					 </li> 
		 		<br>
		 </P>
		 <p>
		 	<h2></h2>
		 </p>
		 <p>
		 	<h2> Conduct contrary to the Solicitors Regulatory Authority rules</h2>
		 		<br>
				 	<h2> ODT knowledge of client intent and activity to undertake criminal endeavours</h2>
				 		<br>
				 			<li>
				 				It is apparent ODT had an advanced awarenesss that it's client NHB Investments Ltd intended to engage in the criminal conduct and failed to either advise the client to desist or otherwise apprehend the conduct. 
				 			</li>
				 				<br>
				 			<li>
				 				The unlawful acts known to ODT and planned and engaged by their client NHB Investments Ltd are;
				 				<br>
					 				<ol type="a">
					 					<li>
					 						engaging into a conspiracy to commit theft,
					 					</li>
					 						<br>
					 					<li>
					 						soliciting with and engaging a third party to identify additional co-conspirators to undertake one or more thefts,
					 					</li>
					 						<br>
					 					<li>
					 						soliciting with co-conspirators to plan the supply of equipment and manpower to undertake one or more thefts of equipment and chattels
					 					</li>
					 						<br>
					 					<li>
					 						soliciting with co-conspirators to plan the disposal and or sale of stolen equipment subsequent to one or more thefts of equipment and chattels
					 					</li>
					 					<li>
					 						instructing or permitting co-conspirators to commit aggrevated trespass by way of entering onto secured private land without the consent of the proprietor for the purpose of identifying chattels to be stolen amounting to a positive action pursuant to a conspiracy to commit theft
					 					</li>
					 				</ol>

					 				<h2> Aggrevating factors </h2> 
					 					<br>
					 						<li>
					 							The conduct of ODT in this matter demonstrates a subjective awareness of their client NHB Investments Ltd's intent to enter into;
					 							<br> 
					 								<ol type="i">
					 										<li>
					 											a criminal conspiracy to plan to commit theft of chattels from Furnace Farm
					 										</li>
					 											<br>
					 										<li>
					 											the criminal act of undertaking a theft of chattels from Furnace Farm
					 										</li>
					 						</li>
					 							<br>
					 						<li>
					 							ODT's awareness is demonstrated by;
					 						</li>
					 							<br>
						 							<ol type="a">
						 								<li>
						 									ODT's letter communication dated December 2025 referring to a threat of chattels located upon Furnace Farm being removed by NHB Investments Ltd,
						 								</li>
						 									<br>
						 								<li>
						 									the absense of any communication from ODT specifying any instruction or intent by their client (NHB Investments Ltd) to limit the interferance of chattels to only chattels forming a trespass upon NHB Investments Ltd land (notwithstanding that there are none), and to warrant that no interference would be planned or engaged with chattels located upon Furnace Farm (being land not owned by ODT's client)
						 								</li>
						 									<br>
								 						<li>
								 							the absense of any communication from ODT specifying any instruction or intent by their client (NHB Investments Ltd) to store (and make available for return) any chattels removed from Furnace Farm should they be removed resulant of a self-help remedy enacted by NHB Investments Ltd. 
								 							<br>
								 								<li>
								 									and thus the intent of NHB Investments Ltd (and any co-conspirator) to permanently deprive  proprietors of possessions located upon Furnace Farm in full knowledge of ODT
								 								</li> 
								 						</li>
								 							<br>
								 						<li>
								 							the intent of the co-conspirator to dispose of removed possessions demonstrates an intent to profit from the endeavour of removing any chattel private property and further confirms intent to permanently deprive benefit of possession
								 						</li>
								 							<br>
								 						<li>
								 							ODT have seemingly not advised it's client to refrain from engaging in the criminal conduct to which ODT were made aware, an assumption formulated upon the actuality that agent acting for NHB Investemnts Ltd ahve entered 
								 						</li>
								 							<br>
								 						<li>
								 							ODT have failed to provide appropriate disclosure of their client's compromised management and governance status arising from NHB Investments Ltd's intimate relationship with a person with substantial control of the company that has been convicted of repetitive pre-meditated fraud, successfully apprehanded and prosecuted.
								 						</li>
								 					</ol>
											</li>
					 					 
			<h2> ODT knowledge of client intent to commit criminal endeavours and actions thereto</h2>
				 		<br>
				 			<li>
				 				It is apparent that ODT had an advanced awareness that it's client NHB Investments Ltd intended to engage in the criminal conduct and failed to either advise the client to desist or otherwise apprehend the conduct. 
				 			</li>
				 				<br>
				 			<li>
					 			It is apparent that ODT would have had sufficient awareness and foresight that the conduct warned in their communications would entail conduct amounting to conspiracyc to theft and the execution of such plans as may have been prepared would result in several criminal offences taking place;
					 			<br>
					 				<ol type="I">
					 					<li>
					 						planning the involvement of other persons and soliciting assistance to undertake the plan: criminal offence of conspiracy to commit theft
					 					</li>
					 						<br>
					 					<li>
					 						planning the removal of chattels belonging to another without consent with the intent of permanently depriving another of their possessions: criminal offence of conspiracy to theft
					 					</li>
					 						<br>
					 					<li>
					 						planning the disposal of stolen goods: criminal offence of handling stolen goods
					 					</li>
					 				</ol>
					 			
				 			</li>
				 			<li>
				 				The torduous acts known to ODT and planned and engaged by the NHB Investments Ltd in connecton with criminal conduct are;
				 				<br>
					 				<ol type="a">
					 					<li>
					 						instructing or permitting co-conspirators to commit aggrevated trespass entering onto secured private land for the purpose of identifying chattels to be stolen amounting to a positive action pursuant to a conspiracy to commit theft
					 					</li>
					 				</ol> 
				 			</li>
 <p>
 	<h2> Compliance with; regulatory codes of conduct, compliance standards, professional obligations </h2>
 		<br>
 			<li>
 				ODT are required to comply with a range of professional standards and regulated codes of conduct intended to protect the integrity of the legal profession and safeguard the interests of the public be they clients or recipient of service.
 			</li>
 				<br>
 			<li>
 				It is considered that the foregoing in conjunction with evidence gathered to date demonstrate that ODT have failed to maintain the standards required of them by the SRA.
 			</li>
 				<br>
 			<li>
 				It is considered that the foregoing in conjunction with evidence gathered to date demonstrate that ODT have failed to maintain the standards required of them by The Law Society.
 			</li>
 				<br>
 			<li>
 				It is considered that the foregoing in conjunction with evidence gathered to date demonstrate that ODT have failed to maintain the standards required of them by Profesional Indemnity underwriters providing cover for legal professionals operting in England and Wales.
 			</li>
		 			<ol></ol>

		 			<li>
		 				It appears that conduct engaged by the claimant (NHB Investments Ltd) which has evidently be known to their legal representatives ODT amounts to a illegal conduct and the commissioning of crime.
		 			</li>
		 				<br>
		 			<li>
		 				A requirement to provide a referral to the Solicitors Regulatory Authority / SRA has therefore engaged.
		 			</li>
		 				<br>
		 			<li>
		 				A requirement to provide a referral to the The Law Society has therefore engaged.
		 			</li>
		 				<br>
		 			<li>
		 				A requirement to disclose allagations of misconduct to Professionl Indemnity underwriters at the eariest opportunity and espcially with policy proposal forms (especially given the proximity of April renewal) has therefore engaged.
		 			</li>
		 				<br>
		 			<li>
		 				A requirement to provide a referral to law enforcement authorities to seek a charging decision from the CPS once the cycle of gathering evidence is complete has therefore engaged.  
		 			</li>
		 				<br>
		 			<li>
		 				An obligation to inform the Professional Indemnity underwriters responsible for providing mandatory legal liability protection for ODT solicitors that the aforementioned referalls have been engaged is now incumbent upon the appointed risk management professional and partner acting for ODT.
		 				<br>
		 					<h2> Complaince with PI policy requirements and SRA regulations</h2>
		 						<br>
			 						<li>
			 							Obligatory administrative compliance measures fall upon ODT a result of conduct arising with it's client NHB Investments Ltd;
			 							<br>
				 							<ol type="1">
							 					<li>
							 						All policy holders undertake with the SRA to comply with all terms and conditons of PI policies to safeguard the indemnity protection afforded by the policy.
							 					</li>
							 						<br>
							 					<li>
							 						PI policy holders will immediately inform underwriters of any claim or potential claim upon the policy and or any ccomplaint regarding the conduct of the insured that may impact or prejudice the protections afforded by the policy to the insured.
							 					</li>
							 						<br>
							 					<li>
							 						An obligation rests upon the insured to notify existing and or prospective underwriters of Professional Indemnity protection policies of any conduct of the insured that may be referred to a regulator and or law enforcement agency and or is identified in a formal complaint to the insured by a third party.
							 					</li>
				 							</ol>
			 						</li>

		</p>
		<p>
			<h2>Alleged Failures</h2>
				<br>
					<h2>Allegations without merit</h2>
						<br>
							<li>
								
							</li>
				<br>	
					<h2>Disproportionate correspondence</h2>
						<br>
							<li>
								
							</li>
						<br>
							<li>
								
							</li>	
				<br>	
					<h2>Failed to take due care to undestand the issue</h2>
						<br>
							<li>
								
							</li>
						<br>
							<li>
								
							</li>	
				<br>	
					<h2>Failed to undertake due diligence</h2>
						<br>
							<li>
								 to identify ; 
		locations, 
		existance of whether trespass occuring and where and how , 
		differentiate between;  goods chattels rubbish 
		necessity to site visit or advised by an  expert to understand claim / allegation / diuspute
							</li>
						<br>
							<li>
								
							</li>	
				<br>	
					<h2>Allegations without merit</h2>
						<br>
							<li>
								
							</li>
						<br>
							<li>
								
							</li>			
		</p>

		 
		Exagerated consequences
		Disproportionate correspondence
		
		

		do any clients have any qualifications in 
			surveying
			etae agency
		is the client regulated by any professional body
			rics
			naea
				etc



		</P>
			<h2>Your Reference: XXXXX
			</h2>
				<br>
					<h>Steps required to be undertaken by; (i) {{ NHB }} , (ii) {{ FFHO }} </h>
		
		<P>
			<h2>Confirm availability and commitment to attend ADR</h2>
				<br>
					<ol type="1">
						<li>
							confirm that NHB Investments Limited intend to attend ADR
						</li>
						<li>
							confirm diary availability of NHB Investments Limited to attend ADR
						</li>
						<li>
						 	confirm whom from NHB Investments Limited would propose to engage in ADR representing NHB Investments Limited
						</li>
					</ol>
				<br>
		</P>
		<P>
			<h2>Administrative tasking and acknowledgement</h2>
				<br>
					<li>
						Respondents have received no response from; {{ ODT }} {{ NHB }} {{ FFHO }} in relation to correspondence.
					</li>                       
				<br>
					<li>
						The approach is considered to have frustrated ADR and deemed to have been a deliberate act of omission intended to sabotage a genuine effort to ,,,,,,,, understand resolve the complaints advanced by the claimant.
					</li>
				<br>
		</p>
			<br>
		<p>
			<h2> CPR : Absence of (i) engagement and (ii) Good faith </h2>
				<ol>
					<li>
						There has been an absence to act in good faith by {{ ODT }}, {{ NHB }} by way of;
						<ol> 
							<li>
								failing to acknowledge correspondence
							</li> 
							<li>
								failing to respond to administrative efforts to advance ADR
							</li>  
							<li>
								failing to attend to matters raised relating to the Letter of Claim
							</li>  
						</ol> 
					</li>
						<br>
					<li>
						{{ NHB }} conduct is deemed to contradict the spirit and intent of CPR and the pre-action protocol which directly governs and intervenes with litigant conduct.
					</li>
						<br>
					<li>
						When this matter is bought before the courts an application shall be submitted in respect to;
						<br>
							<ol type="a">
								<li>
									recovery of respondent costs,
								</li>
									<br>
								<li>
									cause to censure the litigant's conduct in relation to it's;
									<br>
									 	<ol>
									 		<li>
									 			manifest obstruction of ADR or other resolution,
									 		</li>
									 			<br>
									 		<li>
									 			hostile conduct 
									 		</li>
									 			<br>
									 		<li>
									 			demonstrable failure to adhear to CPR
									 		</li>
										 		<br>
										 	<li>
										 		abuse of process
										 	</li>
									 	</ol>	
									<br>  
								</li>
							</ol> 
					</ol>
		</p>
		<p>
			<h2> Criminal conduct : conspiracy to commit theft</h2>
				<br>
					<li>
						Evidence has been acquired of instruction provided by {{ NHB }} officers to contractors via a direct chain of command to plan to: 
						<br>
							<ol type="a">
								<li>
									enter onto {{ FF }} private land to interfere with property and chattels located there-on,
								</li>
								<li>
									clear all chattels from {{ FF }} land and  remove all items and chattels on {{ FF }} in order to deprive Respndent/s from the benefit thereto, 
								</li>
							   <li>
							   		dispose of the cleared and or removed chattels on {{ FF }} without any consideration as to value and to deprive the respondent/s thereto
							   </li>
							</ol>

					</li>  
				<br>
		</p>
		<p>
			<h2> Premeditated provocation : intended to antagonise, frustrate and distress </h2>
				<br>
					<h2>Conspiracy to commit theft </h2>
					<li>
						At first face the conduct appears to be a premeditated effort to; evaluate, plan and remove private property from Furnace Farm without legal entitlement to do so amounting to a criminal conspiracy to commi theft. 
					</li>
						<br>
					<li>
						The record of conduct evidenced to date indicates the claimant;
						<br>
							<ol type="A">
								<li>
									has established a dialogue with at least one third party encouraging or instructing them to plan the removal of chattels from Furnace Farm without consent of the property owners,
								</li>
									<br>
								<li>
									provided onee or more the third party actors with instructions to dispose of any chatels removed from Furnace Farm
								</li>
									<br>
								<li>
									gave instruction for one or more actors to enter onto Furnace Farm to reconnoiter the range and volume of chattels that were subject to the covert theft conspiracy plan 
								</li>
									<br>
								<li>
									gave sufficient instruction and or encouragement to those actors engaged by the conspiracy to commit theft to enter onto private gated and protected areas of Furnace Farm to undertake the evaluation and planning of the removal of private property without consent.
								</li>
							</ol>
						<br>
					</li>
		</p>
		<p>
			<h2>  Established websites that encourage and publish defamatory material  </h2>
				<br>
					<li>
						NHB has engaged in conduct in conjunction with its agents intended to damage the standing and reputation of the respondents;
						<br>
							<li>
								<ol type="a">
									<li>
										affecting each respondent
									</li>
									<li>
										affecting each respondent's relatives
									</li>
									<li>
										targeting each repondent's reputation and standing
									</li>
								</ol>
							
							</li>
					</li>
						
							<li>
								
							</li>
							<li>
								appear consistent with previously apprehended fraudulent conduct 
							</li>
							<li>
								are consistent with other patterns of tortuous conduct exhibited by actors acting for {{ NHB }} {{ FFHO }} in relation to the sale of {{ FFH }}
							</li>
							<li>
								are consistent with a pattern of defamation intended to demean and damage reputation
							</li>
							<li>
								bear important hallmarks of representation and disclosures amounting to a criminal deception also liable in tort
							</li>
							<li>
								amount to a deliberate trespass of land
							</li>
							<li>
								demonstrate deliberate repeated and premeditated torts by way of;
							 	<ol type="1">
							 		<li>
							 			trespass to land,
							 		</li>
							 		<li>
							 			nuisance,
							 		</li>
							 		<li>
							 			harassment and intimidation
							 		</li>
							 		<li>
							 			aggravated trespass,
							 		</li>
							 	</ol>	  
							</li>
						</ol>
					</li>
				</ol>
			</P>




							 		<li>
							 			causing defamation by;  libel, slander, and permitting an escallation and repeat publishing cycle of material that;
							 			<ol style="i">
							 				<li>
							 					is known to be untrue
							 				</li>
							 				<li>
							 					is known too be untrue and no honestly held belief exists that the statements are true
							 				</li>
							 				<li>
							 					is known to have caused reputational harm 
							 				</li>
							 				<li>
							 					is capable of insighting and or promoting continuing harm
							 				</li>
							 				<li>
							 					has demonstrable caused harm 
							 				</li>
							 				<li>
							 					has the characteristic ingredients to create an ever widening scale of harm
							 				</li>
							 				<li>
							 					can be demonstrated to be reeaching an ever increasing audience infleunced by the comments
							 				</li>
							 				<li>
							 					has the characteristics required to be evaluated under a defamation test
							 				</li>

							 				<li>
							 					meets the test of defamation in English law
							 				</li>
							 				<li>
							 					amounts to harassment and or inspiring conduct that may lead to harassment
							 				</li>
							 				<li>
							 					is capable of creating fear from intimidation and or violence by a person named and or identifiable by the published material
							 				</li>
							 				<li>
							 					results in violance and or threats to a person named and or identifiable by the published material
							 				</li>
							 				<li>
							 					results in a respondent being subjecte to adverse conduct as a result of the defamation
							 				</li>
							 				<li>
							 					amounts to defamation
							 				</li>

							 
							 		</li>
							 		<li>
							 			approving and permitting a publication hosting threats of violence against the person,
							 		</li>
							 		<li>
							 			xx 
							 		</li>
							 	</ol>
		<br>
	</div>
		
				<li>
					Clarity is awaited in respect to each of these items
				</li> 
		
		<P>
			An objective disclosure that clarifies the detail of the claimant would aid the ADR process enabling the nature of genuine complaint to be understood.
		</P>
		<P>
			A ßstatement will be required to enable any appropriate respondent to consider the  detail and merit of each complaint in respect to each discrete component. 
		</P>
		<P>
			A statement is now sought from the Directors of NHB Investments Limited that specify in relation to each component of the complaint (pursued by the Claimant) details of each of the discrete features complained of together with each specific related head of claim and alleged loss for which the Claimant seeks resolution.  
		</P>
		<P>
			Where any clearly identified component is adequately descibed in the ADR disclosure the matter may be addressed and or resolved on behalf of a Respondent; (i)  before ADR, (ii) at ADR or (iii) following ADR.
		</P>
		<h2> Overriding obligation upon the Claimant</h2> 
		<P>
			There is an overriding obligation upon the Claimant to make known to a Respondent all facts that they might necessarily need to understand all aspects of the complaint and consider what might acceptable to the plaintiff when considering how to address the letter of claim.
		</P>
		<p>
			The claimaint's burden under the overriing objective include ensuring the respondent can;
		</p>
			<ol type="1">
				<li>
					understand the Letter of Claim pursued by the Claimant,
				</li>
				<li>
					consider how the issue complained of is causing harm,
				</li>
				<li>
					enable the respondent to understand what appropriate step/s could be taken to address each complaint (and component thereto) without diminishing any 
					<ol type="a">
						<li>
							easement enjoyed by a respondent
						</li>
						<li>
							legal right enjoyed by a respondent
						</li>
						<li>
							entitlement by nature of a restriction or limitation enjoyed by a respondent as a result of any covenant limiting or restricting the rights of the claimant {{ FFHO }} and or {{ FFH }} over protected land in particular {{ FF }}
						</li>
					</ol>  
				</li>
				<li>
					understand what appropriate step/s could be taken to address the complaint without conceding an easement or right to the claimant that did not exist prior to the claimant issuing this complaint,
				</li>
				<li>
					understand how the alleged claim to have or continue to manifest a loss has been formulated and established in law by the claimant,
				</li>
				<li>
					understand how the complaint applies to each discrete feature that is captured in the claimaint's collection of photograph exhibits,
				</li>
				<li>
					understand which features captured in the claimant's collection of photograph exhibits do and do not consutitute part of the complaint in the letter of claim,
				</li>
				<li>
					understand the legal precedent in the form of CASE LAW and relevant Judicial authority if any that is relied upon by the complainant in the pursuit of this complaint and the components thereto,
				</li>
				<li>
					
				</li>
			</ol>
		<br>
		</P>
		</P>
		<P>
		1.	
		1.1	
		</P>
			<h2> Items identified in photographs </h2>
		<br>
		<p>
			The Claimant obligation to provide adequate labelling and narrative to relate photograph exhibits to the letter of claim has not yet been fullfilled.
		</p>
		<p>
			In relation to each photograph identify a feature or status from which a complaint is founded provide;
		<P>
			<ol>
				<li>
					Date the photograph was created
				</li>
				<li>
					Discrete description of item from which a cause for complaint is manifested
				</li>
				<li>
					Commencement of cause for complaint
				</li>
				<li>
					Nature of complaint
				</li>
				<li>
					Duration of complaint
				</li>
				<li>
					Status of complaint ( continuing , intermitent, apprehended)
				</li>
				<li>
					Value of loss claimed in relation to discrete item identified in complaint
				</li>
			</ol>

		<h2>Harm Arising: impacting Claimant</h2>  
		<br>
		Clarify the reason action is sought in relation to each component of claim to assist the parties seeking resolution (including the adjudicator) to fully understand the origin and nature of the harm claimed.
			
			Value of harm
		Value of loss claimed in relation to discrete item identified in complaint 
		When the claimed loss arose
		How the claimed loss was determined
		2.	Commitments proposed by the Claimants to resolve dispute

		Measures Sought from the Respondents


		2. 	Measures sought
		2.1	Where the claimaint seeks something to be done by one or more Respondents to the Claim provide a 
			

		<h2> Lawful entitlement to advance Claim against the respondents </h2>
		<p>
			Identify in each of the following circumstances the 
		</p>



		<div>
			<h2> RESPONDENT : Disclosures required for Alternative Dispute Resolution </h2>
			<p>
			<h2> Condition of Furnace Farmhouse;  </h2>
				<li> Claimant alleges Farmhouse damage </li>
				<li> Independent survey of fabric of {{ FFH }} prior to NHB  purchase completion </li>
				<ol type ="1">
					<li>
					</li>
					<li>
						External condition of the following; 

							render to walls external , 
							plaster to walls external , 
							wattle & daub to walls external,
							hung tiles
							roof tiles
							timber structure
						
							chimneys
							brickwork

							flashings
							gutters
							downpipes
							surface water drains & culverts
							soffits

							glazing
							window frames
							window casements

							render to walls internal , 
							plaster to walls internal , 
							wattle & daub to walls internal,

							render to ceilings internal , 
							plaster to ceilings internal , 
							wattle & daub to ceilings internal,

							garden drainage
							access gates
							aerial waylaves: cables, wires
							ground wayleaves: drains, culverts, pipes, cables
							boundary; fencing
							tree's, shrub/s;  roots, branches,
							neighbouring tree/s, shrub/s, roots, branches,

			<p>
				<h2> Setting of {{FFH}} ;  </h2>
					<li> 
					CLAIMANT appears to harbour a complaint regarding the appearance of {{FF}} and or the ssetting of {{FFH}} setting since acquisition 
					</li>
					<li> 
					CLAIMANT has provided random assortment of photographs that are unlabelled and without narrative or adequate reference t text with the exception of a letter denoting the order of supply.
					</li>
					<li>
						Specify the following information relating to the complaint;
							<ol type ="1">
								<li>
									photograph narrative to each discrete featute explaining relevance to complaint
								</li>
								<li>
									definitively identify photogrphed feature/s purportedly in relation to each discrete head of complaint
								</li>
								<li>
									identify; regulation, rule , or other insstrument that is reelevant to the founding of the head of complaint
								</li>
								<li>
									 harm arising from each discrete feature
								</li>
								<li>
									evaluation standard and or principle/s applied determine harm arising from each discrete photographed feature
								</li>
								<li>
									duration of harm attributable to feature;  genesis date,  termination date
								</li>
								<li>
									precise class and nature harm that is claimed to have arisen from each feature
								</li>
								<li>
									financial loss incurred resulting from each identified feature
								</li>
								<li>
									the harm that arises from the identified feature in the photograph
								</li>
								<li>
									 legal entitlement relied upon by CLAIMANT to issue complaint regarding each identified feature
								</li>
								<li>
									easement or contractual or other binding agreement providing authority to owners or occupiers of {{FFH}} to object to each discrete feature
								</li>
								<li>
									 identify ; easement or contractual or other binding agreement, authority,  the CLAIMANT relies upon to found and or continue the complaint 
								</li>
								<li>
									 date EACH discrete feature now complained of was identified and first communicated to the RESPONDENTS in the form of a complaint 
								</li>
								<li>
									 case law relied upon to found complaint relating to each discrete complaint
								</li>
							</ol>
			</p>
								
		<h2> Marketing and Disclosure material allied to {{ FFH }} sale
			<p>
				Sale of {{ FFH }} carries an implicit obligation to provide to a prospective purchaser all information that is held that could influence a decision to purchase or any part of a negotation thereto.
			</p>

			DONT GIVE AWAY DEFENCE COMPONENTS & STRATEGY 
			<p>
				The claim alledges {{NHB}} together with {{ MAM }} and {{ MM }} failure to sell {{ FFH }} is due to factors specified in claim.  It is necessary to identify 
			</p>
										<li>
									 case law relied upon to found complaint relating to each discrete complaint
								</li>
							</ol>
			</p>
	</ol>
</div>							
