
<p>
	{{rotate_90}}
	<p>
		An image taken in a broadly easterly direction up a track that leads towards concrete yard that forms a part of {{ FF }}.
		Image has been taken from the edge of the access track to {{ FFH }} at a distance of some 50m from the entrance of the property.
	</p>
	<br>
	<p>
		The fore ground of the image contains wooden material in the bottom left that had the image been taken from aa position of several steps backwards along the access track would have revealed was part of the sign direction deliveries destined for {{ FF }}
		<ol>
			<li>
				It is unknown how this is a risk to the health and safety of the public
			</li>
			<li>
				It is unknown how this is causing {{ FFH }} nuisance
			</li>
			<li>
				It's functional requirement to {{ FF }} makes it's unsightliness irrelevant however the term is subjective in any case
			</li>
		</ol>
	</p>
	<p>
		The far edge of the image at approximately three fifths down from the top of the image contains a stack of small timber. The stack in question consists of tropical hard wood that were once made up to form pallets for the movement of stone paving. The pallets have been recycled back into wooden batons by carefully removing nails in order to be use for various tasks as seen fit. There nature as a hardwood makes them very resilient to rot and thus storing them discretely under the red dogwood bush is not problematic. locationally they near the corner of the intersection of the private track owned by {{ FF }} to which {{ FFH }} does not have a right of way, to the  private track owned by {{ FF }} to which {{ FFH }} does have a right of way.
		<ol>
			<li>
				They at no point are on the right of way enjoyed by {{ FFH }} ergo it is difficult to see in what way they cause {{ FFH }} a nuisance and a specific reasoning will need to be provided if any.
			</li>
			<li>
				The timber in the context of an area that is outside of the actual view of the {{ FFH }} title is difficult to consider unsightly especially when:
				<ol type="a">
					<li>
						taking into account the subjective nature of the term unsightly
					</li>
					<li>
						taking into account that they represent potentially useful and materials
					</li>
					<li>
						taking onto account that they are not within view of the {{ FFH }} title only within view of it's right of way to which it does not have any right of a view only a right of access which is not blocked.
					</li>
					<li>
						had specific and legitimate concerns been raised about this specific item the {{ FHO }}s views could have been accommodated where {{ FF }} were inclined such as moving the timber to a new position however {{ FFH }} would need to be mindful
						<ol type = "i">
							<li>
								{{ FF }} is under no obligation to do so
							</li>
							<li>
								It appears any location where a representative of {{ NHB }} could see the displaced timber would seem to be unreasonable
							</li>
							<li>
								No compelling reason has been given as to why moving material to a position where it may not be convenient or would be less convenient would be necessary
							</li>
						</ol>
					</li>
				</ol>
			</li>
			<li>
				It is not understood how these components consist of a risk to the public
			</li>
			<li>
				Timbers in question were in situ previous to {{ HNB }} purchase of {{ FFH }} did it is therefore assumed that the nature of these items as nuisance and health and safety risks were raised during the conveyance and {{ NHB }} will be able to provider evidence of such
			</li>
		</ol>

	</p>
	<br>
	<p>
		At approximately three fifths down from the top of the image and one fifth in from the right of the image can be seen a wooden pallet leaning on an empty red 25l plastic barrel; The barrel is hard to see because of the way the pallet is leaned on it at what would from the recollection of {{ OH }} and {{ EH }} have been about 70 degrees.<br>
		Items are placed at approximately 2m from the edge of the right of way enjoyed by {{ FFHO }}.
	</p>
	<li>
		Items operationally prevent the access down the track that forms the predominant focus of the image.
	</li>
	<li>
		It's unclear as to how these items are a risk to public health and safety
	</li>
	<li>
		it is unclear how these items represent a nuisance
	</li>
	<li>
		The items in themselves are not unsightly with the red plastic of the barrel being obscured by the faded natural wood colour of the pallet however this is purely subjective and does no change the operational purpose of the items.
	</li>
</p>
<p>
	Up and very slightly left of the aforementioned pallet which forms the barrier to access to the track which forms the focus of the image is a dark blue Mitsubishi.<br>
	Important facts to be known about the vehicle are:
	<ol>
		<li>
			The vehicle is fully operational and runs and drives in both high and low ratio gears.
		</li>
		<li>
			The vehicles breaks are fully operational and maintained from time to time as required.
		</li>
		<li>
			The vehicle previously while being used off road has rolled over resulting in
			<li = type="a">
				a damaged front windscreen
			</li>
			<li>
				the dislodging and removal of some of the front cosmetic components
			</li>
			<li>
				the loss of the back left window
			</li>
		</li>
		<li>
			the vehicle does not have an mot and is not taxed as it at no point is used off of private property however is inspected before use
		</li>
		<li>
			On an unknown date of summer 2025 the vehicle was vandalized and the fuel was removed from the tank and is awaiting repairs where it now sits at the entrance to the track.
			When access by a vehicle is currently needed to the yard behind the vehicle must be dragged out with another vehicle or tractor unit. The vehicle is however not abandoned as claimed by {{ NHB }}.
		</li>
	</ol>
	<br>
	The vehicle when not being used to move materials around {{ FF }} is often parked on the track that forms the main subject of NHBE-a at one point or the other as a more immovable barrier to restrict access down the track to the concrete yard behind.
	<ol>
		<li>
			It is unclear how the vehicle is a health and safety risk to the public
		</li>
		<li>
			It is unclear in what capacity the vehicle is a nuisance
		</li>
		<li>
			It is unclear how the relevant aesthetic of an operational vehicle that is stored in a place not visible from the title of {{ FFH }} is relevant to {{ NHB }}
		</li>
	</ol>
</p>