
<p>
	Exhibit is taken from a similar or the same position as Exhibit NHBE-a however the focus is instead in a more south-east-east direction down the right of way enjoyed by {{ FFH }} which forms the main access to the property.
</p>
<br>
<p>
	The image does not seem to highlight any significant features that were not present in NHBE-a however does show that the items described in NHBE-a are not infringing upon the track and do not restrict it's access in such a way as to cause a nuisance.
</p>
<br>
<p>
	The greenery that forms the hedging on the edges of the track would appear to be infringing reasonably far into the right of way however gauging an exact width of the accessible path is difficult from the image. If {{ NHB }}
</p>
