
<p>
	Exhibit is taken from a similar or the same position as Exhibit NHBE-a however the focus is instead in a more south-east-east direction down the right of way enjoyed by {{ FFH }} which forms the main access to the property.
</p>
<br>
<p>
	The image does not seem to highlight any significant features that were not present in NHBE-a however does show that the items described in NHBE-a are not infringing upon the track and do not restrict it's access in such a way as to cause a nuisance.
	<br>
	Observations competing against the likelihood of a nuisance;
	<ol type="i">
		<li>
			width of the track is not obstructed in any way
		</li>
		<li>
			the surface and condition of the farm access track is consistent with its functional character and performance requirement, 
		</li>
		<li>
			the width of the track is at all times wider than each narrow constrained section of access track West of {{ FF }} over which the {{ FFHO }} passes to reach {{ FFH }},
		</li>
		<li>
			there are NO other discernable elements in the photograph Exhibit NHBE-b that could even ambitiously with the greatest creative license imaginable be concluded to found a claim of nuisance,
		</li>
		<li>
			 given the primative nature of technology and sociatal lack of empathy in conjunction with the many unfathomable mysteries of our great universe it is maybe possible there may be something invisible causing a nuisance that only magic people can see? Or maybe this allegation is , (in the words of Mr Tumnus from "The Lion the Wiitch and the Wardrobe", or maybe it was "Wimbledon") Absolutely bollox!
		</li>
	</ol>
</p>
<br>
<p>
	The greenery that forms the hedging on the edges of the track would appear to be infringing reasonably far into the right of way however gauging an exact width of the accessible path is difficult from the image. If {{ NHB }}
</p>
