<div>
	<p>
		In regard to the angle with which the photo is take from it appears (unless the photographer is of an exceedingly tall height) That the photographer was either standing on an unknown object to artificially increase their height for the purpose of taking the photo or was using some sort of equipment (e.g selfie stick) to otherwise extend the distance from the user that the photo could be taken fro,
	</p>
</div>
<P>
	The main subject of the image consists of a photo taken at the entrance of a field that forms part of FF known as the moat {# may not want to bring the moat into description #} and the two vehicles that are currently parked blocking said entrance which is also barred and separated from the track that forms the entrance to the track owned by {{ FF }} and over which {{ FFH }} has a right of access by a pair of heras rail fences.
	<ol>
		<li>
			It unknown how the secured fence that prevents unauthorized access is a risk to public health and saefty
		</li>
		<li>
			It is unknown how The fence which does not intrude upon the right of way enjoyed by {{ FFH }} is a nuisance
		</li>
		<li>
			It is unknown how unsightliness which is in any case a subjective term is relevant to {{ FFH }} especially considering it can not actually be seen from the {{ FFH }} title, Especially considering it is doing the functional task of limiting access to {{ FF }} property
		</li>
	</ol>
	<div>
		<p>
			The Entrance to the field is secured by one or more large and immovable barriers when required to prevent unauthorised access that past years has resulted in;
			<ol type="i">
				<li>
					Fly-tipping of hundreds of tyres
				</li>
				<li>
					Dumping of plastics & contaminated waste
				</li>
				<li>
					Damage to protected features
				</li>
				<li>
					Criminal damage
				</li>
				<li>
					Theft
				</li>
			</ol> 
		</p>
		<p>	
			Presently the field is blocked by a Mercedes 814 7.5 tonne plated Heavy Goods Vehicle Exempt class agricultural flat-bed vehile currently outfitted with specialist equipment.
		</p>
				
			<p>The vehicle was moved onto the property of FF in approximately 2020 {# TODO collect documentation eo help build picture of vehicles use format #}at which point it was actively </p>
		</p>
	</div>
</P>
