<p>
	Exhibit NHBE-c is an image taken pointing in an approximately westerly direction. The right hand side of the image in the lower quarter shows a portion of the access track which {{ FFH }} enjoys a right of way over.
	<br>
	<p> at the far extent of the view along the track (absolute position ref: <strong>NHBE-c-gridded</strong> <i>I-6</i> ) is parked a burgundy van type vehicle (exact make and model unclear) that is presumably operated by an actor working on behalf of {{ NHB }} in some capacity unknown. Following the strict interpretations laid down by {{ NHB }} this vehicle is causing an obstruction and a nuisance by parking on it's a right of way instead of using it for it's intended purpose to pass and re-pass.</p>
	<br>
	<p>Where the left hand side on the lower quarter depicts a concrete yard that forms part of {{ FF }}, the yard has a large amount of tall grass growing around it and at some places on it that from the given angle prevent viewing of the actual concrete that forms the basis of the yard</p>
	
</p>
<br>
<p>
	approximately half way down the image a third in from the right in the foreground is an IBC although it is positioned in from the access track in a way as to prevent vehicles from entering onto the yard as is common practice
</p>
<ol>
	<li>
		{{ risk_itinerary(
			"figure_ref",
			"Item_spec",
			"grid_ref"
			) }}
		<ol>
			<li>
				
			</li>
		</ol>
		The nature and severity of risk identified by {{ NHB }}
		<ul>
			<li>
				It does not infringe upon public access
				The exhibit does not identify an IBC container that could be considered to infringe upon the farm track;

										<li>
											eliminates rust and sharps throughout service life
										</li>
										<li>
											spot-welded eliminates weakness, sharps and failures associated with bolts
										</li>
										<li>
											round corners to all extrusions in fabrication to eliminate sharp corners
										</li>
										<li>
											impat resistent design to accmodate impact without creating sharps and laceral injury
										</li>
									</ol>
								</li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
							</ol>
					</li>
					consist of smooth rounded injection molded seamless metallic caging that are not seemingly an immediate hazard to anyone.
				{# Picture Required #}
				</ol>
			</li>
		</ul>
	</li>
	<li>
		It is unclear in what capacity the IBC is a nuisance
	</li>
	<li>
		It is unclear how a usable undamaged container on a concrete yard is waste materials
	</li>
</ol>
<p>
	{# TODO: flesh this out with proper reasoning #}
	behind the previously described IBC is a white mercedes sprinter van outfitted with a chiller unit. The van has formally been used by {{ EH }} to transport prepared goods from farms operated by {{ EH }} to market.
</p>
