{# defamation_act_sec.5_web_operators.jinja #}


<p>
	<h1>Defamation act 2013 section 5 Website Operators</h1>
		<br>
			<li>
			</li>
</p>
<p>
	<h1>Defamation act 2013 section 5 Website Operators</h1>
		<br>
			<li>
				<p>
					<h1> Operators of websites </h1> 
						<ol type="1">
							<li>
								(1)This section applies where an action for </b><b>defamation</b> is brought against the <b> operator </b> of a <b>website</b> in respect of a <b>statement <b>posted</b> on the <b>website</b>.
								<br>
									<h> Defined terms : Compliance checklist<h>
										<ol>
											<br>
												<li>
													<b><i>operator</i></b>
												</li>
											<br>
												<li>
													<b><i>website</i></b>
												</li>
											<br>
												<li>
													<b><i>statement</i></b>
												</li>
											<br>
												<li>
													<b><i>posted</i></b>
												</li>
											<br>
										</ol>
							</li>
						</ol>
					<br>
				</p>
				<p>
				<h> Operator Defence</h>
					<br>
						<li>	
							(2)It is a defence for the operator to show that it was not the operator who posted the statement on the website.
						</li>
					<br>
						<li>	
							(3)The defence is defeated if the claimant shows that—
							<br>
								<ol type="a">
									<li>
										(a)it was not possible for the claimant to identify the person who posted the statement,
									</li>
								<br>
									<li>	
										(b)the claimant gave the operator a notice of complaint in relation to the statement, and
									</li>
								<br>
									<li>	
										(c)the operator <b>failed to respond</b> to the <b>notice of complaint</b> in accordance with any provision contained in regulations.
									</li>
								</ol>
							<br>
					<br>
				<h> Identification of </h>
						<li>	
							(4)For the purposes of subsection (3)(a), it is possible for a claimant to “<b> identify </b>” a person only if the claimant has <b>sufficient information</b> to bring proceedings against the person.
						</li>
					<br>
						<li>	
							(5)Regulations may—
							<ol type="a">
								<br>
									<li>	
										(a)<b>make provision</b> as to the <b>action required</b> to be taken by an operator of a website in response to a <b>notice of complaint</b> (which may in particular include action relating to the <b>identity</b> or <b>contact details</b> of the <b>person who posted the statement</b> and <b>action relating to its removal</b>);
									</li>
								<br>
									<li>	
										(b)make provision specifying a <b>time limit</b> for the taking of any such action;
									</li>
								<br>
									<li>	
										(c)make provision conferring on the court a discretion to treat action taken after the expiry of a time limit as having been taken before the expiry;
									</li>
								<br>
									<li>	
										(d)make any other provision for the purposes of this section.
									</li>
								<br>
							</ol>
						</li>
					
						<li>	
							(6)Subject to any provision made by virtue of subsection (7), a notice of complaint is a notice which—
							<ol type="a">
								<br>
									<li>
										(a)<b>specifies the complainant's name</b>,
									</li>
								<br>
									<li>	
										(b)sets out the <b>statement concerned</b> and <b>explains why it is defamatory</b> of the complainant,
									</li>
								<br>
									<li>	
										(c)<b>specifies where on the website the statement was posted </b>, and
									</li>
								<br>
									<li>	
										(d)<b> contains such other information as may be specified in regulations</b>.
									</li>
								<br>
							</ol>
						</li>		
					</ol>	
						<li>	
							(7)Regulations may make provision about the circumstances in which a notice which is not a notice of complaint is to be treated as a notice of complaint for the purposes of this section or any provision made under it.

							(8)Regulations under this section—
							<ol type="a">
								<br>
									<li>
										(a)may make different provision for different circumstances;
									</li>
								<br>	
									<li>
										(b)are to be made by statutory instrument.
									</li>
								<br>	
							(9)A statutory instrument containing regulations under this section may not be made unless a draft of the instrument has been laid before, and approved by a resolution of, each House of Parliament.
						</li>
						<li>
							(10)In this section “<b>regulations</b>” means regulations made by the Secretary of State.
						</li>
						<li>
							(11)The defence under this section is defeated if the claimant shows that the operator of the website has <b>acted with malice</b> in relation to the posting of the statement concerned.
						</li>
						<li>
							(12)The defence under this section is not defeated by reason only of the fact that the operator of the website <b>moderates the statements posted on it by others</b>.
						</li>
					<br>

		<h> Commencement Information </h>
			<br>
		I1	S. 5 in force at 1.1.2014 by S.I. 2013/3027, art. 2
					</li>
</p>