<h1>defamation Act 2013 : Resolve action required</h1>
<p>
	<h1> Section 1 <h1>

</p>

<p>
	<h1> Section 2</h1>
</p>


<p>
	<h1> Section 5 </h1>
<br>	
		<h> Subsections </h>
			<ol type="1">

				<li>
					(1)This section applies where an action for defamation is brought against the operator of a website in respect of a statement posted on the website.
					<br>
					<h> Website operator test<h>
						<br>
							<li>
								Is the respondent an operator of a website or online portal or resource that has published the statement claimed to be defamation?
							</li>
				</li>
			<br>
				<li>
					(2)It is a defence for the operator to show that it was not the operator who posted the statement on the website.
					<br>
					<h> did operator post statement test <h>
						<br>
							<li>
								Did the operator of the website identified by the claimant post or publish the statement/s claimed to be defamation?
							</li>
				</li>
			<br>
				<li>
					(3)The defence is defeated if the claimant shows that—
					<br>
						<ol type="a">
							<li>
								(a)it was not possible for the claimant to identify the person who posted the statement,
								<ol type="i">


"identifier": "can_claimant_id_statement_maker_sufficient",
                            "question_set": "true",
                            "question_numbering": "",
                            "question_title":  "Can the claimant determine the identify of the person who posted the statement?",
                            "sub_q_other_text": "is the information sufficient for the claimant to issue a claim without further verification of ID and searches for contact details",
                            "sub_questions": [
                                {} ]
									<li>
										Can the claimant determine the identify of the person who posted the statement?
									</li>
			<li>					
				# "if" YES
			</li>	

"identifier": "can_claimant_id_statement_maker_sufficient",
                            "question_set": "true",
                            "question_numbering": "",
                            "question_title":  "Can the claimant identify sufficient verified information about the person who posted the statement to issue a claim?",
                            "sub_q_other_text": "provide the email address used to manage the user account",
                            "sub_questions": [
                                {} ]

			<li>					
				# "if" NO
			</li>

"identifier": "id-statement_maker_detail",
                            "question_set": "true",
                            "question_numbering": "",
                            "question_title":  "provide the verified identity and contact details of the user responsible for posting the statement",
                            "sub_q_other_text": "provide the email address used to manage the user account",
                            "sub_questions": [
                                {} ]

									<h> Identity test <h>
										<br>
											<li>
												Can the claimant reasonably verify the identity of the person that posted the statement?
											</li>

			<li>					
				# "if" NO
			</li>
									<h> Identity test <h>
										<br>
											<li>
												Can the claimant reasonably verify the identity
											</li>
									<li>
										S
									</li>
								</ol>
							</li>
								<br>
							<li>
								(b)the claimant gave the operator a notice of complaint in relation to the statement, and
							</li>
								<br>
							<li>
								(c)the operator failed to respond to the notice of complaint in accordance with any provision contained in regulations.
							</li>
						</ol>
					<br>
				<li>
					(4)For the purposes of subsection (3)(a), it is possible for a claimant to “identify” a person only if the claimant has sufficient information to bring proceedings against the person.
				</li>
			<br>
				<li>
					(5)Regulations may—
					<ol type="a">
						<br>
							<li>
								(a)make provision as to the action required to be taken by an operator of a website in response to a notice of complaint (which may in particular include action relating to the identity or contact details of the person who posted the statement and action relating to its removal);
							</li>
						<br>
							<li>
								(b)make provision specifying a time limit for the taking of any such action;
							</li>
						<br>
							<li>
								(c)make provision conferring on the court a discretion to treat action taken after the expiry of a time limit as having been taken before the expiry;
							</li>
						<br>
							<li>
								(d)make any other provision for the purposes of this section.
							</li>
						<br>
					</ol>
				</li>
				<li>
					(6)Subject to any provision made by virtue of subsection (7), a notice of complaint is a notice which—
					<br>
						<ol type="a">
							<li>
								(a)specifies the complainant's name,
							</li>
						<br>
							<li>
								(b)sets out the statement concerned and explains why it is defamatory of the complainant,
							</li>
						<br>
							<li>
								(c)specifies where on the website the statement was posted, and
							</li>
						<br>
							<li>
								(d)contains such other information as may be specified in regulations.
							</li>
						</ol>
					<br>
				</li>
				<li>
					(7)Regulations may make provision about the circumstances in which a notice which is not a notice of complaint is to be treated as a notice of complaint for the purposes of this section or any provision made under it.
				</li>
					<br>
				<li>
					(8)Regulations under this section—
				</li>
					<br>
				<li>
					(a)may make different provision for different circumstances;
				</li>
					<br>
				<li>
					(b)are to be made by statutory instrument.
				</li>
					<br>
				<li>
					(9)A statutory instrument containing regulations under this section may not be made unless a draft of the instrument has been laid before, and approved by a resolution of, each House of Parliament.
				</li>
					<br>
				<li>
					(10)In this section “regulations” means regulations made by the Secretary of State.
				</li>
					<br>
				<li>
					(11)The defence under this section is defeated if the claimant shows that the operator of the website has acted with malice in relation to the posting of the statement concerned.
				</li>
					<br>
				<li>
					(12)The defence under this section is not defeated by reason only of the fact that the operator of the website moderates the statements posted on it by others.

					Commencement Information

					I1	S. 5 in force at 1.1.2014 by S.I. 2013/3027, art. 2
				</li>
			</ol>
				<li>
					
				</li>